<div class="container">
  <h1>Reports</h1>
  <form method="GET" action="/reports/orders">
    <legend>List orders</legend>

    <div class="form-group">
      <label>Status</label>
      <select name="status">
        <option value="">All</option>
        <option value="pending">Pending</option>
        <option value="submitted">Submitted</option>
        <option value="canceled">Canceled</option>
        <option value="accepted" selected>Accepted</option>
        <option value="denied">Denied</option>
      </select>
      <label>Sort</label>
      <select name="sort">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
      <label>Region</label>
      <select name="region">
        <option value="0">All</option>
        {{#each regions}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>Payment Status</label>
      <select name="payment_status">
        <option value="">All</option>
        <option value="pending">In Progress</option>
        <option value="paid">Paid</option>
        <option value="invoiced">Invoiced</option>
        <option value="ignore">ignore</option>
        <option value="error">error</option>
      </select>
      <label>Payment Method</label>
      <select name="payment_method">
        <option value="">All</option>
        <option value="credit-card">Credit Card</option>
        <option value="invoiced">Invoiced</option>
      </select>
    </div>

    <div class="form-group">
      <label>By</label>
      <select name="range">
        <option value="datetime">Delivery Date</option>
        <option value="submitted">Date Submitted</option>
        <option value="accepted">Date Accepted</option>
      </select>
    </div>

    <div class="form-group">
      <label>Start Date</label>
      <input class="datepicker" name="startDate">
      <label>Start Time</label>
      <input class="timepicker" name="startTime">
    </div>

    <div class="form-group">
      <label>End Date</label>
      <input class="datepicker" name="endDate">
      <label>End Time</label>
      <input class="timepicker" name="endTime">
    </div>

    <div class="form-group">
      <label>User ID</label>
      <input class="text" name="userId">
      <label>Restaurant ID</label>
      <input class="text" name="restaurantId">
    </div>

    <button class="btn btn-primary" type="submit">Generate .csv</button>
  </form>

  <form method="GET" action="/reports/users">
    <legend>List users by register date</legend>
    <div class="form-group">
      <label>Receives Promotion Emails</label>
      <input type="checkbox" name="receives_promos">
    </div>
    <label>Start</label>
    <input class="datepicker" name="start">
    <label>End</label>
    <input class="datepicker" name="end">
    <button class="btn btn-primary" type="submit">Generate</button>
  </form>

  <form method="GET" action="/reports/redemptions">
    <legend>List user redemptions</legend>
    <div class="form-group">
      <label>User ID</label>
      <input class="text" name="userId">
    </div>
    <button class="btn btn-primary" type="submit">Generate</button>
  </form>
</div>

{{#extend "scripts"}}
<script>
  require([
      'utils'
    ]
  , function(utils) {
      $('.datepicker').pickadate({
        format: 'yyyy-mm-dd'
      });
      $('.timepicker').pickatime();
    }
  );
</script>
{{/extend}}
