{{#extend "page"}}page-restaurant-payments{{/extend}}

{{#extend "body"}}
<h2>Restaurant Payments</h2>
<p>
  <form class="form-restaurant-payments">
    <div class="form-group">
      <div class="input-group input-group">
        <div class="input-addon">$</div>
        <input type="number" step="0.01" placeholder="10.50" class="input-amount form-control">
      </div>
    </div>
    <button class="btn btn-primary">Submit Payment</button>
  </form>
</p>
<p>
  <div class="table-list table-restaurant-payments">
    <div class="list-header">
      <div class="component list-info">
        <div class="num-results">Past Payments</div>
      </div>
    </div>
    <div class="list-items">
      {{#each payments}}
      {{> admin_restaurant_payment_row }}
      {{/each}}
    </div>
  </div>
</p>
{{/extend}}


{{#extend "scripts"}}

<script>
require( ['app/views/admin/restaurant-payment-view', 'app/models/restaurant'], function( RestaurantPaymentView, Restaurant ){
  var view = new RestaurantPaymentView({
    el: '.page-restaurant-payments'
  , form: '.form-restaurant-payments'
  , list: '.table-restaurant-payments'
  , restaurant: new Restaurant({{{json restaurant}}})
  });
});
</script>
{{/extend}}
