{{#extend "page"}}page-restaurant{{/extend}}

{{#extend "body"}}
  <marquee><h2>{{restaurant.name }} Dashboard</h2></marquee>
  <p>It's happening!!!!!</p>

  <h3>Notes</h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Added</th>
      <th>Comment</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>4/20/2015</td>
      <td>The quick brown fox jumped over the dog.</td>
      <td>Preston</td>
    </tr>
    <tr>
      <td>4/18/2015</td>
      <td>wat is happening</td>
      <td>Paul</td>
    </tr>
  </tbody>
</table>
{{/extend}}

{{#extend "scripts"}}
<script>
</script>
{{/extend}}
