{{#extend "body"}}
  <h2>Delivery Hours</h2>

  <form class="ap-form ap-lead-times form-vertical form-delivery-settings" action="/restaurants/{{restaurant.id}}/edit" method="POST">
    <input type="hidden" name="_method" value="PUT">

    {{#each restaurant.delivery_times}}
    <div class="delivery-time">
      <div class="col-day">{{weekday @key}}</div>
      <div id="delivery-hours-{{@key}}" class="hours-day col-times">
        {{> hours_day }}
      </div>
    </div>
    {{/each}}

    <h2>Lead Times</h2>
    <div class="lead-times-list">
      {{#each restaurant.lead_times}}
      {{> lead_time}}
      {{/each}}
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-tertiary add-lead-time">
        Add Restriction</button>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        Update</button>
    </div>
  </form>
{{/extend}}

{{#extend "scripts"}}

<script>
  require( ['app/pages/admin/restaurant/edit-lead-times', 'app/models/restaurant'], function( page, Restaurant ){
    page.init({
      models: {
        restaurant: new Restaurant({{{json restaurant}}})
      }
    });
  });
</script>
{{/extend}}