{{#extend "page"}}page-home{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <h1>Welcome to the Goodybag WizWog Panel</h1>

  <section class="panel-component" id="admin-portal">
    <h2 class="panel-title">Click a link below to begin your journey</h2>
    <ul>
      <li><a href="/admin/restaurants">Restaurants</a></li>
      <li><a href="/admin/delivery-services">Delivery Services</a></li>
      <li><a href="/admin/restaurant-plans">Restaurant Plans</a></li>
      <li><a href="/admin/regions">Regions</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/analytics">Analytics</a></li>
      <li><a href="/admin/upcoming">Upcoming Orders</a></li>
      <li><a href="/admin/scheduler">Scheduler</a></li>
      <li><a href="/admin/promos">Promos</a></li>
    </ul>
  </section>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  // require( ['app/pages/admin-home'], function( page ){
  //   page.init({

  //   });
  // });
</script>
{{/extend}}
