{{#extend "html-title"}} Kitchen Sink{{/extend}}
{{#extend "page"}}page-kitchen-sink{{/extend}}

{{#extend "body"}}
<section class="page-section" id="section-intro">
  <div class="container intro">
    <h1>Welcome to the Goodybag Kitchen Sink</h1>
    <p class="lead">It's a bit dirty, it doesn't drain very quickly, and - oh? Not that kitchen sink? Right! This is the place where we test out and document UI Components.</p>
  </div>
</section>

<section class="page-section" id="section-dropdowns">
  <div class="container">
    <h2 class="component-title">Dropdowns</h2>
    <div class="dropdowns-list">
      <div class="doc-dropdown-item">
        <h5 class="item-title">Plain</h5>
        <button class="gb-dropdown btn btn-default">
          regions
          <ul class="gb-dropdown-items">
            <li>Austin, TX</li>
            <li>Houston, TX</li>
            <li>Dallas, TX</li>
            <li>San Antonio, TX</li>
          </ul>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="section-typeahead">
  <div class="container">
    <h2 class="component-title">Autocomplete</h2>
    <label for="autocomplete">Search orders</label>
    <input class="component-autocomplete" id="autocomplete" type="text" placeholder="Search orders">
  </div>
</section>
{{/extend}}

{{#extend "scripts"}}
<script>

  require(['jquery-loaded'], function($){


    var options = {
      rateLimit: 500 // ms
    , endpoint: '/api/orders/search'
    };

    var $autocomplete = $('#autocomplete');
    var update = _.throttle(function(){ 
      var query = { q: $autocomplete.val() };
      $.ajax({
        url: options.endpoint
      , data: query
      , success: function(data, status, xhr) {
          console.log(data);
        }
      });
    }, options.rateLimit);
    $autocomplete.on('input', update);
  });
</script>
<script>
  require(['jquery-loaded'], function($){
    var tmpl = function( data ){
      return [
        '<div class="section-decorator-block animated-out">'
      , '</div>'
      ].join('\n');
    };

    var options = {
      numDecorators: 80
    , blockDelay: 15
    };

    $(function(){
      var $container = $('<div class="section-decorators"></div>');

      for ( var i = 0; i < options.numDecorators; ++i ){
        var $el = $(tmpl());
        $container.append( $el );

        setTimeout(
          $el.removeClass.bind( $el, 'animated-out' )
        , i * options.blockDelay
        );
      }

      $('#section-intro').append( $container );

      $(window).one('scroll', function(){
        $('.section-decorator-block').each(function( i ){
          var $el = $(this);
          setTimeout(
            $el.addClass.bind( $el, 'animated-out-reverse' )
          , i * options.blockDelay
          );
        });
      });
    });
  });
</script>
{{/extend}}