{{#extend "html-title"}}New Plan{{/extend}}
{{#extend "page"}}page-restaurant-plan{{/extend}}

{{#extend "page-head"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>
      <a href="/admin/restaurant-plans">Restaurant Plans</a>
    </li>
    <li>New</li>
  </ul>

  <h1 class="page-title">Create Restaurant Plan</h1>
</div>
{{/extend}}

{{#extend "nav-col"}}
{{> admin_restaurant_plans_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<h2>Basic Info</h2>

<form id="create-item-form"
  action="{{sidebarNav.baseUrl}}"
  method="POST"
  class="form ap-form form-vertical">
  {{> admin_restaurant_plans_basic_info_form}}
</form>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['item-form'], function( form ){
    form.on('item:saved', function( model ){
      window.location.href = '{{sidebarNav.baseUrl}}/' + model.get('id');
    });
  });
</script>
{{/extend}}
