{{!-- 
This email is to notify goodybaggers that an asap order was placed
--}}
<section style="text-align: left; margin: 0 20px;">
  <h2>Goodybag ASAP Order #{{order.id}}</h2>
  <a href="/orders/{{order.id}}">View order here</a>
</section>
