{{!-- 
This email is to notify goodybaggers that an asap order has not been
accepted by the delivery service
--}}
<section style="text-align: left; margin: 0 20px;">
  <h2>Goodybag ASAP Order #{{order.id}} needs attention!</h2>
  <p>The delivery service has not accepted this delivery. Please contact asap!</p>
  <a href="{{config.baseUrl}}/orders/{{order.id}}">View order here</a>
</section>
