{{!--
This email is to notify goodybaggers that a ds order was placed
--}}
<section style="text-align: left; margin: 0 20px;">
  <h2>Goodybag DS Order #{{order.id}}</h2>
  <a href="{{config.baseUrl}}/orders/{{order.id}}">View order here</a>
</section>
