{{#extend "body"}}
  <table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
      <td style="width: 100%; padding-top: 2px; padding-bottom: 22px">
        <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42"><span style="color: #D9534F; font-weight: 500">Important!</span> Order payment was rejected</h1>
      </td>
    </tr>
  </table>

  <a href="{{config.baseUrl}}/orders/{{order.id}}" style="font-size: 16px; font-weight: 300; color: #1155cc">Click here to view order</a>
{{/extend}}