{{#extend "title"}} - Order Accepted {{/extend}}
<div class="page container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h3>You have accepted Order #{{order.id}}!</h3>
    </div>
  </div>
</div>