{{#extend "title"}} - Order Already Accepted {{/extend}}
<div class="page container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h3>You have already accepted Order #{{order.id}}, no further action is needed!</h3>
    </div>
  </div>
</div>