html, body {
  background-color:     @body-bg-color;
  font-family:          @font-family-base;
  font-size:            @font-size-base;
  font-weight:          @font-weight-base;
  line-height:          @line-height-base;
  color:                @color-base;
  letter-spacing:       @letter-spacing-base;
}

* {
  position: relative;
  .box-sizing( border-box );
}

a, span {
  position: static;
}

a {
  text-decoration: none;
  color: darken( @brand-primary, 20% );
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

code {
  display: block;
  width: 100%;
  padding: 10px 12px !important;
  text-shadow: none;
  overflow: scroll;
}

.container {
  #grid > .container();
}

.row {
  #grid > .row();
}