/////////////
// Buttons //
/////////////

@btn-padding-base:
  @btn-padding-top-base
  @btn-padding-right-base
  @btn-padding-bottom-base
  @btn-padding-left-base;

@btn-padding-large:
  @btn-padding-top-large
  @btn-padding-right-large
  @btn-padding-bottom-large
  @btn-padding-left-large;

.btn {
  display: inline-block;
  border: none;
  border-style: solid;
  border-width: @btn-border-width-base;
  border-radius: @btn-border-radius-base;
  background: transparent;
  padding: @btn-padding-base;
  font-family: @btn-font-family;
  font-size: @btn-font-size;
  line-height: @line-height-small;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4px;

  &:hover {
    text-decoration: none;
  }
}

.btn-large {
  font-size: @btn-large-font-size;
  line-height: @line-height-base;
  padding: @btn-padding-large;
  border-width: @btn-border-width-large;
  letter-spacing: 1.3px;
}

// button with icon
.btn[data-icon] {
  // Icons take up some of the spacing
  // so balance the padding a bit
  padding-top: @btn-padding-top-base - 1px;
  padding-bottom: @btn-padding-bottom-base - 1px;
  padding-right: @btn-padding-right-base - 8px;
}

.btn.btn-large[data-icon] {
  // Icons take up some of the spacing
  // so balance the padding a bit
  padding-top: @btn-padding-top-large - 3px;
  padding-bottom: @btn-padding-bottom-large - 3px;
  padding-right: @btn-padding-right-large - 8px;
}

.btn[data-icon]:after {
  .icon-font();
  content: "";
  font-size: 22px;
  vertical-align: middle;
  margin-left: 14px;
}

.btn-large[data-icon]:after {
  font-size: 30px;
  margin-left: 24px;
}

.btn-default {
  .brand-btn( transparent, @gray-light, 1 );
}

.btn-primary {
  .brand-btn( @brand-primary, @white );
}

.btn-secondary {
  .brand-btn( @brand-secondary, @white );
}

.btn-tertiary {
  .brand-btn( @brand-tertiary, @white );
}

.btn-blank {
  border-color: transparent;
  &:hover {
    background-color: transparent;
  }
}