/////////////
// Buttons //
/////////////

@btn-padding-base:
  @btn-padding-top-base
  @btn-padding-right-base
  @btn-padding-bottom-base
  @btn-padding-left-base;

@btn-padding-large:
  @btn-padding-top-large
  @btn-padding-right-large
  @btn-padding-bottom-large
  @btn-padding-left-large;

@btn-padding-small:
  @btn-padding-top-small
  @btn-padding-right-small
  @btn-padding-bottom-small
  @btn-padding-left-small;

.btn {
  .btn();
}

.btn-large {
  font-size: @btn-large-font-size;
  line-height: @line-height-base;
  padding: @btn-padding-large;
  font-weight: @light;
}

.btn-small {
  font-size: @btn-small-font-size;
  line-height: @line-height-base;
  padding: @btn-padding-small;
  font-weight: @bold;
}

.btn-block {
  display: block;
  width: 100%;
  font-size: @font-size-small;
  line-height: @line-height-small;
  padding: @btn-padding-small;
  font-weight: @semibold;
}

.btn-default {
  .brand-btn( @white );
  border-width: @btn-border-width-base;
  border-bottom-width: @btn-border-width-base + 1;
  color: @color-base;
}

.btn-primary {
  .brand-btn( @brand-primary, @white );
}

.btn-secondary {
  .brand-btn( @brand-secondary, @white );
}

.btn-tertiary {
  .brand-btn( @brand-tertiary, @white );
}

.btn-save{
  .brand-btn( #6fc96a, @white );
}

.btn-share {
  .brand-btn( @yellow, darken(@yellow, 30%) );
}

.btn-blank {
  border-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

.btn-icon {
  // TODO: modularize this more
  font-size: 24px;
  padding-left: @btn-padding-left-base - 10;
  padding-right: @btn-padding-right-base - 10;

  &.btn-small {
    padding-left: @btn-padding-left-small - 10;
    padding-right: @btn-padding-right-small - 10;
  }
}