///////////
// Forms //
///////////

@input-padding-base:
  @input-padding-top-base
  @input-padding-right-base
  @input-padding-bottom-base
  @input-padding-left-base;

@input-padding-small:
  @input-padding-top-small
  @input-padding-right-small
  @input-padding-bottom-small
  @input-padding-left-small;

@btn-padding-small:
  @btn-padding-top-small
  @btn-padding-right-small
  @btn-padding-bottom-small
  @btn-padding-left-small;

label {
  display: block;
  font-weight: @semibold;
  font-size: @font-size-small + 1;
}

// Whitelist all input types except checkbox, radio
input[type="button"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="filepicker"],
select,
textarea {
  display: block;
  width: 100%;
  height: @input-base-height;
  box-sizing: border-box;
  border-radius: @input-border-radius;
  border: solid @input-border-color @input-border-width;
  padding: @input-padding-base;
  line-height: @line-height-small;
  font-size: @input-font-size;
}

select {
  height: @input-padding-top-base * 2 + @line-height-small;
}

select[size] {
  height: auto;
}

input[disabled] {
  cursor: not-allowed;
  background-color: #eee;
}

.form-group {
  display: inline-block;
  width: @input-width;
  margin-left: @gutter-width / 4;
  vertical-align: bottom;

  &.form-group-submit {
    width: auto;
  }

  &:first-child {
    margin-left: 0;
  }
}

.form-small {
  .typography('small');

  input, textarea {
    padding: @input-padding-small;
    line-height: @line-height-small;
  }

  input[type='checkbox'] {
    padding: 0;
  }

  label {
    .typography('small');
  }

  button {
    padding: @btn-padding-small;
    line-height: @line-height-small;
  }
}

.form-inline {
  display: inline;
}

.form-vertical .form-group {
  display: block;
  width: auto;
  margin-left: 0;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.form-vertical .cupcake {
  position: absolute;
  right: -200px;
  top: 48px;

  @media screen and ( max-width: @breakpoint-tablet ){
    position: static;
  }
}

.has-error .control-label {
  color: @brand-primary;
}

.has-error .form-control {
  border-color: @brand-primary;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
