///////////
// Forms //
///////////

@input-padding-base:
  @input-padding-top-base
  @input-padding-right-base
  @input-padding-bottom-base
  @input-padding-left-base;

@input-padding-small:
  @input-padding-top-small
  @input-padding-right-small
  @input-padding-bottom-small
  @input-padding-left-small;

@btn-padding-small:
  @btn-padding-top-small
  @btn-padding-right-small
  @btn-padding-bottom-small
  @btn-padding-left-small;

label {
  display: block;
  font-weight: @semibold;
  font-size: @font-size-small + 1;

  input {
    margin-right: 6px;
  }
}

// Whitelist all input types except checkbox, radio
input[type="button"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="filepicker"],
select,
textarea {
  display: block;
  width: 100%;
  height: @input-base-height;
  box-sizing: border-box;
  border-radius: @input-border-radius;
  border: solid @input-border-color @input-border-width;
  padding: @input-padding-base;
  line-height: @line-height-small;
  font-size: @input-font-size;
}

select[size],
select[multiple] {
  height: auto;
}

input[disabled] {
  cursor: not-allowed;
  background-color: #eee;
}

.form-group {
  display: inline-block;
  width: @input-width;
  margin-left: @gutter-width / 4;
  vertical-align: bottom;

  &.form-group-submit {
    width: auto;
  }

  &:first-child {
    margin-left: 0;
  }

  .error-msg {
    display: none;
  }

  &.row,
  .ap-form &.row {
    &:extend(.row);
  }
}

@media (max-width: @breakpoint-tablet) {
  .form-group {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}

.form-small {
  .typography('small');

  input, textarea {
    padding: @input-padding-small;
    height: @input-small-height;
  }

  input[type='checkbox'], input[type='radio'] {
    height: auto;
    padding: 0;
  }

  label {
    .typography('small');
  }

  .btn {
    &:extend(.btn-small);
  }
}

.form-inline {
  display: inline;
}

.form-vertical .form-group {
  display: block;
  width: auto;
  margin-left: 0;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.form-vertical > section + section:before {
  content: "";
  display: block;
  height: 1px;
  margin: 30px auto;
  border-bottom: 1px solid @palette-gray-lighter;
}

.form-vertical .cupcake {
  position: absolute;
  right: -200px;
  top: 48px;

  @media screen and ( max-width: @breakpoint-tablet ){
    position: static;
  }
}

input.input-borderless {
  display: inline-block;
  width: auto;
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.has-error .control-label,
[name].has-error,
.error .control-label,
.has-error .input-addon,
.error .input-addon,
[name].error {
  color: @brand-primary;
}

.has-error .form-control,
.error .form-control,
.has-error .input-addon,
.error .input-addon,
[name].error,
[name].has-error {
  border-color: @brand-primary;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error .error-msg {
  display: inline-block;
}

// Chrome datepicker spinner adds some extra height to the spinner
// Tried changing the height to no avail. I'm not sure why this works
// on number but not date
input[type="date"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    height: 0;
  }

  // My inputs do not expect extra padding on the text
  // Turn that shit off
  &::-webkit-datetime-edit-fields-wrapper,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    padding: 0;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 12px 0 20px;

  .fieldset-title {
    padding-bottom: 8px;
    border-bottom: solid 1px @off-gray;
  }
}

.form-control-combo {
  display: table;
  .panel;
  .panel-no-padding;

  .form-control-combo-full {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    & input { width: 100%; }
  }

  .form-control-combo-action {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
  }
}

[disabled] {
  opacity: 0.6;
}
