////////////
// Mixins //
////////////

@import "./lib/elements.less";

#grid {
  .container( @w ){
    display: table;
    width: @w;
    margin: 0 auto;

    @media screen and ( max-width: @w ){
      & {
        width: 100%;
        .standard-padding();
      }
    }
  }

  .container() {
    #grid > .container( @container-width );
  }

  .row(){
    display: table;
    width: 100%;
  }

  .col-width( @size, @gutter: @gutter-width, @prop: width ){
    @column-width: ( @container-width - ( @gutter * (@columns - 1) ) ) / @columns;
    @{prop}: (@column-width * @size) + ((@size - 1) * @gutter);
  }

  ._column( @width ){
    width: @width;
  }

  .column( @size, @gutter: @gutter-width ){
    display: block;
    float: left;
    margin-left: @gutter;
    #grid > .col-width( @size, @gutter );

    &:first-child {
      margin-left: 0;
    }

    @media screen and ( max-width: @container-width ){
      & {
        width: ( (@size / @columns) * 100% ) - 2%;
        margin-left: 2%;
      }
    }

    @media screen and ( max-width: @breakpoint-mobile ){
      & {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .column-percent( @width, @gutter: @gutter-width ){
    .column(0);
    margin-left: 0;
    padding-left: @gutter;
    width: @width;

    &:first-child {
      padding-left: 0;
    }
  }

  .nchilds-margin-left( @nchilds ) when ( @nchilds > 1 ){
    &:nth-of-type(@{nchilds}n){
      margin-left: 0;
    }
  }

  .column-grid( @size, @gutter: @gutter-width ){
    .column( @size, @gutter: @gutter-width );
    .nchilds-margin-left( floor( @columns / @size ) );
  }
}

#sections {
  .dark(){
    background-color: @gray-dark;
    color: @white;

    & a, & h1, & h2, & h3, & h4, & h5, & p {
      color: @white;
    }
  }

  .darker(){
    background-color: @gray-darker;
    color: #3E3E3E;

    & h1, & h2, & h3, & h4, & h5 {
      color: @brand-primary;
    }
  }

  .brand-primary(){
    background-color: @brand-primary;
  }

  .brand-secondary(){
    background-color: @brand-secondary;
  }
}

.typography(){
  font-size: @font-size-base;
  line-height: @line-height-base;
}

.typography( @size ) when ( @size = 'small' ){
  font-size: @font-size-small;
  line-height: @line-height-small;
}

.typography( @size ) when ( @size = 'large' ){
  font-size: @font-size-large;
  line-height: @line-height-large;
}

.reset-ul(){
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none!important;
}

.icon-font( @icon ) when ( @icon ){
  content: @icon;
  .icon-font();
}

.icon-font(){
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-awesome( @icon ){
  .icon-font( @icon );
}

.standard-padding(){
  padding-left: @gutter-width / 2;
  padding-right: @gutter-width / 2;
}

.large-padding(){
  padding-left: @gutter-width;
  padding-right: @gutter-width;
}

.transition-property( @property ){
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -ms-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.transition-property-transform(){
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.btn(){
  position: relative;
  display: inline-block;
  border: none;
  border-style: solid;
  border-width: @btn-border-width-top-base;
  border-bottom-width: @btn-border-width-bottom-base;
  border-radius: @btn-border-radius-base;
  background: transparent;
  padding: @btn-padding-base;
  font-size: @btn-font-size;
  line-height: @line-height-small;
  height: @btn-base-height;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.4px;
  vertical-align: bottom;

  &:hover {
    text-decoration: none;
  }

  > [class*="gb-icon-"] {
    vertical-align: middle;
  }

  > .gb-icon-caret-down {
    position: relative;
    bottom: -1px;
    right: -4px;
  }
}

.btn-color( @color ){
  border-color: @color;
  color: @color;
  &:hover {
    background-color: rgba( 255, 255, 255, 0.07 );
  }
}

.brand-btn( @bg, @color: @color-base, @alpha: 0.5 ){
  background-color: @bg;
  color: @color;
  &:hover {
    background-color: lighten( @bg, 2% );
  }

  &:active {
    background-color: lighten( @bg, 1% );
  }

  border-color: darken( @bg, 12% );
  border-top-color: @bg;

  & when ( @bg = @white ){
    border-color: @gray;
  }

  box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.1 );
}

// Horizontal dividers
// -------------------------
// Dividers (basically an hr) within dropdowns and nav lists
.nav-divider(@color: #e5e5e5) {
  height: 1px;
  margin: ((floor(@font-size-base * @line-height-base) / 2) - 1) 0;
  overflow: hidden;
  background-color: @color;
}

// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.animation( @easing, @duration, @name ){
  -webkit-animation: @easing @duration @name;
  -moz-animation: @easing @duration @name;
  -o-animation: @easing @duration @name;
  animation: @easing @duration @name;
}

.animation-delay( @delay ){
  -webkit-animation-delay: @delay;
  -moz-animation-delay: @delay;
  -o-animation-delay: @delay;
  animation-delay: @delay;
}

#animations {
  .fade-in() {
    from { .opacity(0) }
    to { .opacity(1) }
  }
  .slide-in-from-top( @d: -80px, @o: 0 ) {
    from { .translate( 0, @d ); .opacity(@o); }
    to { .translate( 0, 0 ); .opacity(1); }
  }
  .slide-in-from-left( @d: -500px, @o: 0 ) {
    from { .translate( @d, 0 ); .opacity(@o); }
    to { .translate( 0, 0 ); .opacity(1); }
  }
  .slide-in-from-right( @d: 500px, @o: 0 ) {
    from { .translate( @d, 0 ); .opacity(@o); }
    to { .translate( 0, 0 ); .opacity(1); }
  }
  .slide-in-from-bottom( @d: 80px, @o: 0 ) {
    from { .translate( 0, @d ); .opacity(@o); }
    to { .translate( 0, 0 ); .opacity(1); }
  }
  .slide-bg() {
    from { background-position-x: 10%; }
    to { background-position-x: 25%; }
  }
  .highlight() {
    from { background-color: #F0F75A; }
  }
}

#box {
  .display() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
  }

  .align( @orientation ){
    -webkit-box-align: @orientation;
    -moz-box-align: @orientation;
    -ms-box-align: @orientation;
    box-align: @orientation;
  }

  .orient( @orientation ){
    -webkit-box-orient: @orientation;
    -moz-box-orient: @orientation;
    -ms-box-orient: @orientation;
    box-orient: @orientation;
  }

  .pack( @orientation ){
    -webkit-box-pack: @orientation;
    -moz-box-pack: @orientation;
    -ms-box-pack: @orientation;
    box-pack: @orientation;
  }

  .flex( @val ){
    -webkit-box-flex: @val;
    -moz-box-flex: @val;
    -ms-box-flex: @val;
    box-flex: @val;
  }

  .flow( @val ){
    -webkit-flex-flow: @val;
    -moz-flex-flow: @val;
    -ms-flex-flow: @val;
    flex-flow: @val;
  }

  .ordinal-group( @group ){
    -webkit-box-ordinal-group: @group;
    -moz-box-ordinal-group: @group;
    -ms-box-ordinal-group: @group;
    box-ordinal-group: @group;
  }

  .direction( @direction ){
    -webkit-box-direction: @direction;
    -moz-box-direction: @direction;
    -ms-box-direction: @direction;
    box-direction: @direction;
  }
}

.starship-enterprise() {
  position: absolute;
  width: 600px;
  height: 177px;
  background: url('/img/enterprise.png');
}

.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;

  hr {
    border-top-color: darken(@border, 5%);
  }
  .alert-link {
    color: darken(@text-color, 10%);
  }
}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.drop-shadow {
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.va-middle {
  vertical-align: middle;
}

.font-smoothing {
  // webkit
  -webkit-font-smoothing: antialiased;

  // firefox osx
  -moz-osx-font-smoothing: grayscale;
}

.circle (@color; @diameter: 10px; @display: inline-block) {
  display: @display;
  border-radius: 50%;
  background-color: @color;
  height: @diameter;
  width: @diameter;
}
