///////////////////////////////
// Component->Site Overrides //
///////////////////////////////

#intro {
  background-position-x: 25%;

  .hero-unit-marketing-area {
    #grid > .row();
    margin-top: 74px;
    text-align: left;
  }

  .hero-unit-marketing-area > .screenshot-window {
    #grid > .column(8);
    border-bottom: none;
  }

  .hero-unit-marketing-area > .register-panel {
    #grid > .column(4);
  }

  .register-form .btn-submit {
    width: 100%;
  }
}

#section-how-it-works {
  .section-header {
    // The 3 graphics do not have a well-defined border so the
    // spacing between the header and the 'how-it-works' graphics
    // looks greater than all other sections
    // This balances that feeling out
    margin-bottom: 36px;
  }
}

#section-why-companies-love-us {
  padding-bottom: 0;

  .screenshot-window {
    #grid > .column(8);
    border-bottom: none;
  }

  .check-points {
    #grid > .column(4);
    text-align: left;
  }

  .check-points > li:last-child {
    // Ensure that we don't get some funky extra spacing at the bottom
    // of the page-section
    margin-bottom: 0;
  }
}