////////////////
// Typography //
////////////////

h1, h2, h3, h4, h5 {
  font-weight: @light;
}

h1 {
  font-size: 3.5em;
  line-height: 1em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.8em;
  font-weight: @regular;
}

h4 {
  font-size: 1.5em;
}

@media screen and ( max-width: @breakpoint-tablet ) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.2em;
  }
}

.lead {
  font-size: 1.6em;
  line-height: 1.6em;
  letter-spacing: 1.2px;
}

h1, h2 {
  & + .lead {
    margin-top: -24px;
  }
}

small {
  font-size: 0.8em;
  &.really-small {
    font-size: 0.5em;
  }
}

.page-title {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: @light;
}

.page-title + p {
  font-size: 1.1em;
  font-weight: @light;
  margin-top: -10px;
}

.lead-paragraph {
  font-size: 1.3em;
  line-height: 1.8em;
}

.header-separator {
  display: inline-block;
  background-color: @white;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 12px;
  color: @off-gray;
  z-index: 2;
}

.header-separator + hr {
  position: absolute;
  width: 100%;
  margin-top: -28px;
  border: none;
  border-bottom: solid 1px #D1D1D1;
}

em.em-primary {
  font-style: normal;
  color: @brand-primary;
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @grid-float-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}
