///////////////
// Variables //
///////////////

// Colors
////////////////////////////////////////////////////
@white:                     #fff;
@gray:                      #B7B6AD;
@gray-light:                lighten( @gray, 10% );
@gray-lighter:              lighten( @gray, 30% );
@gray-dark:                 darken( @gray, 10% );
@gray-darker:               darken( @gray, 20% );
@salmon:                    #FC8176;

@off-gray:                  desaturate( @brand-secondary, 50% );
@body-bg-color:             @white;

// Palette
////////////////////////////////////////////////////

@palette-black:         #000000;
@palette-gray-darker:   #333a43;
@palette-gray-dark:     #434a54;
@palette-gray:          #aab2bd;
@palette-gray-light:    #ccd1d9;
@palette-gray-lighter:  #e6e9ed;
@palette-white:         #ffffff;
@palette-tan:           #fbf8e7;
@palette-brown:         #ba9b65;
@palette-orange:        #f6bb42;
@palette-red:           #ed4242;
@palette-tomato:        #fc6e51;
@palette-pink:          #ed5565;
@palette-blue-dark:     #0039a1;
@palette-blue:          #5d9cec;
@palette-green:         #00916d;
@palette-green-2:       #8cc152;
@palette-green-3:       #37bc9b;
@palette-purple:        #A50080;

// Brand Colors
////////////////////////////////////////////////////
@brand-primary:             @palette-red;
@brand-secondary:           @palette-tan;
@brand-tertiary:            @palette-blue-dark;
@brand-quaternary:          #432012;

// Label Colors
////////////////////////////////////////////////////

@status-pending: @palette-orange;
@status-accepted: @palette-green-3;
@status-canceled: @palette-gray;
@status-denied: @palette-tomato;
@status-submitted: @palette-blue;
@status-delivered: @palette-blue-dark;

// Type Colors
@type-courier: @palette-tan;
@type-delivery: @palette-white;
@type-pickup: @palette-blue;

// Font Weight Constants
////////////////////////////////////////////////////
@light:                     300;
@regular:                   400;
@semibold:                  700;
@bold:                      900;

// Base Values
////////////////////////////////////////////////////
@border-radius-base:        4px;

// Type
////////////////////////////////////////////////////
@font-family-serif:         'Aleo', Georgia, serif;
@font-family-sans-serif:    'Avenir', Helvetica, sans-serif;
@font-family-monospace:     monospace;

@font-family-base:          @font-family-sans-serif;
@font-weight-base:          @regular;
@font-size-base:            14px;
@font-size-small:           @font-size-base - 3;
@font-size-large:           @font-size-base + 2;
@line-height-base:          20px;// bootstrap source defines base as a ratio
@line-height-large:         @line-height-base + 4;
@line-height-small:         @line-height-base - 4;
@line-height-computed:      @line-height-base;

@color-base:                @palette-gray-dark;
@letter-spacing-base:       0;
@anchor-color:              @brand-tertiary;
@dl-horizontal-offset:      150px;

@color-primary-text:        @palette-gray-dark;
@color-secondary-text:      @palette-gray;

// Borders
////////////////////////////////////////////////////
@border-color-primary:      @palette-gray;

// Grid
////////////////////////////////////////////////////
@container-width:           974px;
@columns:                   12;
@gutter-width:              34px;
@column-width: ( @container-width - ( @gutter-width * (@columns - 1) ) ) / @columns;

// Buttons
////////////////////////////////////////////////////
@btn-font-family:               @font-family-serif;
@btn-font-size:                 @font-size-base;
@btn-large-font-size:           @font-size-large;
@btn-small-font-size:           @font-size-small;

@btn-base-height:               40px;
@btn-small-height:              34px;
@btn-large-height:              50px;
@btn-border-width-base:         1px;

@btn-border-width-top-base:     @btn-border-width-base;
@btn-border-width-right-base:   @btn-border-width-base;
@btn-border-width-bottom-base:  @btn-border-width-base + 1;
@btn-border-width-left-base:    @btn-border-width-base;

@btn-padding-top-base:          ((@btn-base-height - (@btn-border-width-top-base + @btn-border-width-bottom-base)) / 2) + 1;
@btn-padding-right-base:        18px;
@btn-padding-bottom-base:       @btn-padding-top-base - 2;
@btn-padding-left-base:         @btn-padding-right-base;

@btn-padding-top-small:         ((@btn-small-height - (@btn-border-width-top-base + @btn-border-width-bottom-base)) / 2) + 1;
@btn-padding-right-small:       22px;
@btn-padding-bottom-small:      @btn-padding-top-small - 2;
@btn-padding-left-small:        @btn-padding-right-small;

@btn-padding-top-large:         ((@btn-large-height - (@btn-border-width-top-base + @btn-border-width-bottom-base)) / 2) + 1;
@btn-padding-right-large:       22px;
@btn-padding-bottom-large:      @btn-padding-top-large - 2;
@btn-padding-left-large:        @btn-padding-right-large;

@btn-border-radius-base:        @border-radius-base;

// Btns with border-top/bottom with width = 1
@btn-2b-padding-top-base:          ((@btn-base-height - 2) / 2) + 1;
@btn-2b-padding-bottom-base:       @btn-2b-padding-top-base - 2;

@btn-2b-padding-top-small:         ((@btn-small-height - 2) / 2) + 1;
@btn-2b-padding-bottom-small:      @btn-2b-padding-top-small - 2;

@btn-2b-padding-top-large:         ((@btn-large-height - 2) / 2) + 1;
@btn-2b-padding-bottom-large:      @btn-2b-padding-top-large - 2;


// Forms
////////////////////////////////////////////////////
@input-base-height:             @btn-base-height;
@input-small-height:            @btn-small-height;
@input-large-height:            @btn-large-height;
@input-border-width-base:       @btn-border-width-base;
@input-line-height:             @line-height-base;

@input-font-size:               @btn-font-size;
@input-base-height:             @btn-base-height;
@input-small-height:            @btn-small-height;
@input-large-height:            @btn-large-height;
@input-width:                   154px;
@input-border-radius:           @btn-border-radius-base;
@input-border-color:            @gray;
@input-border-width:            1px;

@input-base-height-computed:    @input-line-height;
@input-padding-top-base:        ((@input-base-height - @input-base-height-computed) / 2) + 1;
@input-padding-right-base:      12px;
@input-padding-bottom-base:     @input-padding-top-base - 2;
@input-padding-left-base:       @input-padding-right-base;

@input-padding-top-small:       ((@input-small-height - @input-base-height-computed) / 2) + 1;
@input-padding-right-small:     12px;
@input-padding-bottom-small:    @input-padding-top-small - 2;
@input-padding-left-small:      @input-padding-right-small;

@input-padding-top-large:       ((@input-large-height - @input-base-height-computed) / 2) + 1;
@input-padding-right-large:     12px;
@input-padding-bottom-large:    @input-padding-top-large - 2;
@input-padding-left-large:      @input-padding-right-large;

// Z-Indexes
////////////////////////////////////////////////////
@navbar-zindex:             9999;
@login-zindex:              1111;
@photo-nav-zindex:          10;

// Breakpoints
////////////////////////////////////////////////////
@breakpoint-desktop-sm:     1024px;
@breakpoint-tablet:         786px;
@breakpoint-mobile:         620px;

// Navbar
///////////////////////////////////////////////////
@navbar-height:                 58px;
@navbar-height-offset:           2px;
@navbar-mobile-factor:          0.75;
@navbar-bg-color:               @white;
@navbar-color:                  @color-base;
@navbar-logo-max-width:         138px;
@navbar-mobile-logo-max-width:  98px;
@navbar-logo-size:              46px;
@navbar-mobile-logo-size:       23px;

// Footer
///////////////////////////////////////////////////
@footer-height:             140px;
@footer-bg-color:           @navbar-bg-color;
@footer-color:              @navbar-color;

// Hero Unit
///////////////////////////////////////////////////
@herounit-bg:               url('/img/landing-hero-unit-bg.jpg');
@herounit-color:            @color-base;
// @herounit-font-size:      1em;
// @herounit-line-height:    1em;

// Check Points
///////////////////////////////////////////////////
@checkpoints-bullet-img:    url('/img/checkpoints-bullet.svg') no-repeat;
@checkpoints-bullet-img-fb: url('/img/checkpoints-bullet.png') no-repeat;
@checkpoints-bullet-offset: 32px;

// Page Sections
///////////////////////////////////////////////////
@ps-padding-top:            40px;
@ps-padding-bottom:         60px;
@pss-padding-top:           80px;
@pss-padding-bottom:        100px;

// Speech Boxes
///////////////////////////////////////////////////
@speechbox-padding-vert:    20px;
@speechbox-padding-hori:    22px;
@speechbox-padding:         @speechbox-padding-vert @speechbox-padding-hori;
@speechbox-margin:          60px;

// Logo List
///////////////////////////////////////////////////
@logo-list-margin-top:      26px;
@logo-list-margin-bottom:   26px;

// Logo List Whacky
///////////////////////////////////////////////////
@whackiness-factor:         20px;


// Alerts
///////////////////////////////////////////////////
@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-bg;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-bg;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-bg;

@alert-error-bg:              @state-error-bg;
@alert-error-text:            @state-error-text;
@alert-error-border:          @state-error-bg;

@alert-danger-bg:              @state-danger-bg;
@alert-danger-text:            @state-danger-text;
@alert-danger-border:          @state-danger-bg;

// States
@state-success-text:             #3c763d;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-error-text:               #a94442;
@state-error-bg:                 #f2dede;
@state-error-border:             darken(spin(@state-error-bg, -10), 5%);

@state-danger-text:               #a94442;
@state-danger-bg:                 #f2dede;
@state-danger-border:             darken(spin(@state-error-bg, -10), 5%);

// Bootstrap Variables
///////////////////////////////////////////////////
@border-radius-base:             4px;
@border-radius-large:            6px;
@border-radius-small:            3px;

@caret-width-base:                4px;
@caret-width-large:               5px;
@zindex-dropdown:                 1000;

@dropdown-bg:                     #fff;
@dropdown-border:                 rgba(0,0,0,.15);
@dropdown-fallback-border:        #ccc;
@dropdown-divider-bg:             #e5e5e5;

@dropdown-link-active-color:      #fff;
@dropdown-link-active-bg:         @brand-primary;

@dropdown-link-color:             @gray-dark;
@dropdown-link-hover-color:       #fff;
@dropdown-link-hover-bg:          @dropdown-link-active-bg;

@dropdown-link-disabled-color:    @gray-light;

@dropdown-header-color:           @gray-light;

@dropdown-caret-color:            #000;
@grid-float-breakpoint:           @breakpoint-tablet;

// Manifest Variables
///////////////////////////////////////////////////
@manifest-gray:                   #808080;
@manifest-gray-light:             #E6E6E6;
@manifest-page-width:             720px;
@manifest-page-height:            930px;
@manifest-page-margin-top:        0.2in;
@manifest-page-margin-bottom:     0.25in;
@manifest-page-margin-left:       0.25in;
@manifest-page-margin-right:      0.25in;

// Tables
////////////////////////////////////////////////////

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;

// Popovers
// -------------------------
@popover-bg:                          #fff;
@popover-max-width:                   276px;
@popover-border-color:                rgba(0,0,0,.2);
@popover-fallback-border-color:       #ccc;

@popover-title-bg:                    darken(@popover-bg, 3%);

@popover-arrow-width:                 10px;
@popover-arrow-color:                 #fff;

@popover-arrow-outer-width:           (@popover-arrow-width + 1);
@popover-arrow-outer-color:           rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color:  #999;
@zindex-popover:                      1010;
@popover-triangle-size:          8px;
@popover-triangle-right-offset:  16px;
@popover-triangle-left-offset:  16px;

// Close
// -------------------------

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;

// Photo Stripe
///////////////////////////////////////////////////
@photo-stripe-height:           152px;
@photo-stripe-breakpoint:       900px;

// List group
// -------------------------

//** Background color on `.list-group-item`
@list-group-bg:                 #fff;
//** `.list-group-item` border color
@list-group-border:             #ddd;
//** List group border radius
@list-group-border-radius:      5px;

// Bootstrap Variables
///////////////////////////////////////////////////
@modal-backdrop-color:           #fff;
@modal-backdrop-opacity:         0.35;
@modal-transition-time:          0.22s;
@modal-bg:                       @modal-backdrop-color;

// GB Dropdowns
///////////////////////////////////////////////////
@gb-dropdown-width:               180px;

//Z-Index Scale
///////////////////////////////////////////////////
@zIndex-1:   100;
@zIndex-2:   200;
@zIndex-3:   300;
@zIndex-4:   400;
@zIndex-5:   500;
@zIndex-6:   600;
@zIndex-7:   700;
@zIndex-8:   800;
@zIndex-9:   900;
@zIndex-10: 1000;
