{
  "testEmail": "your+email@goodybag.com"
, "testUserId": 10
, "testRestaurantId": 25
, "testPhoneSms": "XXXXXXXXXX"
, "testPhoneVoice": "XXXXXXXXXX"
, "loggingMongoConnStr": "mongodb://localhost:27017/logs"
, "restaurantStripeId": "acct_16CZlbImWewFwddn"
, "userStripeId": "cus_6UetXtr3xWGCuq"
, "paymentMethodStripeId": "card_16HfaiEQiCMC2eZ7pqrrTdPp"
}
