<footer class="footer">
  <ul class="nav footer-nav">
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/faqs">Frequently Asked Questions</a></li>
    <li><a href="/testimonials">Testimonials</a></li>
    <li><a href="/request-to-be-a-caterer">Request to be a caterer</a></li>
    <li><a href="/legal">Terms of Service</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
  </ul>
</footer>
