<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="https://d3bqck8kwfkhx5.cloudfront.net/img/logo.png" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
