<header class="navbar collapsed">
  <div class="bca-flag">10% from all orders will be donated to breast cancer research through Oct. 31!</div>
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo-breast-cancer-awareness.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>
    <div class="navbar-caption">
      <span class="full"><strong>Let us help you with your order!</strong></span> <span class="full full-number">{{phoneNumber config.phone.support}}</span>
      <span class="short">{{phoneNumber config.phone.support}}</span>
    </div>

    <button class="navbar-toggle btn btn-default btn-small" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
