{{#extend "page"}}page-users{{/extend}}

{{#extend "page-head"}}
{{> admin_user_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_user_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<div id="main-container">
  <div class="page-actions">
    <a
      class="btn btn-default"
      href="/users/{{user.id}}/session">
      Login
    </a>
  </div>
  <ul class="dl-horizontal">
    <dt>Last seen using</dt>
    <dd>{{user.user_agent_display}}</dd>
    <dt>Stripe ID</dt>
    <dd>{{user.stripe_id}}</dd>
  </ul>

  {{> admin_user_edit_form }}
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/models/user'
, 'app/views/admin/edit-user-view'
], function( User, View ) {
  var user = new User( {{{json user}}} );
  var view = new View( {
    model: user
  , el: '#users-edit'
  , patch: true
  });
});
</script>
{{/extend}}
