{{#extend "css"}}
<link rel="stylesheet" href="/css/user-settings.css">
{{/extend}}

<div class="container">

  <h1 class="text-center page-title">Manage Payment Methods</h1>
  <div class="row">
    <form class="panel col-lg-6  col-lg-offset-3" action="/users/me" method="post">
      <div class="panel-body">
        <dl class="dl-horizontal dl-payment-methods">
          <dt>Credit Cards</dt>
          <dd>
            <ul class="list-unstyled user-payments-list">
            {{#each cards }}
              <li>
                <code>{{name}}
                <strong>(..{{data.last_four}})</strong>
                </code>
              </li>

              {{> payment_method_option }}
            {{/each}}
            </ul>
          </dd>
        </dl>
      </div>
    </form>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'jquery'
    ]
  , function($) {

    }
  );
</script>
{{/extend}}