<h1 class="page-title">Oh No!</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <p class="lead">The page requested cannot be found! For you some, that means <em class="status-code">404</em>.</p>
    </div>
  </div>
</div>