<h1 class="page-title">Oh No!</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <p class="lead">Too many requests <em class="status-code">429</em>.</p>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require(['jquery']); // required for bootstrap dropdown plugin
</script>
{{/extend}}
