<h1 class="page-title">It's not you, it's me</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <p class="lead">Something went horribly wrong on our end! For some, that means <em class="status-code">500</em>.</p>
    </div>
  </div>
</div>