<div class="container">
  <h1 class="col-lg-12 page-title">Address Book</h1>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel">
        <div class="panel-body">
          <div class="list-group">
            {{#each addresses}}
              <div class="list-item">
                {{> address }}
                <hr>
              </div>
            {{/each}}
          </div>
          <a href="/users/me" class="btn btn-default">Back to settings</a>
          <a href="addresses/new" class="btn btn-primary pull-right">Add new address</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script src="/js/views/address-view.js"></script>
<script>
  var addressView = new AddressView({ el: '#main' });
</script>
{{/extend}}
