<div class="container">
  <h1 class="col-lg-12 page-title">Enter a new address</h1>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="panel">
        <div class="panel-body">
          <form method="post" action="/users/me/addresses">
            <fieldset>
              {{#if flash}}
                <div class="alert alert-success fade in">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{flash}}</strong>
                </div>
              {{/if}}
              {{> edit_address}}

              {{#if is_default}}
                <p class="text-danger">This is your default address</p>
              {{/if}}
              <a href="../addresses" class="btn btn-default pull-left">Back to Address Book</a>
              <button type="submit" class="btn btn-primary pull-right">Create Address</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
