<h1 class="text-center">Contact Us</h1>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <p class="text-center">We love Hearing from you! Please get in touch with anything at all &mdash; questions, help ideas, or just to say hello.</p>
    <div class="row">
      <h5 class="text-center">Email</h5>
      <p class="text-center"><a href="mailto:support@goodybag.com">support@goodybag.com</a></p>
    </div>
    <div class="row">
      <h5 class="text-center">Phone</h5>
      <p class="text-center">512-667-4224</p>
    </div>
  </div>
</div>
