<div class="container container-small">
  <h1 class="page-title">Create a new user</h1>
  <div class="panel">
    <form class="create-user-form" action="/users" method="post">
      <div class="panel-body">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control create-user-email" id="inputEmail" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control create-user-password" id="inputPassword" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control create-user-first-name" id="inputFirstName" placeholder="First Name" name="first_name">
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control create-user-last-name" id="inputLastName" placeholder="Last Name" name="last_name">
          </div>
          <div class="form-group">
            <label for="inputOrganization">Organization</label>
            <input type="text" class="form-control create-user-organization" id="inputOrganization" placeholder="Organization" name="organization">
          </div>
          <div class="form-group">
            <label>User Type</label>
            <div class="radio">
              <label>
                <input class="create-user-group" type="radio" name="group" id="userGroupClient" value="client" checked>
                Client
              </label>
            </div>
            <div class="radio">
              <label>
                <input class="create-user-group" type="radio" name="group" id="userGroupAdmin" value="admin">
                Admin
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary create-user-submit hide">Create User</button>
        </div>
    </form>
  </div>
</div>

{{#extend "scripts"}}
<script src="/components/amanda/releases/latest/amanda.min.js"></script>
<script src="/js/models/create-user.js"></script>
<script src="/js/views/form-view.js"></script>
<script src="/js/views/create-user-view.js"></script>
<script>
  var createUser = new CreateUserView({ el: '#main' });
</script>
{{/extend}}