{{#extend "page"}}page-error{{/extend}}

{{#extend "body"}}
<div class="container">
  {{#eq error.httpCode '401'}}
    <h1 class="page-title">Nuh-uh. No, sir!</h1>
    <p>This is a restricted area.</p>
  {{/eq}}
  {{#eq error.httpCode '404'}}
    <h1 class="page-title">We couldn't find that page!</h1>
    <p>Check the URL or make sure you are <a href="/login">Logged In</a>.</p>
  {{/eq}}

  {{#eq error.httpCode '503'}}
    <h1 class="page-title">Request Timed Out</h1>
    <p>That's not good. Either our servers may be experiencing unusually high load. Please refresh and try again.</p>
  {{else}}
    <h1 class="page-title">It's not you, it's me</h1>
    <p>Something went horribly wrong on our end. We're not pointing any fingers, but... it was <em>that</em> guy!</p>
  {{/eq}}
</div>
{{/extend}}

{{#extend "scripts"}}

{{/extend}}