{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/faqs.css"}}">
<link rel="stylesheet" href="{{cdn "/components/font-awesome/css/font-awesome.css"}}">
{{/extend}}

{{#extend "banner"}}
<div class="banner faqs-banner"></div>
{{/extend}}

<div class="page page-faqs container faqs-container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
          <h1 class="faq-header">Frequently Asked Questions</h1>

          <ol class="faq-list faq-index">
            <h2 class="faq-header">General</h4>
            <li><a href="#1">What is Goodybag?</a></li>
            <li><a href="#2">How much does it cost to use?</a></li>
            <li><a href="#3">Who makes the food?</a></li>
            <li><a href="#4">Who delivers the food, the restaurant or Goodybag?</a></li>
            <li><a href="#5">Do you deliver to my zip code?</a></li>
            <li><a href="#6">How much is the delivery fee?</a></li>
            <li><a href="#7">Do you have a rewards program?</a></li>
            <li><a href="#8">How do I create an account?</a></li>
            <li><a href="#9">How do I change my password?</a></li>

            <h2 class="faq-header">Orders</h2>
            <li><a href="#10">I need food ASAP! Can you help?</a></li>
            <li><a href="#11">How do I change my order after it's been submitted?</a></li>
            <li><a href="#12">How do I view my order after it's been submitted?</a></li>
            <li><a href="#13">Can I re-order an old order for a later date?</a></li>
            <li><a href="#14">Can I share an order with others?</a></li>
            <li><a href="#15">How do I cancel my order?</a></li>
            <li><a href="#16">Can I give a tip?</a></li>
            <li><a href="#17">Something was wrong with my order, what do I do?</a></li>

            <h2 class="faq-header">Food and Restaurants</h2>
            <li><a href="#18">Any suggestions of restaurants I should try?</a></li>
            <li><a href="#19">Is the food for groups or as individual dishes?</a></li>
            <li><a href="#20">Will caterers bring utensils, plates, napkins, etc.?</a></li>
            <li><a href="#21">Why is the full menu not listed for some restaurants?</a></li>
            <li><a href="#22">Is this drop off or full service?</a></li>
            <li><a href="#23">Can I get a tasting of a restaurant I'm unfamiliar with?</a></li>
            <li><a href="#24">I don't see my favorite restaurant, can you add it?</a></li>

            <h2 class="faq-header">Payments</h2>
            <li><a href="#25">How do I pay for orders?</a></li>
            <li><a href="#26">How do I remove a credit or debit card from my account?</a></li>
            <li><a href="#27">I used the wrong card to pay for my order, how do I change it?</a></li>
          </ol>
          <section>
            <div class="contact-header"><span class="semibold">Don't see your question?</span> Please get in touch with anything else!</div>

            <dl>
              <dt><i data-icon="gb-phone"></i> Phone </dt>
              <dd>512-667-4224</dd>
              <dt><i data-icon="gb-email"></i></dt>
              <dd>support@goodybag.com</dd>
              <dt><i data-icon="gb-chat"></i></dt>
            </dl>
          </section>

          <section>
            <h2 class="faq-header">General</h2>
            <ol class="faq-list">
              <li id="1">What is Goodybag?
                <p>Goodybag is a site for ordering catering for the office. We feature 100+ restaurants and have created a super easy process that lets companies search for and order food delivery for lunch, meetings, and events!</p>
              </li>
              <li id="2">How much does it cost to use?
                <p>It's free!</p>
              </li>
              <li id="3">Who makes the food?
                <p>We offer catering options from over 100 quality restaurants, who deliver their food right to your office.</p>
              </li>
              <li id="4">Who delivers the food, the restaurant or Goodybag?
                <p>All restaurants on our site are responsible for delivering the food.</p>
              </li>
              <li id="5">Do you deliver to my zip code?
                <p>A lot of our restaurants can deliver to most of the greater Austin area. To know exactly what restaurants can deliver to your zip, enter your zip code in the "Find Catering" bar located above the restaurant listing <a href="/restaurants">here</a>.</p>
              </li>
              <li id="6">How much is the delivery fee?
                <p>The delivery fee is different for every restaurant and zip code.</p>
              </li>
              <li id="7">Do you have a rewards program?
                <p>Yes! Read more about it here.</p>
              </li>
              <li id="8">How do I create an account?
                <p>Just go here and enter your info.</p>
              </li>
              <li id="9">How do I change my password?
                <p>If you're logged in, just go to your Account Settings, enter your new password and click "Save." If you forgot your password, go here.</p>
              </li>
            </ol>
          </section>
      </div>
    </div>

  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'jquery-loaded'
    ]
  , function() {

    }
  );
</script>
{{/extend}}