{{#extend "body"}}
<!--<Header1>-->
<h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 26px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Hello Goodybaggers</h1>
<!--</Header1>-->

<!--<IntroMessage>-->
<h2 style="line-height: 22px; margin-top: 16px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Intro message intro message</h2>
<!--</IntroMessage>-->

<!--<Spacer>-->
<div style="width: 100%; height: 80px"></div>
<!--</Spacer>-->


<!--<Recent Restaurants>-->
<h3 style="line-height: 22px; margin-top: 16px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 16px; font-family: Helvetica, arial, sans-serif; text-align: left; color: #695a42">Recently Added Restaurants</h3>
<!--<Spacer>-->
<div style="width: 100%; height: 30px"></div>
<!--</Spacer>-->
<table cellpadding="0" cellspacing="0" style="width: 100%;">
<tr>
  <td style="width: 140px; text-align: right; padding-right: 20px">
    <img src="https://cdn.filepicker.io/api/file/OIaOgrRMThaMs1bYHe2V/convert?cache=true&fit=crop" width="50" height="50" alt="">
  </td>
  <td style="text-align: left">
    Nuha's Sinful Desserts
  </td>
</tr>
</table>
<!--<Recent Restaurants>-->

{{/extend}}