<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Moar Convenient CSS Stuff -->
    <link href="css/kit.css" rel="stylesheet">

  </head>
  <body>
    <section id="header" class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <a class="navbar-brand" href="#">Goodybag</a>
            <div class="btn-toolbar pull-right">
              <button type="button" class="btn btn-default navbar-btn">Login</button>
              <button type="button" class="btn btn-primary navbar-btn">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      {{{content}}}
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>