<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Font Awesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Moar Convenient CSS Stuff -->
    <link href="/css/kit.css" rel="stylesheet">

    {{{block "css"}}}
  </head>
  <body>
    <header id="header" class="navbar">
      <div class="container">
        <div class="row">
          <a class="navbar-brand" href="#">Goodybag</a>
          <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-default navbar-btn login-btn">Login</button>
            <button type="button" class="btn btn-primary navbar-btn register-btn">Sign Up</button>
          </div>
        </div>
      </div>
    </header>

    <div id="main" class="container">
      {{{body}}}
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{{block "views"}}}
    {{{block "scripts"}}}
  </body>
</html>
