
{{#extend "title"}} - Payment{{/extend}}

{{#extend "css"}}
<style>
  .btn-edit-order {
    display: none;
  }

  .item-edit {
    display: none;
  }
</style>
{{/extend}}

<div class="page container">
  <div class="order-payment-view">
    <div class="alert alert-success fade in hide">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Order Payment Received!</strong>
    </div>

    <div class="alert alert-danger fade in hide">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Order Payment Failed!</strong>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form id="payment-form">

          {{> order_payment_info}}

          <div class="list-group-item clearfix">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        {{> checkout_order_summary }}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

<script>
require([
  'app/views/order-payment-view'
, 'app/models/index'
],
function(OrderPaymentView, Models, spinner, FormView) {
  balanced.init({{{json config.balanced.marketplaceUri}}});

  var OrderPaymentView = new OrderPaymentView({
    el: '.order-payment-view'
  , model: new Models.Order({{{json order}}})
  , user: new Models.User({{{json order.user}}})
  });

});
</script>
{{/extend}}
