{{#extend "page"}}page-order-driver{{/extend}}

{{#extend "body"}}
<!--<BreadCrumbs>-->
{{!-- <div class="container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/users/me/orders">My Orders</a>
    </li>
    <li>Order #{{order.id}}</li>
  </ul>
</div> --}}
<!--</BreadCrumbs>-->

<!--<AcceptDecline>-->
<div class="accept-decline action-group">
  <div class="container">
    <button class="btn btn-primary">Accept</button>
    <button class="btn btn-default">Decline</button>
  </div>
</div>
<!--</AcceptDecline>-->

<!--<MainInfo>-->
<div class="container container-full-collapse">
  <div class="definition-row-list striped collapsible">
    <h3 class="title">Can you deliver?</h3>
    <dl>
      <div class="row">
        <dt>When</dt>
        <dd>Sat. Oct. 25 5:00pm</dd>
      </div>
      <div class="row">
        <dt>Your Cut</dt>
        <dd>$21.27</dd>
      </div>
      <div class="row">
        <dt>Distance</dt>
        <dd><a href="#">4.2mi</a></dd>
      </div>
      <div class="row">
        <dt>Pickup</dt>
        <dd><a href="#">Blue Dahlia Bistro</a></dd>
      </div>
      <div class="row">
        <dt>Dropoff</dt>
        <dd><a href="#">10203 Falcon Dr<br>Austin, TX, 78756</a></dd>
      </div>
    </dl>
  </div>
</div>
<!--</MainInfo>-->
{{/extend}}

{{#extend "script"}}

{{/extend}}