{{#extend "page"}}page-order-driver{{/extend}}

{{#extend "body"}}
<!--<BreadCrumbs>-->
{{!-- <div class="container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/users/me/orders">My Orders</a>
    </li>
    <li>Order #{{order.id}}</li>
  </ul>
</div> --}}
<!--</BreadCrumbs>-->

<!--<AcceptDecline>-->
<div class="accept-decline panel-component panel-island">
  <div class="container">
    <div class="action-group">
      <div class="action-wrapper">
        <button class="btn btn-primary">Yes</button>
      </div>
      <div class="action-wrapper">
        <button class="btn btn-default">No</button>
      </div>
    </div>
  </div>
</div>
<!--</AcceptDecline>-->

<!--<MainInfo>-->
<div class="container container-full-collapse">
  <div class="definition-row-list striped collapsible">
    {{#eq order.driver_id user.id}}
      <h3 class="title">You are delivering</h3>
    {{else}}
      <h3 class="title">Can you deliver?</h3>
    {{/eq}}
    <dl>
      <div class="row">
        <dt>Delivery Date</dt>
        <dd>Sat. Oct. 25 5:00pm</dd>
      </div>
      <div class="row">
        <dt>Delivery Time</dt>
        <dd>5:00pm</dd>
      </div>
      <div class="row">
        <dt>Your Cut</dt>
        <dd>$21.27</dd>
      </div>
      <div class="row">
        <dt>Distance</dt>
        <dd><a href="#">4.2mi</a> (From pickup to dropoff)</dd>
      </div>
      <div class="row">
        <dt>Pickup</dt>
        <dd><a href="#">Blue Dahlia Bistro</a></dd>
      </div>
      <div class="row">
        <dt>Dropoff</dt>
        <dd><a href="#">10203 Falcon Dr<br>Austin, TX, 78756</a></dd>
      </div>
    </dl>
  </div>
</div>
<!--</MainInfo>-->
{{/extend}}

{{#extend "script"}}

{{/extend}}