{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/user-orders.css"}}">
{{/extend}}

<div class="container">
  <div class="row">
    <h1 class="col-lg-12 page-title">Orders</h1>
  </div>
  <div class="row orders-list">
    <div class="col-md-2 col-md-offset-2">
      <div class="panel">
        <div class="panel-heading panel-heading-small">
          <h4 class="panel-title">Filter</h4>
        </div>
        <div class="panel-body">
          {{> order_status_buttons}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        {{> order_list }}
      </div>
      {{> order_list_paginator }}
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script>
  require([
      'app/views/orders-list-view'
    ]
  , function(OrdersListView) {
      var ordersListView = new OrdersListView({el: '.orders-list'});
    }
  );
</script>
{{/extend}}
