<p>A password reset has been issued for your <a href="{{config.baseUrl}}">Goodybag Cater</a> account.</p>

<p><a href="{{config.baseUrl}}/password-resets/{{token}}">Click here to reset your password</a>.</p>
