<p>A password reset has been issued for your <a href="{{config.baseUrl}}">Goodybag Cater</a> account.</p>

<p><a href="{{config.baseUrl}}/password-resets/{{token}}">Click here to reset your password</a>.</p>

<p>If you did not ask for you password to be reset, someone may be attempting to access your account.  Please reply to this email and let us know about it.</p>
