{{#unless badToken}}
<form id="password-reset-form" class="col-lg-6 col-lg-offset-3">
  <fieldset>
    <legend>Reset your password</legend>
    <div id="form-error-alert" class="alert alert-danger hide"></div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" autofocus="autofocus">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" class="form-control">
    </div>
    <button type="submit" class="btn btn-lg btn-primary pull-right">Submit</button>
  </fieldset>
</form>

{{#extend "scripts"}}
<script src="/js/views/reset-password.js"></script>
<script>
  new ResetPasswordView({el: '#password-reset-form'});
</script>
{{/extend}}
{{else}}
<p class="text-center">Sorry, this is a bad password reset link.  Please contact <a href="mailto:support@goodybag.com">support@goodybag.com</a>.</p>
{{/unless}}
