<div class="page-reset-password">

  {{#unless badToken}}
  <h1 class="page-title">Reset Your Password</h1>

  <div class="container">
    <div class="row col-lg-4 col-lg-offset-4">
      <form id="password-reset-form">
        <fieldset>
          <div id="form-error-alert" class="alert alert-danger hide"></div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" autofocus="autofocus">
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>


  {{#extend "scripts"}}
  <script src="/js/views/reset-password.js"></script>
  <script>
    new ResetPasswordView({el: '#password-reset-form'});
  </script>
  {{/extend}}
  {{else}}
  <h1 class="page-title">We're Sorry</h1>
  <p class="lead text-center">This is a bad password reset link. Please contact <a href="mailto:support@goodybag.com">support@goodybag.com</a>.</p>
  {{/unless}}
</div>
