{{#extend "css"}}
<link rel="stylesheet" href="/css/user-orders.css">
{{/extend}}

<div class="container">
  <div class="row">
    <h1 class="col-lg-12 page-title">Orders For {{restaurant.name}}</h1>
  </div>
  <div class="row orders-list">
    <div class="col-lg-3">
      {{> order_status_buttons}}
    </div>
    <div class="col-lg-6">
      <div class="panel">
        {{> order_list}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script src="/js/views/orders-list-view.js"></script>
<script>
  var ordersListView = new OrdersListView({el: '.orders-list'});
</script>
{{/extend}}
