{{#extend "css"}}
<link rel="stylesheet" href="{{cdn "/css/menu.css"}}">
{{/extend}}

<div class="page page-menu container">
<div class="row">
  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="menu">
        <div class="row">
          <div class="col-md-12">
            <input type="button" class="button btn-default pull-right hide-all-items" value="Hide All Items" />
            <input type="button" class="button btn-default pull-right show-all-items" value="Show All Items" />
          </div>
        </div>
        <div class="menu">
          {{#each restaurant.categories}}
            <div class="panel menu-category" id="category-{{id}}">
              {{#include parent=..}}
                {{> sort_category config=../../config}}
              {{/include}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
  require([
      'handlebars'
    , 'app/models/category'
    , 'app/models/item'
    , 'app/views/sort-menu-view'
    , 'app/views/sort-category-view'
    , 'app/views/sort-item-view'

    , 'jquery-ui'
    ]
  , function(Handlebars, Category, Item, SortMenuView, SortCategoryView, SortItemView) {
      var sortMenuView = new SortMenuView({el: "#menu"});

      var categories = {{{json restaurant.categories}}};

      _(categories).each(function(category) {
        // create model and view for category
        var categoryModel = new Category(category);
        categoryModel.startTracking();
        var sortCategoryView = new SortCategoryView({el: "#category-"+category.id, model: categoryModel, menu: sortMenuView, template: Handlebars.partials.sort_category});
        sortMenuView.categories.push(sortCategoryView);

        _(category.items).each(function(item) {
          // create model and view for item
          var itemModel = new Item(item);
          itemModel.startTracking();
          var sortItemView = new SortItemView({el: "#item-"+item.id, model: itemModel, category: sortCategoryView, template: Handlebars.partials.sort_item});
          sortCategoryView.items.push(sortItemView);
        });
      });
    }
  );

</script>

{{/extend}}
