{{#extend "css"}}
<link rel="stylesheet" href="/css/user-orders.css">
{{/extend}}

<div class="page-my-orders container">
  <div class="row">
    <h1 class="col-lg-12 page-title">My Orders</h1>
  </div>
  <div class="row orders-list">
    <div class="col-lg-3">
      <div class="btn-group-vertical status-buttons" data-toggle="buttons" data-spy="affix" data-offset-top="160">
        <label class="btn btn-default active" data-status="all">
          <input type="radio"> All
        </label>
        <label class="btn btn-pending" data-toggle="button" data-status="pending">
          <input type="radio"> Pending
        </label>
        <label class="btn btn-canceled" data-toggle="button" data-status="canceled">
          <input type="radio"> Canceled
        </label>
        <label class="btn btn-submitted" data-toggle="button" data-status="submitted">
          <input type="radio"> Submitted
        </label>
        <label class="btn btn-denied" data-toggle="button" data-status="denied">
          <input type="radio"> Denied
        </label>
        <label class="btn btn-accepted" data-toggle="button" data-status="accepted">
          <input type="radio"> Accepted
        </label>
        <label class="btn btn-delivered" data-toggle="button" data-status="delivered">
          <input type="radio"> Delivered
        </label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        {{> order_list}}
      </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
<script src="/js/views/orders-list-view.js"></script>
<script>
  var ordersListView = new OrdersListView({el: '.orders-list'});
</script>
{{/extend}}
