{{#unless badToken}}
<p class="text-center">Your email address <strong>{{email}}</strong> has been confirmed.</p>
<p class="text-center">We'll let you know when Goodybag cater is available.</p>
{{else}}
<p class="text-center">We're sorry.  This confirm link appears to be bad.  Please contact <a href="mailto:support@goodybag.com">support@goodybag.com</a></p>
{{/unless}}
