<p class="text-center">Thank you for signing up for the Goodybag cater waitlist.</p>
<p class="text-center">A confirmation email has been sent to your email address <strong>{{email}}</strong>.  Please click the link to verify your email.</p>
