{{#unless badToken}}
<h1 class="page-title">Well, see you later</h1>
<p class="lead text-center">Your email address <strong>{{email}}</strong> has been unsubscribed from our waitlist.</p>
<p class="text-center">You will not receive further emails from us.</p>
{{else}}
<h1 class="page-title">We're Sorry</h1>
<p class="lead text-center">This link appears to be expired. Please contact <a href="mailto:support@goodybag.com">support@goodybag.com</a> if your problem persists.</p>
{{/unless}}
