<p>You have been added to the Goodybag waitlist</p>

<p>We'll let you know when Goodybag catering services are available</p>

<p>If you thing you have received this email in error, or would not like to receive any further emails, <a href="{{config.baseUrl}}/unsubscribe?token={{token}}">click here to unsubscribe</a>.</p>
