{{#unless badToken}}
<p class="text-center">Your email has been added to the wait list!  We'll be in touch when we're ready to create your account.</p>
{{else}}
<p class="text-center">We're sorry.  This confirm link appears to be bad.  Please contact <a href="mailto:support@goodybag.com">support@goodybag.com</a></p>
{{/unless}}
