/**
 * Admin
 */

.header-nav {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -44px;
}

.header-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.table .col-actions {
  text-align: right;
}

.table-actions .action-header,
.table-actions .action {
  display: inline-block;
  vertical-align: middle;
}

.table-actions .action-header:first-child ~ .action-header {
  margin-left: 40px;
}

.table-actions .action {
  margin-top: 8px;
  margin-left: 12px;
}

#payment-summary-items-table input {
  display: inline-block;
  width: 100px;
}

#payment-summary-items-table td {
  vertical-align: middle;
}

/* even out the PMS actions because of the label for hte recipient dropdown */
.header-nav li.recipient-wrapper {
  margin-top: -16px;
}