header.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.auth-title-row {
  color: white;
  text-shadow: 1px 1px 0 rgba(0,0,0, 0.4);
}

label {
  font-size: 12px;
}

.page-auth {
  /*min-height: 814px;*/
  background: url('../img/page-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.page-auth > .container {
  max-width: 770px;
  height: 100%;
  padding-bottom: 16px;
  background: rgb(252, 253, 246);
  background: rgba(252, 253, 246, 0.84);
}

.page-title {
  font-size: 44px;
}

.lead {
  text-align: center;
  font-size: 18px;
}

#footer {
  margin-top: 0;
}

.form-container {
  max-width: 375px;
  margin: 0 auto;
}

.panel {
  padding: 18px 24px;
}

.help-block {
  font-size: 15px;
}

.page-auth .panel a {
  color: #432012;
  text-decoration: underline;
  font-size: 12px;
}

#forgot-password {
  display: inline-block;
  margin-top: -8px;
}

.form-remember-forgot-wrapper {
  margin-top: -10px;
}

.form-actions {
  margin-top: 4px;
}

@media (max-width: 786px) {
  .page-title {
    font-size: 34px;
  }

  .lead {
    font-size: 14px;
  }
}

@media (max-width: 486px) {
  .page-title {
    font-size: 24px;
  }
}