body {
  background: url('/img/auth-page-background.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

header.navbar {
  margin-bottom: 0;
}

#main {
  min-height: 1000px;
}

.auth-title-row {
  color: white;
}

label {
  font-size: 12px;
}