body {
  background: url('/img/auth-page-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header.navbar {
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#main {
  min-height: 1000px;
}

.auth-title-row {
  color: white;
  text-shadow: 1px 1px 0 rgba(0,0,0, 0.4);
}

label {
  font-size: 12px;
}