/**
 * Navbar
 */
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 11px;
}

/**
 * Panels
 */
.panel {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: solid #ccc 1px;
}

.panel .panel-heading {
  background: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.panel .panel-title {
  font-size: 25px;
  font-weight: 300;
}

/**
 * Order params bar
 */
.order-params-bar {
  display: table;
  margin: 0 auto;
  padding: 15px 18px;
}

/**
 * Buttons
 */
.btn {
  font-weight: 500;
}

/**
 * List Group Items
 */

a.list-group-item .list-group-item-heading {
  font-size: 15px;
  font-weight: 500;
}

/**
 * Menu
 */

.menu .list-item-legend {
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
  padding: 0;
}

.menu .list-item-legend dd,
.menu .list-item-legend dt {
  display: inline-block;
  vertical-align: baseline;
}

.menu .list-group-item-heading {
  font-weight: 700;
}

.menu .list-group-item-text {
  font-weight: 300;
  font-size: 13px;
}