.contact-us-banner {
  background-image: url('/img/page-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -38px;
  background-position-x: 14%;
}

.contact-us-container {
  margin-top: 50px;
}

.contact-us-container i {
  color: #DC0500;
}

.contact-ul {
  margin-left: -18px;
  margin-top:   20px;
}

.contact-form {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 0;
}