.category-buttons {
  padding-top: 25px;
}

th.price-column {
  width: 125px;
}

th.order-column, th.feeds-min-column, th.feeds-max-column {
  width: 90px;
}

th.name-column {
  width: 300px;
}

.item-button {
  padding-top: 10px;
}

.hours-input .form-group:first-child {
  padding-right: 0;
}

.hours-input .form-group:last-child {
  padding-left: 0;
}

.hours-day .form-group {
  margin-bottom: 8px;

}

.hours-input .form-control {
  position: relative;
}

.hours-input .separator {
  line-height: 36px;
  text-align: center;
  padding: 0;
}

.hours-input .control-label {
  font-size: 12px;
}

.hours-day .day {
  font-size: 16px;
}

.hours-day .hours-checkbox {
  padding-right: 0;
  line-height: 36px;
}

.hours-day {
  padding-bottom: 5px;
}
