/**
 * Edit Card
 */

.card-select-toggle input.payment-method {
  margin-top: 10px;
}

.card-select {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-left: 8px;
}

.expired-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;

  font-size: 12px;
  color: #B80300;
}

.expired-wrapper:before {

}

.expired-wrapper .expired-text {
  font-weight: 700;
}

.expired-wrapper .btn-expired-update {
  text-decoration: underline;
}

.expiration-wrapper .form-group {
  display: inline-block;
}