#main, body {
  background-color: white;
  background: white;
}

/**
 * Banner
 */

.faqs-banner {
  background-image: url('../img/faqs-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -465px;
  background-position-x: 14%;
}

/**
 * Container
 */

.faqs-container { color: #432012; }

/**
 * Headers
 */

h1.faq-header {
  margin-bottom: 60px;
  text-align: center;
  font-size: 48px;
  color: #432012;
  font-weight: 500;
  font-family: 'Proxima Nova';
}

h2.faq-header {
  font-size: 20px;
  color: #432012;
  font-weight: 500;
  font-family: 'Proxima Nova';
}

/**
 * Sections
 */

.page-faqs section {
  border-top: 1px solid #432012;
  margin: 10px 0;
}

.page-faqs section.no-border { border: none; }

@media (max-width: 768px){
  .page-faqs section {
    margin: 10px 10px;
  }
}

/**
 * Contact us section
 */

.contact-us { padding-bottom: 35px; }

.contact-header {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Proxima Nova';
}

.contact-header > strong { font-weight: 500; }

.contact-us-info i {
  color: #DC0500;
  margin: 0 5px;
  width: 14px;
  display: inline-block;
}

.contact-us-info { font-weight: 300; }
.contact-us-info strong { font-weight: 500; }

/**
 * Order Lists
 */

ol.faq-list {
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  list-style-position: inside;
}

ol.faq-list li > span { margin-left: 5px; }

ol.faq-list li > p { font-weight: 300; }

ol.faq-index {
  font-size: 15px;
  list-style-position: inside;
  padding: 0;
}

ol.faq-index li > a {
  position: absolute;
  left: 5%;
}

@media (max-width: 768px){
  ol.faq-index {
    font-size: 15px;
    padding: 0;
  }

  ol.faq-index li > a {
    position: inherit;
    list-style-position: outside;
    padding-left: 2px;
  }

  .contact-header > strong { display: block; }
}