@font-face {
  font-family: 'gb';
  src:url('/font/gb/icomoon.eot');
  src:url('/font/gb/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/font/gb/icomoon.woff') format('woff'),
    url('/font/gb/icomoon.ttf') format('truetype'),
    url('/font/gb/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before,
[data-icon-after]:after {
  font-family: 'gb';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

.icons-ul>li {
  position: relative;
}

.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.gb-icon-caret-down,
.gb-icon-x-mark,
.gb-icon-magnifier,
.gb-icon-location,
.gb-icon-time,
.gb-icon-calendar,
.gb-icon-email,
.gb-icon-phone,
.gb-icon-warning,
.gb-icon-user,
.gb-icon-heart,
.gb-icon-hamburger,
.gb-icon-star,
.gb-icon-star-half-empty,
.gb-icon-star-empty,
.gb-icon-individual,
.gb-icon-group,
.gb-icon-full-menu {
  font-family: 'gb';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.gb-icon-caret-down:before,
[data-icon="gb-icon-caret-down"]:before {
  content: "\e000";
}
.gb-icon-x-mark:before,
[data-icon="gb-icon-x-mark"]:before {
  content: "\e001";
}
.gb-icon-magnifier:before,
[data-icon="gb-icon-magnifier"]:before {
  content: "\e002";
}
.gb-icon-location:before,
[data-icon="gb-icon-location"]:before {
  content: "\e003";
}
.gb-icon-time:before,
[data-icon="gb-icon-time"]:before {
  content: "\e004";
}
.gb-icon-calendar:before,
[data-icon="gb-icon-calendar"]:before {
  content: "\e005";
}
.gb-icon-user:before,
[data-icon="gb-icon-user"]:before {
  content: "\e006";
}
.gb-icon-email:before,
[data-icon="gb-icon-email"]:before {
  content: "\e007";
}
.gb-icon-phone:before,
[data-icon="gb-icon-phone"]:before {
  content: "\e008";
}
.gb-icon-warning:before,
[data-icon="gb-icon-warning"]:before {
  content: "\e600";
}
.gb-icon-star:before,
[data-icon="gb-icon-star"]:before {
  content: "\e602";
}
.gb-icon-star-half-empty:before,
[data-icon="gb-icon-star-half-empty"]:before {
  content: "\e603";
}
.gb-icon-star-empty:before,
[data-icon="gb-icon-star-empty"]:before {
  content: "\e601";
}
.gb-icon-hamburger:before,
[data-icon="gb-icon-hamburger"]:before {
  content: "\e604";
}
.gb-icon-hamburger:before,
[data-icon="gb-icon-heart"]:before {
  content: "\e609";
}
.gb-icon-individual:before,
[data-icon="gb-icon-individual"]:before {
  content: "\e60a";
}
.gb-icon-group:before,
[data-icon="gb-icon-group"]:before {
  content: "\e60b";
}
.gb-icon-full-menu:before,
[data-icon="gb-icon-full-menu"]:before {
  content: "\e60c";
}
