.form-group .form-group-icon {
  margin-left: -29px !important;
  margin-top: 10px !important;
}

.order-params-bar #zips {
  display: none;
}

.menu-picker .menu-picker-category {
  width: 50%;
  float: left;
}

.search-params [name="time-range"],
.order-params-bar [name="time-range"] {
  display: none;
}