.order-number-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 0 4px 10px;
  margin-left: -10px;
  border-top-left-radius: 5px;
  background: #FAE6E9;
  text-align: right;
}

.order-number-info .order-number-key {
  float: left;
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}

.order-number-info .order-number {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 4px;
}

.order-info {
  padding: 20px 0;
}

.order-info-details.column-fluid {
  padding-left: 12px;
  min-width: 240px;
}

.order-info-details .restaurant-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}

.order-info-details .dl-horizontal {
  margin-top: 4px;
}

.order-info-details .dl-horizontal > dt {
  width: 114px;
  text-align: left;
}

.order-info-details .dl-horizontal > dd {
  margin-left: 120px;
}

.order-info-notes {
  box-sizing: border-box;
  padding-left: 50px;
  position: relative;
}

.columns > .order-info-notes {
  -webkit-box-flex: 3;
}

.order-info-notes > .notes-key {
  font-style: italic;
  font-size: 13px;
}

.order {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  border-bottom: solid #DA1F26 2px;
}

.order-bottom-wrapper {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  -webkit-box-pack: end;
}

.order-bottom {
  width: 100%;
}

.order-table .line-item-name {
  width: 46%;
  font-size: 14px;
}

.order-table .line-item-name .item-options > li {
  font-size: 11px;
}

.order-table .line-item-notes {
  min-width: 160px;
}

.order-adjustment {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: #808181;
  border-style: dashed;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.order-adjustment .adjustment-amount-wrapper {
  box-sizing: border-box;
  margin: 0;
  min-width: 260px;
  text-align: right;
}

.order-adjustment .dl-adjustment-amount {
  display: inline-block;
  margin: 0;
}

.order-adjustment .adjustment-notes {
  margin: 0;
}

.order .order-summary,
.order .order-amenities {
  padding-left: 16px;
  padding-right: 16px;
  text-align: right;
}

.order .order-summary .dl-order-summary,
.order .order-amenities .dl-order-amenities {
  display: inline-block;
}

.total-wrapper {
  text-align: right;
}

.total-wrapper .dl-order-total {
  display: inline-block;
  margin-right: 16px;
}

.dl-adjustment-amount,
.dl-order-summary,
.dl-order-total,
.dl-order-amenities {
  font-size: 13px;
}

.dl-adjustment-amount > dt,
.dl-order-summary > dt,
.dl-order-total > dt,
.dl-order-amenities > dt {
  font-style: normal;
}

.dl-adjustment-amount > dd,
.dl-order-summary > dd,
.dl-order-total > dd,
.dl-order-amenities > dd {
  margin-left: 190px;
  min-width: 60px;
}

.dl-order-summary,
.dl-order-amenities {
  line-height: 24px;
  margin-bottom: 0;
}

.total-wrapper {
  font-weight: bold;
  background: #FAE6E9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
}

.total-wrapper dl {
  margin: 0;
}

.total-wrapper dt,
.total-wrapper dd {
  font-size: 15px;
}

.delivery-service-note {
  margin-bottom: 0;
  font-style: italic;
}

@media print {

}