html, body {
  margin: 0;
  padding: 0;
  line-height: 16px;
}

body {
  font-family: 'Proxima Nova';
  font-size: 12px;
  color: #333;
}

@media screen {
  body {
    margin: 40px 30px;
  }
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  position: relative;
  min-height: 180px;
}

header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 20px;
  background: #DA1F26;
}

footer {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 14px;
  color: #DA1F26;
  text-transform: uppercase;
}

.columns {
  display: -webkit-box;
}

.columns > .column-fluid {
  -webkit-box-flex: 1;
}

.dl-inline {
  margin: 0;
  padding: 0;
}

.dl-inline > dt,
.dl-inline > dd {
  display: inline-block;
  width: auto;
  margin: 0;
}

dl > dt {
  font-style: italic;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}
.dl-horizontal dd:after {
  clear: both;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after {
  display: table;
  content: " ";
}
.dl-horizontal dd:after {
  clear: both;
}

.goodybag-info .info-items {
  padding-top: 8px;
}

.customer-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 205px;
  height: 100%;
}

.column-logo {
  padding-right: 20px;
}

.info-items .info-item {
  margin-bottom: 12px;
}

.info-items .info-item:first-child {
  margin-bottom: 4px;
}

.info-items .info-item.info-item-logo {
  margin-bottom: -2px;
  margin-left: -2px;
}

.order-number-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 0 4px 10px;
  margin-left: -10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #FAE6E9;
  text-align: right;
}

.order-number-info .order-number-key {
  float: left;
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
}

.order-number-info .order-number {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  margin-right: 10px;
  margin-bottom: 4px;
}

.order-info {
  padding: 20px 0;
}

.order-info-details.column-fluid {
  padding-left: 12px;
  min-width: 200px;
}

.order-info-details .restaurant-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}

.order-info-details .dl-horizontal {
  margin-top: 4px;
  text-align: right;
}

.order-info-details .dl-horizontal > dt {
  width: 78px;
  text-align: left;
}

.order-info-details .dl-horizontal > dd {
  margin-left: 90px;
}

.order-info-notes {
  box-sizing: border-box;
  padding-left: 50px;
  position: relative;
  margin-top: 20px;
}

.order-info-notes > .notes-key {
  position: absolute;
  left: 0;
}