.no-margin {
  margin: 0 0 0 0px;
}

.no-padding {
  padding: 0 0 0 0px;
}

.border {
  border: 1px solid #000;
}

.no-tbody-cell-borders tbody > tr > td {
  border: none;
}

.full-width {
  width: 100%;
}

.x {
  background : none;
  border: none;
  cursor: pointer;
  color: gray;
}