.order-item .edit {
  color: gray;
  text-transform:uppercase;
  font-size: 0.75em;
  cursor: pointer;
}

.gb-input-icon {
  display: inline-block;
  margin-left: -27px;
  color: #dedede;
}

.order-params-bar .form-control {
  width: 125px;
}

.order-params-bar .form-control[readonly] {
  cursor: default;
  background-color: #fff;
}

.order-form .form-control[readonly] {
  cursor: default;
  background-color: #fff;
}

.restaurants .disabled {
  color: #bebebe;
}

/* TODO: restaurants.css */
.restaurants .restaurant.disabled {
  color: #bebebe;
  pointer-events: none;
  cursor: default;
}

#footer {
  padding-bottom: 40px;
  padding-top: 100px;
}