.order-summary.affix {
  top: 30px;
}

.restaurant-name {
  display: inline-block;
  padding-right: 30px;
}

.menu-info-tabs {
  display: inline-block;
  border: none;
  vertical-align: bottom;
}

@media ( min-width: 1200px ){
  .order-summary.affix {
    width: 360px;
  }
}

@media ( min-width: 992px ) and ( max-width: 1199px ){
  .order-summary.affix {
    width: 293px;
  }
}

@media ( max-width: 991px ){
  .order-summary.affix {
    position: static;
    width: 100%;
  }
}