.order-summary-col .affix {
  top: 30px;
}

/**
 * Menu Picker
 */

.menu-picker .tab-pane {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.menu-missing {
  color: #8B8983;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
}

.menu-picker a {
  color: #FF3DAE;
  font-size: 10pt;
  font-weight: normal;
}

.menu-picker .menu-picker-tabs {
  display: inline-block;
  vertical-align: middle;
  border: none;
  margin-left: 20px;
  padding-bottom: 3px;
}

.menu-picker .menu-picker-tabs a {
  padding: 10px 16px;
}

.menu-picker .menu-picker-tabs li.active a {
  color: #FF3DAE;
  font-weight: bold;
}

.menu-picker .panel-heading {
  color: #432012;
  font-size: 12pt;
  font-weight: bolder;
  border-bottom: 1px dashed #CCCCC0;
  padding-top: 8px;
  padding-bottom: 8px;
}

/**
 * Menu panels
 */

.menu-order-params {
  font-size: 13px;
}

.menu-order-params .panel-title,
.menu-share-link .panel-title {
  font-size: 16px;
  font-weight: bold;
}

.menu-share-link {
  margin-top: 20px;
}

.menu-share-link .description {
  margin-top: 20px;
}

.menu-share-link a.learn-more {
  float: right;
  color: #999;
}

.menu-share-link .btn-regenerate {
  float: right;
}

.menu-order-params dl {
  margin-top: 20px;
  margin-bottom: 0;
}

.menu-order-params dt {
  float: left;
  clear: left;
  margin-right: 8px;
}

@media screen and (max-width: 786px) {
  .menu-picker .menu-picker-tabs {
    display: block;
    margin: 0;
  }

  .menu-picker .menu-picker-tabs > li > a {
    clear:both;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 10px;
  }

  .menu-picker .tab-pane {
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
  }
}

.restaurant-map {
  height: 300px;
}

/**
 * Fixes bootstrap styling with google maps
 */
.restaurant-map img {
  max-width: none;
}

.restaurant-map-container {
  float: right;
  font-size: 13px;
  width: 100%;
}

.restaurant-map-container .list-group-item {
  padding: 0;
}

.restaurant-map-container dl {
  margin-top: 13px;
}

/**
 * Restaurant header
 *   - Logo
 *   - Name
 *   - Description
 */
.restaurant-header {
  display: inline-block;
  height: 100px;
  margin: 10px 0 4px;
}

.restaurant-header .restaurant-header-logo {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  border: solid 1px #ccccc0;
}

.restaurant-header .restaurant-header-body {
  margin-left: 100px; /* same as adjacent logo width */
  width: 100%;
}

.restaurant-header .restaurant-header-name {
  font-family: 'Aleo';
  font-size: 26px;
  font-weight: 300;
}
/**
 * For restaurant's without description, let name take
 * full container height
 */
.restaurant-header .restaurant-header-name-full {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}

.restaurant-header .restaurant-header-description {
  color: #8B8983;
  font-weight: 300;
}

@media screen and (max-width: 786px) {
  .restaurant-header {
    height: 50px;
  }

  .restaurant-header .restaurant-header-logo {
    width: 50px;
    height: 50px;
  }

  .restaurant-header .restaurant-header-body {
    margin-left: 50px;
  }

  .restaurant-header .restaurant-header-name {
    font-size: 20px;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    height: 50px;
  }

  .restaurant-header .restaurant-header-description {
    clear:left;
    padding-top: 10px;
    margin-left: -45px;
    width: 95%;
  }
}

.menu-info-tabs {
  display: block;
  border: none;
  margin-left: 100px;
  margin-top: -32px;
}

@media screen and (max-width: 786px) {
  .menu-info-tabs {
    margin-left: -11px;
    margin-top: 0;
  }
}


.restaurant-info-item {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 13px;
}

.restaurant-info-item .info-item-title {
  margin: 0;
  color: #432012;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.restaurant-info-item .info-item-value {
  margin-top: 2px;
}

.restaurant-info-item .dl-horizontal {
  margin: 0;
  margin-top: 4px;
}

.restaurant-info-item-zips h4.info-item-title {
  margin-bottom: 10px;
}

/**
 * Delivery times has a font-size: 0 element in so it's making the
 * line height on all of the dt,dd's larger than it should be
 */
.delivery-times.dl-horizontal > dt,
.delivery-times.dl-horizontal > dd {
  line-height: 15px;
}

.form-group-item-notes {
  margin-top: 20px;
}

.form-group-item-notes .form-control {
  max-width: 100%;
}

.checkout-row .col-minimum-order {
  padding-top: 9px;
  color: #DC0500;
  font-weight: bold;
  font-style: italic;
}

#reviews .tab-actions > [class*="col-"]:first-child {
  padding-top: 24px;
}

@media ( min-width: 1200px ){
  .order-summary-col .affix {
    width: 360px;
  }
}

@media ( min-width: 992px ) and ( max-width: 1199px ){
  .order-summary-col .affix {
    width: 293px;
  }
}

@media ( max-width: 991px ){
  .order-summary-col .affix {
    position: static;
    width: 100%;
  }
}
