.order-summary.affix {
  top: 30px;
}

.restaurant-map {
  height: 300px;
}
.restaurant-map img {
  max-width: none;
}

.restaurant-map-container {
  float: right;
  font-size: 13px;
  width: 100%;
}

.restaurant-map-container .list-group-item {
  padding: 0;
}

.restaurant-map-container dl {
  margin-top: 13px;
}

.restaurant-name {
  display: inline-block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -114px;
  padding-left: 110px;
  padding-right: 30px;
  vertical-align: middle;
}

.restaurant-name-logo {
  margin: 10px 0 4px;
}

.restaurant-name-logo .business-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 4px;
  border: solid 1px #ccccc0;
  margin-right: 10px;
}

@media screen and (max-width: 786px) {
  .restaurant-name-logo .business-logo {
    width: 50px;
    height: 50px;
  }

  .restaurant-name {
    margin-left: -64px;
    padding-left: 60px;
  }
}

.menu-info-tabs {
  display: block;
  border: none;
  margin-left: 100px;
  margin-top: -32px;
}

@media screen and (max-width: 786px) {
  .menu-info-tabs {
    margin-left: -11px;
    margin-top: 0;
  }
}


.restaurant-info-item {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 13px;
}

.restaurant-info-item .info-item-title {
  margin: 0;
  color: #432012;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.restaurant-info-item .info-item-value {
  margin-top: 2px;
}

.restaurant-info-item .dl-horizontal {
  margin: 0;
  margin-top: 4px;
}

/**
 * Delivery times has a font-size: 0 element in so it's making the
 * line height on all of the dt,dd's larger than it should be
 */
.delivery-times.dl-horizontal > dt,
.delivery-times.dl-horizontal > dd {
  line-height: 15px;
}

.form-group-item-notes {
  margin-top: 20px;
}

.form-group-item-notes .form-control {
  max-width: 100%;
}

.checkout-row .col-minimum-order {
  padding-top: 9px;
  color: #DC0500;
  font-weight: bold;
  font-style: italic;
}

#reviews .tab-actions > [class*="col-"]:first-child {
  padding-top: 24px;
}

@media ( min-width: 1200px ){
  .order-summary.affix {
    width: 360px;
  }
}

@media ( min-width: 992px ) and ( max-width: 1199px ){
  .order-summary.affix {
    width: 293px;
  }
}

@media ( max-width: 991px ){
  .order-summary.affix {
    position: static;
    width: 100%;
  }
}