.giftcard-wrapper {
  text-align: center;
  float: left;
  width: 50%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .giftcard-wrapper {
    width: 100%;
  }
}

/**
 * Maybe a smidgen over-qualified, but I just want to make sure
 * I'm only targeting the child column of page
 */
.page > .row > .col-md-8 > .panel {
  display: table;
  width: 100%;
  padding-top: 80px;
}

.points-panel {
  text-align: center;
}

.points-panel h2 {
  font-size: 21px;
}

.points-panel .points-available {
  font-size: 40px;
}

.points-panel .table {
  text-align: left;
}

.points-panel .table tr > th:last-child,
.points-panel .table tr > td:last-child {
  text-align: right;
}

.points-panel .view-all {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 6px;
}