.order-status {
  padding-left: 15px;
  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 16px;
}

.order-status-label {
  margin-top: 5px;
}

.page-order .form-group.form-group-block {
  width: 100%;
  padding-left: 0;
}

.page-order .form-group {
  margin-top: 4px;
}

.page-order .control-label {
  font-size: 13px;
}

.panel-order-details .col-left {
  border-right: solid #CCCCC0 1px;
}

@media (min-width: 769px){
  .panel-order-details .col-left .panel-body {
    padding-right: 4px;
  }

  .panel-order-details .col-right .panel-body {
    padding-left: 7px;
  }
}

.panel-order-details .restaurant-name {
  margin-top: 0;
  margin-bottom: 4px;
  padding-right: 68px;
  font-size: 24px;
  color: #432012;
}

.panel-order-details .label-status {
  vertical-align: middle;
}

.panel-order-details .date-created,
.panel-order-details .date-submitted {
  font-size: 12px;
  font-weight: 300;
  color: #918580;
}

.panel-order-details .date-created-value {
  font-weight: 500;
  color: #695A42;
}

.panel-order-details input {
  height: 34px;
}

.left-fields {
  margin-top: 26px;
}

.left-fields .form-group {
  margin-bottom: 0;
}

@media (min-width: 769px){
  .date-time-guests .form-group {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.left-fields .form-group[data-icon]:before {
  margin-top: 28px;
}

.left-fields input[type=number]::-webkit-inner-spin-button,
.left-fields input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group-order-notes {
  padding-right: 4px;
}

.date-time-guests .form-group:first-child {
  padding-left: 15px;
}

.date-time-guests .form-group:last-child {
  padding-right: 15px;
}

.panel-order-details .order-notes {
  resize: none;
}

.delivery-address-legend {
  font-size: 13px;
  border: none;
  font-weight: 700;
  margin-bottom: 6px;
  color: inherit;
}

.address-info {
  margin-top: 22px;
}

.form-group-state,
.form-group-zip {
  margin-left: 0 !important;
}

@media (min-width: 769px){
  .form-group.form-group-block.form-group-phone {
    width: 72%;
  }

  .form-group-city {
    width: 60%;
  }

  .form-group-state {
    width: 40%;
    padding-left: 10px;
  }

  .form-group-zip {
    width: 120px;
  }
}


/**
 * Line Item
 */

.panel-order-line-item .panel-heading {
  color: #432012;
  font-size: 21px;
  border-bottom: 0;
}

.order-line-item-table {
  border-top: solid #CCCCC0 1px;
  border-bottom: solid #CCCCC0 1px;
}

.order-line-item-table thead > tr > th {
  padding: 0;
  border-bottom: solid #CCCCC0 1px;
  font-size: 12px;
  font-weight: 300;
}

.order-line-item-table thead > tr > th:first-child,
.order-line-item-table tbody > tr > td:first-child {
  padding-left: 24px;
}

.order-line-item-table thead > tr > th:last-child,
.order-line-item-table tbody > tr > td:last-child {
  padding-left: 24px;
}

.order-line-item-table tbody > tr > td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.order-line-item-table tbody > tr:first-child > td {
  padding-top: 18px;
}

.order-line-item-table tbody > tr:last-child > td {
  padding-bottom: 18px;
}

.order-line-item-table th.line-item-quantity {
  padding-left: 20px;
}

.order-line-item-table th.line-item-notes,
.order-line-item-table th.line-item-recipient {
  padding-left: 10px;
}

.order-line-item-table .line-item-notes {
  padding-right: 16px;
  font-size: 12px;
}

.order-line-item-table .line-item-name {
  width: 30%;
  vertical-align: middle;
  line-height: 14px;
}

.line-item-name .item-description {
  font-size: 12px;
}

.line-item-name .item-options-title {
  font-weight: bold;
  font-size: 12px;
}

.line-item-name .item-options {
  margin-top: 3px;
}

.line-item-name .item-options > li {
  font-size: 12px;
  line-height: 8px;
}

.order-line-item-table td.line-item-price {
  font-size: 13px;
  font-weight: 700;
}

.order-line-item-table .item-name {
  font-size: 13px;
  font-weight: 700;
}

.order-line-item-table .item-remove {
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
}

.order-line-item-table .item-quantity-input {
  display: inline-block;
  width: 70px;
  margin-left: 12px;
  font-size: 13px;
  font-weight: 700;
}

.order-line-item-table .item-quantity-span {
  display: inline-block;
  margin-left: 37px;
  font-size: 13px;
  font-weight: 700;
}

.order-line-item-table .icon-x {
  font-size: 12px;
  font-weight: 700;
}

.order-line-item-table .item-notes-textarea {
  height: 50px;
  resize: none;
}

.alert-bad-lead-time .lead-times {
  margin-top: 25px;
}

.address-state {
  width: 100%;
}

.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
}

/**
 * Fix pickadate/select2 container problem
 */
.form-group-delivery-date,
.form-group-delivery-time {
  position: static;
}

.adjustment-amount-description {
   margin-bottom: 0;
}

p.adjustment-description {
  margin: 0;
  line-height: 24px;
  padding-left: 9px;
}

.adjustment {
  border-bottom: 1px solid #CCCCC0;
  padding: 20px 0;
}

.adjustment-input {
  width: 140px;
}

.adjustment-input :first-child ~ dt {
  margin-top: 12px;
}

.tip-area {
  border-bottom: 1px solid #CCCCC0;
}

.tip-area dl, .tip-area .tip-buttons {
  margin: 20px 0;
}

.tip-area dt {
  line-height: 36px;
}

.tip-area dd, .tip-area dt {
  display: inline-block;
}

.tip-area dd {
  max-width: 90px;
  margin-left: 20px;
}

.tip-area input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.totals {
  display: inline-block;
  float: right;
  margin-top: 35px;
}

.totals-panel {
  text-align: right;
  padding-top: 0px;
}

.order-line-item-table {
  margin-bottom: 0;
}

.adjustment input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.adjustment-input dd, .adjustment-input dt {
  display: inline-block;
}

.adjustment-input dt {
  margin-left: 20px;
}

.adjustment-input dd {
  max-width: 90px;
  margin-left: 5px;
}

/*
* order feedback
*/
.feedback-order .alert {
  text-align: left;
  font-size: 15px;
  border: none;
  background-color: #5d9cec;
  color: #fff;
  border-radius: 0px;
}

.feedback-order .close {
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}

.feedback-order .star {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.feedback-order .feedback-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

.feedback-order label {
  font-size: 15px;
  color: #fff;
  font-weight: inherit;
}

.feedback-rating {
  display: block;
}

.order-feedback-form {
  max-width: 500px;
}

.btn-submit-feedback {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;

  transition: all 0.3s;
}
.btn-submit-feedback:hover {
  background-color: #fff;
  color: #333;
}


/*
* Animation: fadeInDown
*/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.6s;
  transform: translate3d(0, 0, 0);
}

/**
 * http://elvery.net/demo/responsive-tables
 */

 @media only screen and (max-width: 800px) {

  /* Force table to not be like tables anymore */
  #order-summary-table-container table,
  #order-summary-table-container thead,
  #order-summary-table-container tbody,
  #order-summary-table-container th,
  #order-summary-table-container td,
  #order-summary-table-container tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #order-summary-table-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /*#order-summary-table-container tr { border: 1px solid #ccc; }*/

  #order-summary-table-container td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 25%;
    white-space: normal;
    text-align:right;
    padding-right: 16px;
  }

  #order-summary-table-container td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 4px;
    left: 16px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  #order-summary-table-container .order-line-item-table .line-item-name {
    width: 100%;
  }

  #order-summary-table-container .order-line-item-table .line-item-price {
    text-align: right;
  }

  #order-summary-table-container .order-line-item-table .line-item-quantity .icon-x {
    display:none;
  }

  #order-summary-table-container .order-line-item-table .line-item-quantity .order-item-quantity {
    margin-left: 0px;
  }

  /*
  Label the data
  */
  #order-summary-table-container td:before {
    content: attr(data-title);
    margin-top: 14px;
  }
}

@media (max-width: 768px) {
  .panel-order-details .date-created {
    margin-top: 12px;
  }

  .panel-actions .btn {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
