.form-group[data-icon^="gb-icon"]:before {
  margin-top: 26px;
}

.order-summary-heading {
  text-align: left;
  padding: 10px 0 10px 24px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #D2D2C8;
  background-color: #F0F0EF;
}

.delivery-info-date {
  margin-left: 0px;
  padding-left: 24px;
}

.delivery-info-date dt {
  text-align: left;
  width: 100px;
  font-weight: normal;
}

.delivery-header {
  padding-left: 9px;
  font-size: 21px;
  color: #432012;
}

.delivery-submitted {
  padding-left: 9px;
}

.copy-order-btn {
  text-decoration: underline;
  margin-left: 10px;
  font-size: 16px;
}
