.form-group[data-icon^="gb-icon"]:before {
  margin-top: 26px;
}

.order-summary-heading {
  text-align: left;
  padding: 10px 0 10px 24px;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #D2D2C8;
  background-color: #F0F0EF;
}

.delivery-info {
  margin-top: 20px;
  font-size: 12px;
}

.delivery-info strong {
  font-size: 1.1em;
}

.delivery-info-date {
  margin-left: 0px;
  padding-left: 24px;
}

.delivery-info-date dt {
  text-align: left;
  width: 100px;
  font-weight: normal;
}

.delivery-info-date > dt, .delivery-info-date > dd {
  line-height: 18px;
}

.delivery-header {
  margin-bottom: -2px;
  padding-left: 9px;
  font-size: 21px;
  color: #432012;
}

.delivery-submitted {
  padding-left: 9px;
}

.copy-order-btn {
  text-decoration: underline;
  margin-left: 10px;
  font-size: 16px;
}

.delivery-info-address address {
  margin-top: 12px;
}

.delivery-info-address address > .group{
  display: inline-block;
  margin-top: 12px;
}

.thankyou-wrapper {
  margin: 20px 0 32px;
  text-align: center;
}

.thankyou-message {
  display: block;
  font-size: 16px;
}

.thankyou-wrapper .points-earned {
  font-size: 20px;
}

.thankyou-wrapper .reward-points {
  color: #4BB548;
  font-style: normal;
}

.order-totals {
  float: right;
}

.restaurant-review {
  text-align: center;
}

.restaurant-review.panel-actions .btn {
  margin: 0 20px;
}

.panel-body {
  position: relative;
}

.btn-pdf {
  position: absolute;
  right: 15px;
  top: 52px;
}

.reason-denied-header {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #DC0500;
  font-size: 18px;
}

.delivery-service-note {
  font-style: italic;
}

.amenity .checkbox {
  margin-left: 22px;
}