.panel-group-filters .panel {
  background-color: #fff; 
}

.panel-group-filters .panel .panel-heading {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff; 
}

.panel-heading a {
  color: #695A42;
}

.panel-heading .glyphicon {
  font-size: 12px;
}