.list-group-item-restaurant .list-group-item-heading,
a.list-group-item-restaurant .list-group-item-heading {
  font-size: 16px;
  font-weight: 500;
}

.list-group-item-restaurant .list-restaurant-cuisines > li {
  color: #8B8983;
}

.back-to-results-wrapper {
  margin-bottom: 12px;
}