.list-group-item-restaurant .list-group-item-heading,
a.list-group-item-restaurant .list-group-item-heading {
  font-size: 16px;
  font-weight: 500;
}

.list-group-item-restaurant .list-restaurant-inline > li {
  color: #8B8983;
}

.back-to-results-wrapper {
  margin-bottom: 12px;
  margin-top: 12px;
}

.list-group-restaurants .logo-wrapper {
  padding-right: 0;
  padding-left: 12px;
  min-width: 40px;
}

.list-group-restaurants .logo-wrapper + .col {
  padding-left: 12px;
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  .list-group-restaurants .logo-wrapper + .col {
    width: 100%;
    margin-left: -30px;
    padding-left: 40px;
    margin-right: -52px;
  }
}

.fee-info dl {
  margin: 0;
  font-size: 0.9em;
  color: #8B8983;
}

.fee-info dt {
  font-weight: normal;
  margin-right: 4px;
}

.fee-info dd {
  margin-right: 14px;
}

.list-group-restaurants .rating-wrapper {
  padding-top: 5px;
  /* Quick hack to fix medium breakpoint derpage */
  padding-right: 2px;
}

.list-group-restaurants .rating {
  color: #6E6E6E;
}

.list-group-item-restaurant:hover .rating {
  color: #DA1800;
}

a.list-group-item:hover {
  /* Nice off-gray-ish */
  border-color: #ccd;
}

a.list-group-item:hover + a.list-group-item {
  border-top-color: #ccd;
}

.results-too-few {
  text-align: center;
}

.search-info {
  margin-top: -12px;
}