/*

red:          #FCFDF6;
orange:       #F0AD4E;
blue:         #5BC0DE;
green:        #5CB85C;
beige:        #FBF9E5;
offGray:      #340F02;
offGrayBrown: #535145;

*/

body {
  background: #FBF9E5 url('../img/body-bg.png');
  color: #695A42;
}

a {
  color: #432012;
}

a:hover {
  color: #432012;
  text-decoration: underline;
}

.navbar {
  background: #FCFDF6;
  border-color: #CCCCC0;
}

.panel,
.panel .panel-heading,
.panel .list-group-item {
  border-color: #CCCCC0;
  color: #695A42;
  background-color: #FCFDF6;
}

/**
 * Buttons
 */

.btn-default {
  border-color: #DDDED8;
  background-color: #FCFDF6;
}

a.btn {
  color: #333;
}

.btn:hover {
  background-color: #F3F3F3;
}

.btn-primary {
  background-color: #DC0500;
  border-color: #B80300;
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary.active {
  background-color: #CF0F0B;
  border-color: #9E0200;
}

a.btn-primary.disabled,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #CA425D;
  border-color: #BD3566;
  color: #FFBDCA;
}


/**
 * Forms
 */
.form-control {
  border-color: #C2C2BC;
  font-weight: 300;
}

/**
 * List Groups
 */

.list-group-item .list-group-item-text {
  color: #8B8983;
}

a.list-group-item:hover {
  background-color: #F8F8F0;
}

a.list-group-item strong,
a.list-group-item .list-group-item-heading {
  color: #695A42;
}

/**
 * Pages
 */

.page-title {
  color: #535145;
  text-shadow: 0 1px 0 #FFF;
}

/**
 * Order Summary
 */

.order-summary {
  color: #7A756D;
}

.order-table .item-edit {
  color: #A29893;
}

/**
 * Items
 */

.item-legend dt {
  color: #8B8983;
}

.item-legend dd {
  color: #432012;
}

/**
 * Modals
 */

.modal-body {
  color: #8B8983;
}

/**
 * Labels
 */

.label-pending {
  background-color: #F0AD4E;
}

.label-complete {
  background-color: #5CB85C;
}

.label-canceled {
  background-color: #D9534F;
}

.label-submitted {
  background-color: #5CB85C;
}

/**
 * Forms
 */

.form-light label {
  color: #695A42
}

/**
 * Tabs
 */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #432012;
  text-decoration: underline;
  background: none;
  border: none;
}

.nav-tabs > li > a {
  border: none;
  font-size: 13px;
  padding-bottom: 16px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: none;
  border: none;
  text-decoration: underline;
}