/*

red:          #FCFDF6;
orange:       #F0AD4E;
blue:         #5BC0DE;
green:        #5CB85C;
beige:        #FBF9E5;
offGray:      #340F02;
offGrayBrown: #535145;

*/

body {
  background: rgba(255, 243, 247, 0.4);
  color: #905E84;
}

a {
  color: #FF3DAE;
}

a:hover {
  color: #FF3DAE;
  text-decoration: underline;
}

.navbar {
  background: #FFF;
  border-color: #CCCCC0;
  position: relative;
  width: 100%;
}

.navbar-impersonate {
  border-top: 5px solid #DC0500;
}

.panel,
.panel .panel-heading,
.panel .list-group-item {
  border-color: #CCCCC0;
  color: #340F02;
  background-color: #FFFFFF;
}

.panel .panel-heading {
  background-color: #FFFDFD;
}

.panel-title {
  color: #905E84;
}

/**
 * Buttons
 */

.btn-default {
  border-color: #DDDED8;
  background-color: #FFF;
}

.btn-default:hover {
  background-color: #F3F3F3;
}

.btn-primary {
  background-color: #DC0500;
  border-color: #B80300;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary.active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.24);
  background-color: #CF0F0B;
  border-color: #9E0200;
}

.btn-primary:active {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

a.btn-primary.disabled,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #CA425D;
  border-color: #BD3566;
  color: #FFBDCA;
}

.btn-inline-icon {
  padding: 0;
  margin: 0;
  display: inline;
  background: none;
  border: none;
  outline: none;
  color: #aaa;
  height: 36px;
  padding: 10px;
}


/**
 * Forms
 */
.form-control {
  border-color: #C2C2BC;
  font-weight: 300;
}

.form-control-borderless {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  height: 36px;
  padding: 12px;
}

/**
 * List Groups
 */

.list-group-item .list-group-item-text {
  color: #8B8983;
}

a.list-group-item:hover {
  background-color: #FFE6EF;
}

a.list-group-item.disabled:hover,
a.list-group-item.disabled:focus {
  background-color: #fff;
}

a.list-group-item strong,
a.list-group-item .list-group-item-heading {
  color: #695A42;
}

/**
 * Pages
 */

.page-title {
  /*color: #535145;*/
  text-shadow: 0 1px 0 #FFF;
}

/**
 * Order Summary
 */

.order-summary {
  color: #7A756D;
}

.order-table .item-edit {
  color: #0039a1;
}

/**
 * Items
 */

.item-legend dt {
  color: #8B8983;
}

.item-legend dd {
  color: #432012;
}

/**
 * Modals
 */

.modal-body {
  color: #8B8983;
}

/**
 * Labels
 */

.label-pending {
  background-color: #F0AD4E;
}

.label-accepted {
  background-color: #5CB85C;
}

.label-canceled {
  background-color: #B3B3B3;
}

.label-denied {
  background-color: #D9534F;
}

.label-submitted {
  background-color: #5BC0DE;
}

.label-delivered {
  background-color: #428BCA;
}

/**
 * Status Buttons
 */

.btn-pending {
  background-color: #F0AD4E;
}

.btn-accepted {
  background-color: #5CB85C;
}

.btn-canceled {
  background-color: #B3B3B3;
}

.btn-denied {
  background-color: #D9534F;
}

.btn-submitted {
  background-color: #5BC0DE;
}

.btn-delivered {
  background-color: #428BCA;
}

.btn-pending, .btn-accepted, .btn-canceled, .btn-denied, .btn-submitted, .btn-delivered {
  color: white;
}

.btn-pending:hover, .btn-accepted:hover, .btn-canceled:hover, .btn-denied:hover, .btn-submitted:hover, .btn-delivered:hover {
  color: white;
}

.btn-pending:focus, .btn-accepted:focus, .btn-canceled:focus, .btn-denied:focus, .btn-submitted:focus, .btn-delivered:focus {
  color: white;
}


/**
 * Forms
 */

.form-light label {
  color: #695A42;
}

/**
 * Tabs
 */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #FF3DAE;
  text-decoration: underline;
  background: none;
  border: none;
}

.nav-tabs > li > a {
  border: none;
  font-size: 13px;
  padding-bottom: 16px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: none;
  border: none;
  text-decoration: underline;
}

.nav > li > a.users-return {
  background-color: #000;
  color: #fff;
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 3px;
}

.back-to-results {
  display: block;
  padding-top: 30px;
}
