/**
 * My Order List Groups
 */

.order-list-group .list-group-item {
  padding-left:   25px;
  padding-top:    26px;
  padding-right:  25px;
  padding-bottom: 20px;
}

.order-list-group .list-group-item .list-group-item-heading {
  font-size: 18px;
  color: #53442B;
}

.order-list-group .order-details-list {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
}

.order-list-group dt,
.order-list-group dd {
  line-height: 1.6;
}

.order-list-group .checkbox {
  margin-top: 0;
}

.order-list-group .checkbox .active {
  font-weight: bold;
  color: #DC0500;
}

.order-list-group .checkbox label {
  float: right;
}

.order-list-group dt {
  font-weight: 300;
  color: #A7A4A0;
}

.order-list-group .order-type-indicator {
  display: inline-block;
  position: absolute;
  top: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 6px 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: solid 3px rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.16);
  border-top: none;
  font-size: 12px;
  color: #FFF;
}

.order-type-indicator[data-type="DS"] { background: #D9534F; }
.order-type-indicator[data-type="D"] { background: #5BC0DE; }
.order-type-indicator[data-type="P"] { background: #5CB85C; }

.definition-group-total {
  margin-top: 4px;
}

.definition-group-total > dd {
  font-weight: 500;
}

.label-status {
  text-transform: capitalize;
}

.status-buttons {
  width: 100%;
}

.order-number {
  font-size: 14px;
  color: #A7A4A0;
}

.nav-orders .nav-tabs > li.active > a {
  text-decoration: none;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #FCF9E8;
}

.nav-orders .tab-content {
  margin-top: 30px;
}

.nav-orders .fc-event {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-orders .fc-event:hover {
  cursor: pointer;
}

.fc-event-container > .popover {
  width: 400px;
}

.fc-title {
  display: block;
  text-overflow: ellipsis;
}

/* Make the event container thingies able to be clicked through */
/* so we can show the popover on .fc-day click */
.fc-content-skeleton {
  pointer-events: none;
}

/* Event containers should still be clickable, though */
.fc-event-container {
  pointer-events: all;
}

#calendar .fc-state-highlight {
  background: #f7f7f7;
}

#main .form-control {
  cursor: default;
  background-color: #fff;
}

.orders-calendar-filters .filter-swatch {
  width: 20px;
  height: 20px;
  border-radius: .25em;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

.panel-order-types .btn {
  display: block;
  margin-top: 4px;
}

.panel-order-types .btn:first-child {
  margin-top: 0;
}