/**
 * My Order List Groups
 */

.order-list-group .list-group-item {
  padding-left:   25px;
  padding-top:    26px;
  padding-right:  25px;
  padding-bottom: 20px;
}

.order-list-group .list-group-item .list-group-item-heading {
  font-size: 18px;
  color: #53442B;
}

.order-list-group .order-details-list {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
}

.order-list-group dt,
.order-list-group dd {
  line-height: 1.6;
}

.order-list-group .checkbox {
  margin-top: 0;
}

.order-list-group .checkbox .active {
  font-weight: bold;
  color: #DC0500;
}

.order-list-group .checkbox label {
  float: right;
}

.order-list-group dt {
  font-weight: 300;
  color: #A7A4A0;
}

.order-list-group .order-type-indicator {
  display: inline-block;
  position: absolute;
  top: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 2px 6px 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: solid 3px rgba(0, 0, 0, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.16);
  border-top: none;
  font-size: 12px;
  color: #FFF;
}

.order-type-indicator[data-type="DS"] { background: #D9534F; }
.order-type-indicator[data-type="D"] { background: #5BC0DE; }
.order-type-indicator[data-type="P"] { background: #5CB85C; }

.definition-group-total {
  margin-top: 4px;
}

.definition-group-total > dd {
  font-weight: 500;
}

.label-status {
  text-transform: capitalize;
}

.status-buttons {
  width: 100%;
}

.order-number {
  font-size: 14px;
  color: #A7A4A0;
}

.nav-orders .nav-tabs > li.active > a {
  text-decoration: none;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #FCF9E8;
}

.nav-orders .tab-content {
  margin-top: 30px;
}

.nav-orders .fc-event {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-orders .fc-event:hover {
  cursor: pointer;
}

.fc-event-container > .popover {
  width: 400px;
}

.fc-content {
  background-color: #fff;
}

#calendar .fc-state-highlight {
  background: #f7f7f7;
}

#main .form-control {
  cursor: default;
  background-color: #fff;
}

.orders-calendar-filters .filter-swatch {
  width: 20px;
  height: 20px;
  border-radius: .25em;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

.panel-order-types .btn {
  display: block;
  margin-top: 4px;
}

.panel-order-types .btn:first-child {
  margin-top: 0;
}

/*
* Popover
*/

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}
