.page-title {
  margin-bottom: 30px;
}

.user-settings-form {
  background-color: #FCFDF6;
  padding-left:   20px;
  padding-top:    50px;
  padding-right:  20px;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .user-settings-form {
    padding-left:   120px;
    padding-right:  120px;
    padding-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .user-settings-form {
    padding-bottom: 50px;
  }
}

.user-other-settings dt:first-child {
  margin-top: 0;
}

.user-other-settings dt {
  margin-top: 10px;
}


/**
 * User Payments list
 */
.user-payments-list {
}

.user-payments-list li {
  margin-top: 10px;
}

.user-payments-list li:first-child {
  margin-top: 0;
}

.user-payments-list i {
  display: none;
  font-size: 20px;
  color: #535145;
}

.user-payments-list button {
  padding: 0;
}

.user-payments-list button:hover {
  text-decoration: none;
}

.user-payments-list .form-remove-card {
  float: right;
  display: inline-block;
}

.user-payments-list li:hover i {
  display: inline-block;
}

.user-payments-list li:hover i:hover {
  color: #DC0500;
}