.wizard {
  display: block;
  text-align: center;
  font-family: 'Aleo';
  color: #D9D9CD; /* Muted Gray */
  font-size: 0;
  list-style-type: none;
  counter-reset: section;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.wizard > .step {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.wizard > .step.active {
  color: #481E14; /* Dark maroon */
}

.wizard > .step:before {
  counter-increment: section;
  content: counter(section);
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 4px;
  border-radius: 50%;
  border: 2px solid;
  line-height: 28px;
  font-size: 17px;
  font-family: 'Proxima Nova';
  font-weight: bold;
}

.wizard > .step:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/wizard-separator.png') repeat-x 0 12px;
  top: 0;
  right: -50%;
  margin-right: -28px;
  background-clip: padding-box;
  border-right: 54px rgba(0, 0, 0, 0) solid;
}

.wizard > .step:last-child:after {
  display: none;
}

.wizard > .step.complete:before {
  content: "\e013";
  position: relative;
  padding-top: 3px;
  padding-right: 1px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 786px) {
  .wizard > .step {
    width: 33.333333333333%;
    font-size: 12px;
  }
}