/**
 * Yelp Reviews
 */

.rating-star {
  color: #DA1800;
  font-size: 15px;
  letter-spacing: 2px;
}

.rating-header {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
}

.rating-header .rating {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.reviews .review {
  position: relative;
  padding-left: 32px;
  margin-bottom: 38px;
}

.review .review-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 64px;
}

.review .review-info {
  padding-top: 4px;
  margin-left: 10px;
}

.review .review-author {
  margin-top: 0;
  margin-bottom: 16px;
}

#reviews .anchor-yelp {
  float: right;
  margin: 20px 0;
}
