{{#extend "page"}}page-restaurant-list{{/extend}}

{{#extend "body"}}
<div class="small-container">
  <h1>Verification Complete!</h1>
  <p>You are all set up to receive payments.</p>
</div>
{{/extend}}
