{{#extend "page"}}page-restaurant-list{{/extend}}

{{#extend "body"}}
<div class="small-container">
  <h1>Payment Agreement</h1>
  <p>We've recently changed our payment vendor to
    <a href="https://stripe.com">Stripe.com</a>. In order to continue bank
    transfers to your account, we will need some info from you.
  </p>
  <form method="post" action="/verify/{{restaurant.uuid}}/verifications" class="form-vertical">
    <section>
      <div class="form-group">
        <label for="business-name">Legal Business Name</label>
        <input id="business-name" name="business_name" type="text" required>
      </div>
      <div class="form-group">
        <label>Type</label>
        <label><input type="radio" name="type" id="type-individual" value="individual" checked/> Individual</label>
        <label><input type="radio" name="type" id="type-company" value="company" /> Company</label>
      </div>
      <div class="form-group tax-id">
        <label for="personal-tax-id">Personal ID Number (SSN)</label>
        <input id="personal-tax-id" name="personal_id_number" type="text">
      </div>
      <div class="form-group tax-id hide">
        <label for="business-tax-id">Federal Tax ID Number (EIN)</label>
        <input id="business-tax-id" name="business_tax_id" type="text">
      </div>
    </section>
    <section>
      <div class="form-group">
        <label for="line1">Address</label>
        <input id="line" name="line1" type="text" required>
      </div>
      <div class="form-group">
        <label for="line2">Address 2</label>
        <input id="line2" name="line2" type="text" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input id="city" name="city" type="text" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input id="state" name="state" type="text" required>
      </div>
      <div class="form-group">
        <label for="postal-code">Zipcode</label>
        <input id="postal-code" name="postal_code" type="text" required>
      </div>
    </section>
    <section>
      <div class="form-group">
        <label for="first-name">Legal First Name (As written on Social Security Card)</label>
        <input id="first-name" name="first_name" type="text" required>
      </div>
      <div class="form-group">
        <label for="last-name">Legal Last Name (As written on Social Security Card)</label>
        <input id="last-name" name="last_name" type="text" required>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input id="dob" name="dob" type="text" required>
      </div>
    </section>
    {{!--
    <section>
      <div class="form-group">
        <label for="bank-account">Bank Account #</label>
        <input type="text" id="bank-account" name="account_number" required/>
        <label for="bank-account">Bank Routing #</label>
        <input type="text" id="bank-routing" name="routing_number" required/>
      </div>
    </section>
    --}}
    <section>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">I Accept</button>
      </div>
    </section>
  </form>
  <p>
    <small>
      By submitting, you agree to our <a href="/legal">Terms of Service</a>
      and the <a href="{{config.stripe.tos_url}}">Stripe Connected Account
      Agreement</a>.
    </small>
  </p>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require( ['jquery-loaded'], function($) {
  var datepicker = $('#dob').pickadate({
    format: 'mm/dd/yyyy'
  , selectYears: 100
  , selectMonths: true
  , max: true
  });

  var $taxInputs = $('.tax-id');
  $('[name="type"]').change(function() {
    $taxInputs.toggleClass('hide');
  });
});
</script>
{{/extend}}
