<div id="basic-info">
  <div>
    <h2>Start feeding offices</h2>
    <p>Get exposure to hundreds of offices and new customers.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <label class="label-col">Your Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-name" name="name" id="name">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Number</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control user-phone" name="number" id="number">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Your Email</label>
    <div class="field-col">
      <div class="form-group">
        <input type="email" class="form-control user-email" name="email" id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Restaurant Name</label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-name" name="restaurant_name" id="restaurant-name">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">
      Restaurant Website
      <span class="panel-info">Optional</span>
    </label>
    <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control restaurant-website" name="website" id="website">
      </div>
    </div>
  </div>
  <div class="row">
    <label class="label-col">Which can you provide?</label>
    <div class="field-col">
      <ul class="inline-list">
        <li>
          <input type="radio" class="restaurant-services" name="services" value="delivery, pickup">
          <label>Delivery and Pickup</label>
        </li>
        <li>
          <input type="radio" class="restaurant-services" name="services" value="delivery">
          <label>Delivery only</label>
          <p class="panel-info">Your restaurant delivers the food</p>
        </li>
        <li>
          <input type="radio" class="restaurant-services" name="services" value="pickup">
          <label>Pickup only</label>
          <p class="panel-info">A courier will come get the food</p>
        </li>
      </ul>
    </div>
  </div>
</div>
