<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Billing Address</h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="label-left">Name</label>
      <input type="text" class="form-control billing-name" name="name">
    </div>
    <div class="form-group">
      <label class="label-left">Phone Number</label>
      <input type="text" class="form-control billing-phone" name="phone_number">
    </div>
    <div class="form-group">
      <label class="label-left">Street1</label>
      <input type="text" class="form-control billing-street" name="street1">
    </div>
    <div class="form-group">
      <label class="label-left">Street2
        <p class="panel-info">optional</p>
      </label>
      <input type="text" class="form-control billing-street2" name="street2">
    </div>
    <div class="form-group">
      <label class="label-left">City</label>
      <input type="text" class="form-control billing-city" name="city">
    </div>
    <div class="form-group">
      <label class="label-left">State</label>
      <input type="text" class="form-control billing-state" name="state">
    </div>
    <div class="form-group">
      <label class="label-left">Zip</label>
      <input type="text" class="form-control billing-zip" name="zip">
    </div>
  </div>
</div>
