<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Billing Address</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="label-col">Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-name" name="name">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Phone Number</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-phone" name="phone_number">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Street1</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-street" name="street1">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Street2
        <p class="panel-info">optional</p>
      </label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-street2" name="street2">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">City</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-city" name="city">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">State</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-state" name="state">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Zip</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control billing-zip" name="zip">
        </div>
      </div>
    </div>
  </div>
</div>
