<table class="table">
  <thead>
    <tr>
      <td>Max. Guests</td>
      <td>Lead Time</td>
      <td>Cancel Time</td>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td>25</td>
      <td>3 hrs</td>
      <td>2 hrs</td>
    </tr>
    <tr>
      <td>50</td>
      <td>12 hrs</td>
      <td>6 hrs</td>
    </tr> 
    <tr>
      <td>100</td>
      <td>18 hrs</td>
      <td>12 hrs</td>
    </tr>
    <tr>
      <td>250</td>
      <td>24 hrs</td>
      <td>18 hrs</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>72 hrs</td>
      <td>72 hrs</td>
    </tr>
  </tbody>
</table>
