<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Direct Deposit Info</h2>
  </div>
  <div class="panel-body">
    <p class="subtext">
      The information below allows Goodybag to initiate credit entries to my (our) checking and/or savings accounts indicated below and to credit the same to such account. I (we) acknowledge that the origination of the ACH transactions to my (our) account must comply with provisions of U.S. Law.
    </p>
    <div class="row">
      <label class="label-col" >Bank Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control bank-name" name="bank_name">
        </div>
      </div>
    </div>
    <div class="row">
        <label class="label-col">Account Type</label>
        <div class="field-col">
          <div class="grid-map">
            <div class="grid-item">
              <div class="form-group">
                <label>
                  <input type="checkbox" class="account-type">
                  Checking
                </label>
              </div>
            </div>
            <div class="grid-item">
              <div class="form-group">
                <label>
                  <input type="checkbox" class="account-type">
                  Savings
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <label class="label-col" >Account Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control account-name" name="account_name">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col" >ABA Routing Number</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control routing-number" name="routing_number">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Account Number</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control account-number" name="account_number">
        </div>
      </div>
    </div>

    <div class="row">
      <label class="label-col">&nbsp;</label>
      <div class="field-col">
        <div class="form-group">
          <label>
            <input type="checkbox">
            Please mail me my checks instead
          </label>
        </div>
      </div>
    </div>

  </div>
</div>
