<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Fee Schedule</h2>
  </div>
  <div class="panel-body">
    <p class="subtext">
      Please select one of the following fee schedules. All fees are a percentage
      of the Total Gross Receipt (includes the order subtotal, delivery fee tax,
      and tip). Goodybag pays all credit card transaction fees.
    </p>
    <div class="row fee-schedule">
      <div class="col-4">
        <div class="form-group">
          <label>
            <input type="radio" name="flat_fee">
            Flat Fee
          </label>
        </div>
        <p>12.75% Flat of Gross Receipt</p>
      </div>
      <div class="col-6">
        <label>
          <input type="radio" name="flat_fee">
          Tiered Fee
        </label>
        <table>
          <tbody>
            <tr>
              <td>6.0%</td>
              <td>of Gross Receipt if between</td>
              <td>$0.00 - $74.99</td>
            </tr>
            <tr>
              <td>10.5%</td>
              <td>of Gross Receipt if between</td>
              <td>$75.00 - $199.99</td>
            </tr>
            <tr>
              <td>14.5%</td>
              <td>of Gross Receipt if between</td>
              <td>$200.0 - $699.99</td>
            </tr>
            <tr>
              <td>15.75%</td>
              <td>of Gross Receipt if</td>
              <td>$700 or above</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
