<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Hours of Operation</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="label-col">Delivery Hours</label>
      <div class="field-col">
        <div class="delivery-hours-container">
          {{> edit_delivery_hours}}
        </div>
        <button class="btn btn-default add-hours">+ add hours</button>
      </div>
    </div>

    <div class="row">
      <label class="label-col">Pickup Hours</label>
      <div class="field-col">
        <div class="grid-map">
          <div class="grid-item">
            <div class="form-group">
              <label>
                <input type="checkbox">
                Use same hours as delivery
              </label>
            </div>
          </div>
          <div class="grid-item">
            <div class="form-group">
              <label>
                <input type="checkbox" class="">
                Use different hours
              </label>
            </div>
          </div>
        </div>
        <div class="pickup-hours-container"></div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Closed Dates <p class="subtext">Optional</p></label>
      <div class="field-col">
        <div class="grid-map">
          <div class="grid-item">
            <label>
              <input type="checkbox" name="closed_dates">
              New Year's Day (Jan 1)
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" name="closed_dates">
              Thanksgiving Day
            </label>
          </div>
          <div class="grid-item">
            <label>
              <input type="checkbox" name="closed_dates">
              Christmas Day (Dec 25)
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <label class="label-col">Other</label>
        <div class="field-col">
          <div class="form-group">
            <input type="text" class="other-closed-dates" name="closed_dates">
          </div>
          <p class="subtext">Any dates you know you won't be available to accept orders. Holidays, events, etcs.</p>
        </div>
      </div>
    </div>
  </div>
</div>