<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Pickup Info</h2>
  </div>
  <div class="panel-body">
    <h4 class="panel-subtitle">Pickup Lead Times</h4>
    <div class="subtext">
      <p>
        The time you need to prepare an order that is being picked up by an
        outside party. Below are the lead times we recommend for our restaurants.The smaller the lead time, the more orders you can receive.
        <strong>Cancel Time</strong> is the amount of notice needed if someone
        wants to cancel their order with you.
      </p>
      <h4 class="table-title">Default Lead Times</h4>
      {{> restaurant_signup_default_lead_time_table}}
    </div>
    <div class="grid-map">
      <div class="grid-item">
        <div class="form-group">
          <label>
            <input type="radio" name="pickup_lead_times" class="pickup-lead-times default-lead-times" data-type="pickup" value="default">
            Use default lead times
          </label>
        </div>
      </div>
      <div class="grid-item">
        <div class="form-group">
          <label>
            <input type="radio" name="pickup_lead_times" class="pickup-lead-times add-custom-lead-times" data-type="pickup" value="custom">
            Cutomize my lead times
          </label>
        </div>
      </div>
    </div>
    <div class="pickup-lead-times-container"></div>
  </div>
</div>
