<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Terms of Service</h2>
  </div>
  <div class="panel-body">
    <div class="row">
     <label class="label-col">Restaurant Name</label> 
     <div class="field-col">
      <div class="form-group">
        <input type="text" class="form-control terms-restaurant-name" name="name">
      </div>
     </div>
    </div>
    <div class="row">
      <label class="label-col">Contact Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control terms-contact-name" name="contact_name">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Date</label>
      <div class="field-col">
        <div class="form-group">
          <input type="date" class="form-control terms-date" name="date">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="terms_agreement">
        <input type="checkbox" name="terms_agreement">
        I have read and agree to the <a href="#terms">Terms of Service</a>
      </label>
    </div>
  </div>
</div>
