<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Terms of Service</h2>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="label-left">Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label class="label-left">Contact Name</label> 
      <input type="text" class="form-control" name="contact_name">
    </div>
    <div class="form-group">
      <label class="label-left">Date</label>
      <input type="date" class="form-control" name="date">
    </div>
    <div class="form-group">
      <label for="terms_agreement">
        <input type="checkbox" name="terms_agreement">
        I have read and aggree to the <a href="#terms">Terms of Service</a>
      </label>
    </div>
  </div>
</div>