<div class="panel">
  <div class="panel-head">
    <h2 class="panel-title">Terms of Service</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="label-col">Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control" name="name" value="{{restaurant.terms_name}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Contact Name</label>
      <div class="field-col">
        <div class="form-group">
          <input type="text" class="form-control" name="contact_name" value="{{restaurant.terms_contact_name}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">Date</label>
      <div class="field-col">
        <div class="form-group">
          <input type="date" class="form-control" name="date" value="{{restaurant.terms_date}}">
        </div>
      </div>
    </div>
    <div class="row">
      <label class="label-col">&nbsp;</label>
      <div class="field-col">
        <div class="form-group">
          <label>
            <input type="checkbox" name="terms_agreement">
            I have read and agree to the <a href="#terms">Terms of Service</a>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>