{{#extend "body"}}
  <p style="width:100%; padding-bottom:2px; padding-left:10px; padding-right:10px; line-height:22px; font-weight:400; font-family:Helvetica,arial,sans-serif; color:#dc0000; font-size:33px; text-align:left; letter-spacing: 2px;">
    Your giftcard is on the way!
  {{> rewards_redemption_details }}
  <p style="width:100%; padding-top: 28px; padding-bottom:2px; padding-left:10px; padding-right:10px; line-height:22px; font-weight:300; font-family:Helvetica,arial,sans-serif; color:#695a42; font-size:13px; text-align:left">
    Thank you for ordering with Goodybag! Your giftcard will be delivered by email. Please allow up to 15 days for delivery.
  </p>
{{/extend}}
