{{#extend "body"}}
  <p style="width:100%; padding-top:28px; padding-bottom:2px; padding-left:10px; padding-right:10px; line-height:22px; font-weight:300; font-family:Helvetica,arial,sans-serif; color:#695a42; font-size:24px; text-align:left">
    Thank you for ordering with Goodybag!
  <p style="width:100%; padding-top:28px; padding-bottom:2px; padding-left:10px; padding-right:10px; line-height:22px; font-weight:300; font-family:Helvetica,arial,sans-serif; color:#695a42; font-size:13px; text-align:left">
    Your giftcard is on the way! Note that delivery may take up to
    two weeks.
  </p>
  {{> rewards_redemption_details }}
{{/extend}}
