{{#extend "info"}}
<h2 class="info-title">Customer Receipt</h2>
<dl>
  <dt>Date</dt>
  <dd>{{order.date}}</dd>
  <dt>Order #</dt>
  <dd>{{order.id}}</dd>
</dl>
{{/extend}}

{{#extend "body"}}

{{/extend}}