<li class="not-selected-only popover-wrapper gb-dropdown right">
  <a data-role="popover" data-target="dropdown-popover" href="#">
    Sort
    <i class="gb-icon-caret-down"></i>
  </a>
  <div class="popover-modal dropdown-popover">
    <div class="popover-header">Sort by
      <a href="#" class="popover-close-btn gb-icon-x-mark pull-right" data-toggle-role="close"></a>
    </div>
    <div class="popover-body">
      {{#each filters.sort}}
      <a href="?q={{this.qs}}" class="popover-item" data-name="{{this.name}}">
        <span class="popover-item-icon">
          {{~#if active~}}
          <span class="gb-icon-checkmark va-middle"></span>
          {{~/if~}}
        </span>
        <span class="popover-item-label">{{name}}</span>
      </a>
      {{/each}}
    </div>
  </div>
</li>