<div class="list-item">
  <div class="component main">
    <a class="item-title" href="#">${{dollars amount}}</a>
    <div class="item-details">{{datepart created_at}} {{timepart created_at}}
    </div>
    {{#if error}}<div>Error: {{error}}</div>{{/if}}
  </div>
</div>
