.page {
  padding-bottom: 20px;
}

#main {
  // Don't let the enterprise give horizontals
  @media screen and ( max-width: @container-width ){
    overflow: hidden;
  }

  &:before {
    content: "";
    .starship-enterprise();
    right: 50%;
    margin-right: -600px;
    top: 50px;
    opacity: 0.1;
  }
}

.navbar .navbar-right {
  padding-left: 16px;
}

// Only add margin hack if dropdown is the only element
.navbar .dropdown:nth-of-type( 1 ) {
  // Hack positioning until I figure out how to make it generalized
  // within the navbar height calculation
  margin-top: 8px;
}

header {
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
  background: #FFF;
  border-bottom: 1px solid #CCCCC0;
  z-index: 2;
  position: relative;
}

.delivery-time {
  .clearfix();
}

//////
// General components // should be somewheres else
//////

.btn-update {
  .btn();
  .btn-primary();
}

//////
// Basic info
//////

.col-filepicker-photo {
  #grid.column(3);
}

//////
// Contacts
//////

///////
// Lead times
///////

.ap-lead-times {
  .row {
    margin-bottom: 10px;
  }
}

@media (min-width: 40rem) {
  .ap-lead-times {
    .col-day {
      float: left;
      width: 15%;
      font-weight: 700;
      line-height: 36px;
    }

    .col-times {
      float: left;
      width: 85%;
    }

    .col-time {
      float: left;
      width: 20%;
      margin-right: 10px;
    }

    .col-separator {
      display: inline-block;
      float: left;
      width: 40px;
      line-height: 36px;
      margin-left: -10px;
      text-align: center;
    }

    .col-checkbox {
      float: left;
      width: 15%;
      margin-left: 10px;
      line-height: 36px;
    }
  }
}

@media (min-width: 40rem) {
  .lead-times-list {
    .col-remove {
      float: left;
      margin: 0 10px;
      line-height: 59px;
    }

    .col-guests {
      float: left;
      margin: 0 10px;
      width: 10%;
      &:first-child {
        margin-left: 0;
      }
    }

    .col-time {
      float: left;
      margin: 0 10px;
      width: 10%;
    }

    .remove-lead-time {
      vertical-align: bottom;
    }
  }
}

.main-breadcrumbs {
  margin-top: 32px;
  opacity: 0.6;

  .transition( 0.3s );
  .transition-property( opacity );

  &:hover {
    opacity: 1;
  }
}

///////
// Delivery Settings
///////
.page-delivery-settings {
  .delivery-zip-group {
    position: relative;
  }

  .btn-add-delivery-tier:extend(.btn, .btn-default) { }

  .btn-remove-delivery-tier:extend(.btn, .btn-primary) {
    display: none;
  }

  .delivery-zip-group:hover .btn-remove-delivery-tier {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    &:active { bottom: inherit; }
  }
}

////////
// Menu
///////

.ap-menu .panel {
  margin-bottom: 10px;
}

////////
// Order
////////

.page-order {
  padding-bottom: 80px;

  .flash-container {
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 12px 50px;

    h2 {
      span {
        display: block;
      }

      .flash-success,
      .flash-error {
        font-size: 0.8em;
        padding-bottom: 8px;
        font-weight: 600;
      }

      .flash-success {
        color: @palette-green;
      }

      .flash-error {
        color: @palette-red;
      }

      .flash-message,
      .flash-details {
        font-size: 0.6em;
        margin: 0;
      }
    }
  }

  .container {
    max-width: 1200px;
  }

  #main-container {
    padding-bottom: 120px;
  }

  .page-header {

    .page-title {
      font-size: 1em;
      margin-top: 50px;
      margin-bottom: 50px;

      h2, h4 {
        margin-bottom: 16px;
      }

      h4 {
        margin-top: 10px;
      }

      .datetime-picker-group {
        display: inline-block;
        width: 250px;
      }

      .datetime-picker {
        display: block;
        font-size: 0.9em;
        padding-top: 6px;
        padding-bottom: 6px;
        border: none;
        border-radius: 0;
        border-bottom: 1px dashed @salmon;
        cursor: pointer;
        text-align: center;

        &:hover {
          border-bottom-style: solid;
        }
      }
    }
  }

  .component-actions {
    margin: 0;
    top: 0;

    .component-action {
      display: inline-block;
    }
  }

  .alerts {
    position: fixed;
    top: 75px;
    left: 20px;
    z-index: 200;
  }

  .dropdown-actions {
    position: fixed;
    top: 75px;
    right: 20px;
    z-index: 200;

    .form-group-inline {
      width: auto;
    }
  }

  .panel-section {
    position: relative;
    margin-bottom: 50px;

    .panel-component {
      .definition-row-list > .row {
        border-top: 0;
      }

      .component-title {
        font-weight: 300;
      }
    }

    .definition-row-list {
      display: table;
      width: 100%;

      .title {
        font-weight: 600;
        font-size: 0.9em;
        color: @palette-gray;
        padding: 8px 8px 5px;
        border-bottom: 1px dotted @palette-gray;
      }

      .details {
        display: block;
        padding-bottom: 20px;
      }

      dt, dd {
        display: table-cell;
      }

      dd > div {
        line-height: 1.8;
      }

      .form-group-courier {
        margin-top: 10px;
      }

      textarea.form-control {
        resize: none;
      }

      .checkbox-label {
        display: inline-block;
        font-size: 1em;
        line-height: 1.8;
        margin-left: 4px;
        font-weight: 500;
      }

      a.edit-restaurant {
        text-decoration: none;
        color: @palette-gray;
        &:hover { color: @palette-gray-dark; }
      }

      .actual-dt-in {
        display: inline-block;
        width: 80px;
        vertical-align: middle;
      }

      .actual-dt-row {
        margin-bottom: 5px;
      }

      i[class^="gb-icon"] {
        color: @palette-red;
      }

      i[class="gb-icon-pencil"] {
        color: @palette-gray-light;
        margin-left: 4px;
        cursor: pointer;

        &:hover {
          color: @palette-gray;
        }
      }
    }
  }

  #internal-notes {
    border: 1px solid @palette-gray-lighter;
    box-shadow: 4px 4px 8px @palette-gray-lighter;
    padding: 20px 30px 30px;
    margin-bottom: 25px;
    border-radius: 4px;
    background: @palette-white;

    .form {
      margin-bottom: 25px;
    }

    .form-textarea,
    .form-add {
      display: table-cell;
      padding: 0 10px;
    }

    .form-textarea {
      width: 70%;

      textarea {
        resize: none;
      }
    }

    .form-add {
      width: 30%;

      .btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  #order-summary {
    background: @palette-gray-lighter;
    text-align: center;
    border-radius: 4px;

    .row {
      text-align: left;
    }

    .order-payment-details {
      dt, dd {
        width: 50%;
      }

      dd {
        text-align: right;
      }

      .minimum-order-row {
        color: @palette-gray;
        font-style: italic;
      }

      .order-total-row {
        font-weight: 600;
        border-top: 1px dotted @palette-gray;
      }
    }
  }

  #order-pdfs {
    text-align: center;

    .pdf-preview {
      .component-title {
        text-align: left;
        margin-bottom: 0;
      }

      .pdf-preview-alert {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 80%;
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
      }

      iframe {
        background: @palette-gray-lighter;
      }
    }
  }

  #order-notifications {
    .component-nav {
      margin-bottom: 35px;
    }

    .tab-pane {
      padding-left: 12px;
      padding-right: 12px;
    }

    .notifications-table {
      border-collapse: separate;

      i[class^="gb-icon"] {
        color: @palette-gray;
        margin-right: 4px;
      }

      .no-history {
        padding: 8px;
        color: @palette-gray;
        font-style: italic;
      }

      tr {
        border-bottom: 1px dotted @palette-gray-dark;
      }

      td {
        padding: 8px 8px;
        vertical-align: top;
        width: 33%;
      }
    }

    #notifications-history-table {
      th, td {
        text-align: center;
        width: 25%;
      }
    }
  }

  .catch-mouse-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 200;
  }

  @media screen and (min-width: 720px) {
    #order-user,
    #order-summary .order-payment-summary {
      margin-right: 1%;
    }

    #order-restaurant {
      margin-left: 1%;
    }

    #order-user,
    #order-restaurant,
    #order-summary .definition-row-list,
    #order-pdfs .pdf-preview {
      display: inline-block;
      z-index: 100;
    }

    #order-user,
    #order-restaurant,
    #order-pdfs .pdf-preview {
      width: 48%;
    }

    #order-summary .order-payment-summary {
      width: 60%;
    }

    #order-summary .order-payment-details {
      margin-left: 5%;
      width: 30%;
    }

    #internal-notes {
      float: right;
      width: 40%;
    }

    #order-details {
      width: 55%;
    }
  }
}

///////
// Photos
///////
// todo move into component

.photo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  .clearfix();
}

.photo-list > li.placeholder {
  border: 2px dotted #f3f3f3;
  background: none;
}

.photo-list > li {
  float: left;
  width: 30%;
  margin-right: 2%;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 7px;
  background-color: #f3f3f3;

  img {
    border-radius: 5px;
  }
}

.single-object-page {
  .nav-col {
    #grid > .column(3);
  }

  .content-col {
    #grid > .column(9);
    min-height: 400px;
  }
}

.page-actions {
  margin-top: -50px;
  text-align: right;
}

.page-delivery-services {
  #delivery-services-table {
    margin-top: 40px;
  }
}

.page-delivery-service {
  #component-delivery-zips {
    // Usually, we might use panel-components as containers/rows
    // this requires a display: table;
    // However, that's messing with the overflowing of children els
    display: block;
  }
}

///////
// Edit Restaurants
///////

.page-restaurants {
  .edit-restaurants-link {
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .edit-restaurants-btn:extend(.btn, .btn-default) {
    float: right;
    margin-left: 10px;
  }
}

///////
// Edit Restaurant
///////

.page-restaurant {

}

///////
// Plans
///////

.plan-wrapper {
  #grid > .column(3);
}

///////
// Upcoming Orders
///////

.upcoming-orders {
  min-height: 400px;
  display: block;
  overflow: scroll;
}

.upcoming-orders .picker {
  min-width: 400px;
}


.page-payment-summaries {
  #payment-summary-recipients {
    margin: 40px 0;
  }

  .pms-container ~ .pms-container {
    margin-top: 40px;
  }
}

.table-row > :first-child {
  white-space: nowrap;
}

.priority-label {
  position: absolute;
  left: -70px;
}
