.navbar .nav > li > a:hover, .navbar .nav .active a {
  //background: @gb-carissma;
}

a {
  color: @gb-pink-bright;
}

#main-container {
  min-height: 80vh;
}

body,
.table-list a {
  color: #67465F;
}

.table-list a:hover {
  color: @gb-pink-bright;
}

.page-header {
  margin-bottom: 18px;
}

.panel-component {
  padding-top: 18px;
  padding-bottom: 18px;

  &:last-of-type {
    padding-bottom: 50px;
  }
}

.pdf-preview .pdf-preview-title {
  padding-bottom: 12px;
}

.table td {
  padding: 15px 15px;
  text-align: center;
}

#admin-portal li {
  font-size: 1.5em;
  line-height: 2.4;
}
