@gb-pastel-magenta: #EE96C8;
@gb-persian-pink: #EC87C0;
@gb-carissma: #E27CB7;

.navbar-logo {
  position: absolute;
  top: 18px;
  padding: 0 !important;
  height: inherit !important;
  max-height: inherit !important;
  width: 100% !important;
  max-width: 145px !important;

  @media screen and (max-width: (@breakpoint-tablet)) {
    max-width: 130px !important;
    top: 12px;
  }
}
