@gb-pastel-magenta: #EE96C8;
@gb-persian-pink: #EC87C0;
@gb-carissma: #E27CB7;
@gb-pink: #FFF3F7;
@gb-pink-bright: #FF3DAE;

.form-group a,
.box a,
.popover-wrapper a {
  color: @gb-pink-bright;
}

.footer {
  border-top: 16px solid darken(@gb-pink, 6%);
}

.navbar-logo {
  position: absolute;
  top: 18px;
  padding: 0 !important;
  height: inherit !important;
  max-height: inherit !important;
  width: 100% !important;
  max-width: 145px !important;

  @media screen and (max-width: (@breakpoint-tablet)) {
    max-width: 130px !important;
    top: 12px;
  }
}

.navbar-with-dropdowns .nav {
  @media screen and (max-width: (@breakpoint-tablet)) {
    margin-top: 55px;
  }
}

.tile {
  background-color: #fff;
}

.tile-caption {
  background: rgba(255, 243, 247, 0.4);
  border-top: 1px solid rgba(255, 202, 220, 1);
  color: #fff;
  text-shadow: 0 1px 0 rgba(255, 61, 174, 0.4);
}

.tile-corner {
  color: @gb-pink-bright;
}

.btn-group > input[type="radio"]:checked + .btn, .btn-group > .btn {
  background-color: #fff;
}

#main {
  background-color: rgba(255, 243, 247, 0.2);
  border-bottom: 1px solid darken(@gb-pink, 8%);
}

.page-restaurant-list .restaurant-list-search .search-advanced {
  background-color: @gb-pink; // 255, 243, 247
}

.page-restaurant-list .restaurant-list-search section {
  border-bottom: 1px solid darken(@gb-pink, 8%);
}

.popover-modal .popover-item a:hover {
  background-color: darken(@gb-pink, 6%);
}

.listing {
  border-bottom-color: darken(@gb-pink, 8%);

  &:last-child {
    border-bottom: none;
  }
}

.listing-rating,
.listing-feature {
  color: @gb-pink-bright;
}

///////////******
// HOME PAGE ****
///////////******

.page-section {
  border-bottom: 1px solid darken(@gb-pink, 8%);
}

#section-how-it-works {
  background: rgba(255, 243, 247, 0.35);
}

#section-our-happy-customers {
  background: rgba(255, 243, 247, 0.25);
}

.page-home #section-our-happy-customers .speech-boxes > .box {
  background: #fff;
}

#section-restaurants {
  background: @gb-pink;
}

.hero-unit h1 {
  color: @gb-pink-bright;
}
