///////////////////////////////
// Component->Site Overrides //
///////////////////////////////

.page-forgot-password {
  .cupcake {
    position: absolute;
    right: 170px;
    top: 0;
    @media screen and (max-width: @breakpoint-mobile){
      position: static;
      margin-top: 12px;
    }
  }
}

.page-forgot-password-consume {

}