/////////////
// IE <= 9 //
/////////////

@import "../variables.less";

.tile .tile-caption {
  background: rgba( 0, 0, 0, 0.24 );
}

.diet-tag {
  height: 22px;
}

.page-restaurant-list {
  // More cuisines, More special diets popovers
  .container .half + .half .popover-modal {
    display: none;
  }

  .container .half + .half .popover-wrapper.open .popover-modal {
    display: block;
  }
}

.search-params [name="time-range"],
.order-params-bar [name="time-range"] {
  display: none;
}