.invoice-recipients-container {
  max-width: 650px;
}

// Add Email Input Group
.invoice-recipients-form-group {
  width: 100%;
  padding-right: 16px;
  margin-bottom: 36px;

  .input-addon {
    background-color: @palette-gray-lighter;
    color: @palette-gray-dark;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 100ms;

    &:hover {
      background-color: lighten(@palette-gray-lighter, 2%);;
    }

    &:active {
      background-color: @palette-gray-lighter;
    }
  }
}

// Invoice Recipients Table
.invoice-recipients-table {
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
  }

  [data-icon]::before {
    margin-right: 10px;
  }

  .input-edit-email {
    display: none;
  }

  .edit-buttons {
    display: none;
  }

  .edit-group {
    float: right;

    i {
      padding-right: 6px;

      &:hover {
        cursor: pointer;
        color: @palette-gray;
      }
    }
  }

  .edit-view {
    .view-email,
    .edit-group {
      display: none;
    }

    .input-edit-email {
      display: inline-block;
      width: 60%;
    }

    .edit-buttons {
      display: inline-block;
      float: right;
    }
  }
}
