.page-kitchen-sink {
  .component-title {
    border-bottom: solid 1px @gray-light;
  }

  .page-section {
    text-align: left;
    padding-top: 80px;
    padding-botom: 50px;
    border-bottom: none;
    // overflow: hidden;
  }

  .lead {
    font-weight: 100;
  }

  #section-intro {
    text-shadow: 0 0 25px rgba(48, 14, 14, 0.52);

    .page-section.section-salmon();

    .intro {
      z-index: 2;
    }

    h1, .lead {
      width: 64%;
    }

    &:before {
      content: "";
      position: absolute;
      right: 10%;
      bottom: 0;
      width: 320px;
      height: 320px;
      background: url('/img/cupcake.svg');
      background-size: cover;
      z-index: 1;
      .animation( ease-out, 2s, cupcake-slide-in-from-bottom );
      .opacity(0.85);
    }

    .lead {
      color: rgba(255, 255, 255, 0.9);
    }
  }

  .demo-navbar {
    margin-bottom: 20px;
    .navbar {
      position: static;
    }
  }
}

.section-decorators {
  #box > .display();
  #box > .flow( row );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  > .section-decorator-block {
    #box > .flex(1);
    background: rgba( 0, 0, 0, 0.09 );
    .opacity(1);

    .transition( ease-out, 0.5s );

    &:nth-child(2n) {
      background: rgba( 0, 0, 0, 0.05 );
    }

    &.animated-out {
      .opacity(0);
      .transform( scale(5) translate3d( 200px, 0, 0 ) skew(60deg) );
    }

    &.animated-out-reverse {
      .opacity(0);
      .transform( scale(5) translate3d( -200px, 0, 0 ) skew(-60deg) );
    }
  }
}

@-webkit-keyframes  cupcake-slide-in-from-bottom { #animations > .slide-in-from-bottom(150px) }
@-moz-keyframes     cupcake-slide-in-from-bottom { #animations > .slide-in-from-bottom(150px) }
@-o-keyframes       cupcake-slide-in-from-bottom { #animations > .slide-in-from-bottom(150px) }
@keyframes          cupcake-slide-in-from-bottom { #animations > .slide-in-from-bottom(150px) }

.collapsible-demo {
  color: @palette-white;
  background-color: @palette-gray-darker;
}

.collapsible-demo a {
  color: @palette-white;
  text-decoration: none;
}

.collapsible-link {
  display: block;
  padding: 10px;
  &:hover { color: @palette-gray-lighter; }
}

.gb-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: @palette-black;

  & > li {
    width: 50%;
    height: 100px;
    padding: 20px;
    background-color: @palette-gray-lighter;
    float: left;
    text-align: center;
    border: 1px solid @palette-white;
  }


  & > li:hover {
    color: @palette-white;
    background-color: @palette-gray-dark;
  }
}


@media (min-width: @breakpoint-tablet) {
  .gb-icon-list > li {
    width: 12.5%;
  }
}

// Palette Swatch
.palette-sample {
  width: 100%;
  padding: 15px;
  font-family: monospace, serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  border-radius: 5px;
}
.palette-sample-red {
  background-color: @palette-red;
  color: @palette-white;
}
.palette-sample-black {
  background-color: @palette-black;
  color: @palette-white;
}
.palette-sample-white {
  background-color: @palette-white;
  color: @palette-black;
  border: 1px solid @palette-black;
}
.palette-sample-gray {
  background-color: @palette-gray;
  color: @palette-black;
}
.palette-sample-dark-gray {
  background-color: @palette-gray-dark;
  color: @palette-white;
}
.palette-sample-blue {
  background-color: @palette-blue;
  color: @palette-white;
}

.pull-left { float: left; }
.pull-right { float: right; }
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.dropdowns-list {
  margin-bottom: 40px;
}

.dropdowns-list > .doc-dropdown-item {
  display: inline-block;

  &:not(:first-child) {
    margin-left: 20px;
  }
}
