/////////////////////////////////
// Cater Menu
/////////////////////////////////


/**
 * Nav tabs
 */
.menu .nav-tabs {
}

.menu .nav-tabs > li {
  margin: 10px;
  &:nth-of-type(1), &:nth-of-type(1) > a {
    margin-left: 0;
  }
}

.menu .nav-tabs > li > a {
  margin: 0;
  padding: 0;
  color: #0074D9;
  border: none;

  &:hover {
    background: none;
  }
}

.menu .nav-tabs > li.active {
  font-weight: bold;
  margin-top: 8px;
}

.menu .nav-tabs > li.active:after { display: none; }

/**
 * Menu Picker
 */
.menu-picker { margin-bottom: 20px; }
.menu-picker .tab-pane { .multicolumn(2, 20px); }
