/////////////////////////////////
// Cater Menu Overrides
/////////////////////////////////

/**
 * Push body down
 */
body.page-menu { padding-top: 70px; }

/**
 * Nav tabs
 */
.menu .nav-tabs { border-bottom: 2px solid @brand-primary; }

.menu .nav-tabs > li {
  margin: 10px;

  &:nth-of-type(1), &:nth-of-type(1) > a {
    margin-left: 0;
  }
}

.menu .nav-tabs > li > a {
  margin: 0;
  padding: 0;
  color: #0074D9;
  border: none;

  &:hover {
    background: none;
  }
}

.menu .nav-tabs > li.active {
  font-weight: bold;
  margin-top: 8px;
}

.menu .nav-tabs > li.active:after { display: none; }

/**
 * Menu Picker
 */
.menu-picker, .menu-picker-tabs { margin-bottom: 20px; }
.menu-picker .tab-pane { .multicolumn(2, 20px); }
.menu-picker .tab-pane a { text-decoration: none; }

.menu-picker .tab-pane a [data-icon="gb-icon-group"],
.menu-picker .tab-pane a [data-icon="gb-icon-individual"] {
  color: @gray;
  font-size: 1.1rem;
}

.menu-picker-tabs > li {
  line-height: 35px;
  &:nth-of-type(1) {
    padding-left: 5px;
  }
}
.menu-picker-tabs a.btn-change-menu { text-decoration: none; }

.menu-picker-tabs [data-icon="gb-icon-full-menu"],
.menu-picker-tabs [data-icon="gb-icon-group"],
.menu-picker-tabs [data-icon="gb-icon-individual"] {
  color: @gray;
  font-size: 2rem;
  vertical-align: middle;
}

.menu-picker-tabs li.active [data-icon="gb-icon-full-menu"],
.menu-picker-tabs li.active [data-icon="gb-icon-group"],
.menu-picker-tabs li.active [data-icon="gb-icon-individual"] {
  color: @brand-primary;
}

.menu-picker .tab-pane { padding-left: 10px; }

/**
 * Menu Category
 */

.menu .menu-category {
  // margin-top:  -@navbar-height;
  // padding-top:  @navbar-height;
}

// Adjust for navbar height changes
@media screen and (max-width: (@breakpoint-mobile)) {
  .menu .menu-category {
    margin-top: -@navbar-mobile-height;
    padding-top: @navbar-mobile-height;
    text-indent: -9999px;
  }
}

// Wraps .category-heading and .list-group
.menu-category { margin: 10px 0; }

// Wrapping element for category-type-icon,
// .category-name, .category-description
.category-heading {
  margin-left: 15px;
  margin-bottom: 15px;
}

.category-type-icon {
  color: @gray;
  font-size: 3rem;
  margin-right: 5px;
}

.category-name {
  font-size: 1.3rem;
  vertical-align: top;
  line-height: 45px;
}

.category-description {
  margin-top: -5px;
}

/**
 * Menu Item
 */
.menu-item-name {
  display: inline-block;
  width: 70%;
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-item-stats {
  display: inline-block;
  vertical-align: top;
  width: 29%;
}

.menu-item-stats dl {
  float: right;
  margin: 0;
}

.menu-item-stats dt {
  display: inline;
  margin-left: 30px;
  &:nth-of-type(1) { margin-left: 0; }
}

.menu-item-description {
  color: @gray-darker;
}

.menu-item-stats dd {
  display: inline;
  font-weight: bold;
  margin: 0;
}

/**
 * Item Modal
 */
.modal-item {
  z-index: @modal-item-zindex;
}

.modal-item > .modal-dialog {
  width: 800px;
}

.modal-item .form-group-item-notes,
.modal-item .form-group-item-recipient {
  display: block;
  width: 60%;
}

.modal-item .modal-header,
.modal-item .modal-footer {
  padding: 25px;
}

.modal-item .modal-body {
  padding: 15px 25px 25px 25px;
}

.modal-item .item-description {
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-item .min-max-restrictions {
  font-weight: 300;
  font-style: italic;
  padding-left: 10px;
  color: @gray-darker;
}

.modal-item fieldset {
  border: none;
  border-bottom: 1px solid @gray-light;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-bottom: 10px;
}

legend {
  font-weight: bold;
}

.modal-item .modal-footer label {
  display: inline-block;
  line-height: 40px;
}

.modal-item .modal-footer-actions .actions-left {
  float: left;
}

.modal-item .modal-footer-actions .actions-right {
  float: right;
}

.modal-item .form-group-item-quantity {
  width: 20%;
}

.modal-item input[type="checkbox"] {
  margin: 5px;
}

.modal-item label {
  font-weight: normal;
  font-size: @font-size-base;
}

/**
 * Modal order params
 */
.modal-order-params .modal-dialog {
  width: 600px;
}

.modal-order-params .modal-body {
  padding: 30px;
}

.modal-order-params .order-params-bar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.modal-order-params .form-group-title,
.modal-order-params .btn-search {
  display: none;
}

.modal-order-params .form-group {
  width: auto;
}

.modal-order-params .form-control {
  width: 125px;
}

.modal-order-params .form-control-zip,
.modal-order-params .form-control-guests {
  width: 100px;
}

/**
 * Menu Order Params Panel
 */
.menu-order-params .panel-title {
  font-style: italic;
}

.menu-order-params dl {
  margin-top: 15px;
  margin-bottom: 0;
}

.menu-order-params dt {
  .clearfix();
}
.menu-order-params dt {
  float: left;
  clear: left;
  margin-right: 8px;
  font-weight: bold;
}

.menu-order-params dd {
  margin-left: 0;
}


/**
 * Menu Panels
 */
.order-meta .panel,
.order-summary .panel,
.order-shared .panel {
  margin-bottom: 20px;
  padding: 15px;
}

.order-summary .panel-body {
  padding-bottom: 20px;
}

.order-summary h2 {
  font-weight: bold;
}

.order-summary .btn-checkout {
  float: right;
}

.order-summary .minimum-order {
  padding-top: 9px;
  color: #DC0500;
  font-weight: bold;
  font-style: italic;
}

/**
 * Order Summary
 */

.order-summary {
  font-size: 13px;
}

.order-summary .panel-heading, .order-summary .panel-footer {
  border: none;
}

.order-summary .subtotal-row,
.order-summary .order-totals dt.total,
.order-summary .order-totals dd.total {
  font-weight: 700;
}

.order-summary .checkout-row {
  padding-top: 30px;
}

.order-summary .order-totals dt {
  text-align: left;
  font-weight: 500;
}

.order-summary .order-totals dd {
  text-align: right;
}

.order-summary .order-item-recipient {
  font-weight:  lighter;
  font-style:   italic;
}

.order-summary .order-table .item-name {
  font-size: @font-size-base;
  font-weight: @font-weight-bold;
  width: 75%;
}

.order-summary .order-table .item-quantity {
  width: 40px;
}

.order-summary .order-table .item-price {
  width: 40px;
}

.order-summary .order-table .item-options {
  font-size: @font-size-small + 1;
  font-weight: @font-weight-light;
}

/**
 * Menu shared link
 */

.menu-share-link {
  background-color: #FFFACA;
}

.menu-share-link .panel-title {
  text-align: center;
  font-weight: @font-weight-bold;
  font-size: @font-size-large;
}

.menu-share-link .description {
  font-weight: @font-weight-bold;
  font-size: @font-size-large;
  margin-top: 10px;
}

/**
 * Restaurant map 
 */

.restaurant-map {
  height: 300px;
}

// Fixes bootstrap styling with google maps
.restaurant-map img {
  max-width: none;
}