.page-order-restaurant {
  // Hide olark, and some other stuff
  #habla_beta_container_do_not_rely_on_div_classes_or_names,
  .main-push,
  .footer {
    display: none;
  }

  .main-wrapper {
    height: 100%!important;
  }

  .main-wrapper,
  #main,
  .manifest-container,
  .manifest-frame {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .manifest-frame {
    width: 100%;
    border: none;
  }
}