.page-order-restaurant {
  // Hide olark, and some other stuff
  #habla_beta_container_do_not_rely_on_div_classes_or_names,
  .main-push,
  .footer {
    display: none;
  }

  .main-wrapper {
    height: 100%!important;
  }

  .main-wrapper,
  #main,
  .manifest-container,
  .manifest-frame {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-height: 100%;
  }

  .manifest-container {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .manifest-frame {
    position: relative;
    width: 100%;
    border: none;
    z-index: 1;
  }
  
  @media screen and ( max-width: 500px ){
    
  }

  .accept-reject-shelf-content {
    .errors > .alert {
      margin-bottom: 20px;
    }

    .reason-denied {
      height: 200px;
    }
  }
}