// .restaurant-edit-menu {
//   #grid .column(3);
// }

// .restaurant-edit-body {
//   #grid .column(9);
// }

.restaurant-edit-body .form-group {
  margin-left: 0;
}

.restaurant-img {
  max-width: 100%;
  margin-top: 8px;
}

.restaurant-logo-btn {
  width: 100%;
}
