@restaurant-join-border: 1px solid @palette-gray-light;

/* TODO: don't override container */
.container {
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
}

/*TODO: a major seperation of concerns overhaul */
.active {
  background-color: @palette-gray-lighter;
  color: @palette-gray-darker;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.btn-continue {
  float: right;
}

.label-col {
  width: 40%;
  max-width: 170px;
  float: left;
  clear: left;
  text-align: right;
  margin-right: 23px;
  font-size: 14px;
}

.field-col {
  float: left;
  width: 60%;
}

.col { float: left; }

.restaurant-join {
  color: @palette-gray-dark;
  max-width: 1016px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 70px;

  .row { margin-bottom: 15px; }

  .spacer {
    display: block;
    margin: 0px 8px 0px 8px;
    padding-top: 6px;
    font-size: 20px;
    font-weight: 800;
  }

  .form-restaurant-signup {
    margin: 0 auto;
  }

  .table {
    margin: 0 auto;
    max-width: 330px;
    border: @restaurant-join-border;
    border-radius: 2px;

    td{
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    thead { border-bottom: @restaurant-join-border; }
    thead td { font-weight: 800; }
  }

  .table-title {
    text-align: center;
    margin: 0;
    font-weight: 800;
  }

  /* Panel */
  .panel {
    padding: 0;
    border: @restaurant-join-border;
    border-radius: 2px;
    margin-bottom: 26px;
    min-width: 100%;
  }

  .panel-head {
    margin: 0;
    padding: 17px;
    background-color: @palette-gray-lighter;
    border-bottom: @restaurant-join-border;
  }

  .panel-title {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 1.2em;
  }

  .panel-subtitle {
    font-weight: 800;
    margin: 0;
  }

  .panel-info {
    color: @palette-gray;
    margin: 0;
    padding: 0;
  }

  .panel-body {
      padding: 30px 45px 30px 45px;
  }

  /* Lead Time */
  @media (min-width: 40rem) {
    .lead-time {
      .col-remove {
        float: left;
        margin: 0 10px;
        line-height: 59px;
      }

      .col-guests {
        float: left;
        margin: 0 10px;
        width: 10%;
        &:first-child {
          margin-left: 0;
        }
      }

      .col-time {
        float: left;
        margin: 0 10px;
        width: 10%;
      }

      .remove-lead-time {
        vertical-align: bottom;
      }
    }
  }

  /* Tabs */
  .tabs {
    text-align: center;
    text-transform: uppercase;
    color: @palette-gray;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .tabs li {
    border: 1px solid @palette-gray-light;
    padding: 19px 48px;
    margin: -3px;
    border-radius: 3px;
  }
}

/* datetime popover TODO: move to component */
.datetime-popover {
  position: absolute;
  display: none;
  margin-top: 3px;
  padding: 22px;
  background-color: @white;
  box-shadow: 0px 0px 8px 1px @palette-gray;
  min-width: 392px;
  z-index: 9999;
}

.open .datetime-popover {
  display: block;
}

.datetime-days-list > li {
  display: inline-block;
  margin-left: -5px;
  padding: 12px;
  border: 1px solid @palette-gray;
  border-right: none;
  font-weight: 800;
  cursor: pointer;
}

.datetime-days-list > li:hover {
  background-color: @palette-gray-lighter;
}

.datetime-days-list > li:last-child {
  border-right: 1px solid @palette-gray;
}

