@restaurant-list-link-color: @palette-white;

.page-restaurant-list {
  section {
    border-top: 1px solid @palette-dark-gray;
  }

  .search-restaurants {
    background-color: @palette-black;
    color: @palette-white;
    padding: 30px 0;
  }

  .search-restaurants + .search-restaurants {
    padding: 0;
    font-size: 16px;
  }
  .search-restaurants .search-lead {
    font-size: 16px;
  }

  @media (min-width: @breakpoint-tablet) {
    .search-restaurants .search-lead {
      font-size: 25px;
      margin-right: 10px;
      line-height: 39px;
      vertical-align: middle;
    }
  }

  .list-options {
    margin-top: 30px;
  }

  .list-sort-actions {
    width: 100%;
  }

  .list-tags { margin-bottom: 10px; }

  @media (min-width: @breakpoint-tablet) {
    .list-tags {
      float: left;
      margin: 0;
    }

    .list-sort {
      float: right;
    }

    .list-sort-actions {
      width: initial;
    }

    .list-sort .list-sort-lead {
      display: inline-block;
      line-height: 35px;
      vertical-align: top;
      margin-right: 10px;
      font-size: 16px;
      font-weight: 700;
      color: @palette-black;
    }
  }

  .restaurant-list {
    margin-top: 30px;
  }

  @media (min-width: @breakpoint-tablet) {

  }

  .search-advanced-content {
    .collapsible-content;
  }

  .search-advanced-wrapper {
    padding-bottom: 10px;
  }

  .search-advanced-link {
    color: @restaurant-list-link-color;
    outline: 0;
    padding: 15px 0;
    display: block;
    text-decoration: none;
  }

  .search-advanced-link .search-advanced-link-icon {
    vertical-align: middle;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
  }

  .search-advanced-link.expand .search-advanced-link-icon {
    display: inline-block;
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
         -o-transform: rotateX(180deg);
            transform: rotateX(180deg);

  }


  //  extract restaurant params stylesheet?
  /**
    this thing needs to cover the actual timepicker
    so we can display a time range without it screwing
    up the value pickadate gives us back
  */
  .restaurant-params [name="time-range"] {
    position: absolute;
    pointer-events: none;
    cursor: auto;
    background: #fff;
  }

  .search-advanced-filter-col {
    & > h1 {
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  @media (min-width: @breakpoint-tablet) {
    .search-advanced-filter-col {
      float: left;
      margin: 0 50px;
      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }
    }

    .filter-cuisines {
      & > label {
        float: left;
        width: 130px;
        &:nth-of-type(4n+1) { clear: left; }
      }
    }
  }

  .search-advanced-search {
    margin: 15px 0;
    & input[type="text"] {
      border: none;
      background: none;
      box-shadow: none;
      outline: none;
      height: 36px;
      padding: 12px;
      display: inline-block;
    }
    & .btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .search-advanced-search-wrapper {
    display: block;
    margin: 10px 0;
  }

  @media (min-width: @breakpoint-tablet) {
    .search-advanced-search-wrapper { margin-left: 20px; display: inline-block; }
    .search-advanced-search input[type="text"] {
      display: inline;
      width: 300px;
    }
  }
}
