.search-restaurants {
  padding: 30px 0;
  background-color: @palette-black;
  color: @palette-white;
}

.search-restaurants .search-lead {
  font-size: 25px;
  margin-right: 10px;
  line-height: 39px;
  vertical-align: middle;
}
