///////////////////////
// Restaurant Splash //
///////////////////////

.page-restaurants {
  .photo-stripe > img {
    top: -80px;
  }

  .check-points > li {
    font-size: 19px;
    font-weight: @semibold;
    margin-bottom: 38px;
  }

  .form-vertical .form-group {
    margin-top: 14px;
  }

  .signup-info-wrapper {
    #grid > .row();
  }

  .signup-col, .signup-info-col {
    #grid > .column( 6, 0 );
    text-align: center;

    .inner {
      display: inline-block;
      width: 68%;
      text-align: left;
    }
  }

  .signup-col {
    border-right: solid @gray 1px;

    .form-group-submit > .btn {
      width: 100%;
    }

    h3 {
      margin-bottom: 4px;
    }
  }
}