.page-rewards {
  #intro {
    background: url('/img/hero-unit-rewards-bg.jpg') no-repeat top;
  }

  #section-rewards-screen {
    background: url('/img/rewards-asparagus-bg.jpg') no-repeat bottom;

    .container {
      max-width: 640px;
      border-top: solid #C6BAB6 2px;
    }
  }
}