.page-rewards {
  .marketing-points .point p {
    text-align: center;
  }

  #intro {
    background: url('/img/hero-unit-rewards-bg.jpg') no-repeat top;
    padding-bottom: 50px;

    h1 {
      text-transform: uppercase;
    }

    h1 + p {
      margin-top: 10px;
    }
  }

  #section-how-it-works {

  }

  #section-rewards-screen {
    background: url('/img/rewards-asparagus-bg.jpg') no-repeat bottom;
    padding-bottom: 0;

    .container {
      width: 640px;
      border-top: solid #C6BAB6 2px;
    }

    .section-header {
      font-size: 2em;
    }
  }
}

#section-faqs {
  .faqs {
    text-align: left;
  }
}