<div class="third filter-cuisines">
  <h1>Cuisine</h1>
  <label>
    <input type="checkbox" value="American" {{#contains ../orderParams.cuisines "American"}}checked="checked"{{/contains}}/> American
  </label>
  <label>
    <input type="checkbox" value="BBQ" {{#contains ../orderParams.cuisines "BBQ"}}checked="checked"{{/contains}}/> BBQ
  </label>
  <label>
    <input type="checkbox" value="Pizza" {{#contains ../orderParams.cuisines "Pizza"}}checked="checked"{{/contains}}/> Pizza
  </label>
  <span class="popover-wrapper">
    <a href="#" data-role="popover" data-target="cuisines-popover">more cuisines</a>
    <div class="popover-modal cuisines-popover">
      <div class="popover-body">
        <h1>Cuisine</strong></h1>
        {{#each filterCuisines~}}
        <label><input type="checkbox" value="{{this}}" {{#contains ../orderParams.cuisines this}}checked="checked"{{/contains}}/> {{this}}</label>
        {{~/each}}
        <button class="btn btn-default">Save and close</button>
      </div>
    </div>
  </span>
</div>
