<span class="popover-wrapper right">
  <a href="#" data-role="popover" data-target="cuisines-popover">more cuisines</a>
  <div class="popover-modal cuisines-popover">
    <div class="popover-header">
      Cuisines<a href="#" class="popover-close-btn gb-icon-x-mark pull-right" data-toggle-role="close"></a>
    </div>
    <div class="popover-body">
      <div class="popover-item">ABC jdpsadja podksapodk kjdapojdspaj pjdosaj pdsoajWI 0i49</div>
    </div>
  </div>
</span>
