<div class="list-tags">
  {{#notEmpty orderParams}}
    <a class="back-to-results" href="/restaurants">Clear search</a>
    <span> {{../restaurants.length}} result{{#gt ../restaurants.length 1}}s{{/gt}}</span>
  {{/notEmpty}}
</div>
