<div id="sort" class="list-sort">
  <div class="list-sort-lead">Sort by:</div>
  <div class="list-sort-actions btn-group">
    <input type="radio" name="list-sort" id="popular" value="popular">
    <label class="btn btn-small" for="popular">Popular</label>

    <input type="radio" name="list-sort" id="name" value="name" {{#eq orderParams.sort "name"}}checked{{/eq}}>
    <label class="btn btn-small" for="name">A-Z</label>

    <input type="radio" name="list-sort" id="price" value="price" {{#eq orderParams.sort "price"}}checked{{/eq}}>
    <label class="btn btn-small" for="price">Price</label>

    <input type="radio" name="list-sort" id="deliveryfee" value="deliveryfee" {{#eq orderParams.sort "deliveryfee"}}checked{{/eq}}>
    <label class="btn btn-small" for="deliveryfee">Delivery Fee</label>

    <input type="radio" name="list-sort" id="minorder" value="minorder" {{#eq orderParams.sort "minorder"}}checked{{/eq}}>
    <label class="btn btn-small" for="minorder">Order Minimum</label>
  </div>
</div>
