<div id="results-pagination" class="paginator btn-group">
  {{#each pages}}
    <a
      href="{{this.url}}"
      class="btn btn-small{{#if this.active}} active{{/if}}"
    >{{this.index}}</a>
  {{/each}}
</div>
