<div class="list-tags">
  {{#notEmpty orderParams}}
  <span> {{../restaurants.length}} result{{#gt ../restaurants.length 1}}s{{/gt}}: </span>
  {{/notEmpty}}

  {{#each searchTags}}
  <a class="search-tag" href="{{baseUrl}}/restaurants{{qs}}">{{text}} <span class="gb-icon-x-mark"></span></a>
  {{/each}}

  {{#notEmpty orderParams}}
  <a class="back-to-results" href="/restaurants">Clear search</a>
  {{/notEmpty}}
</div>
