<div id="sort" class="list-sort">
  <div class="list-sort-lead">Sort by:</div>
  <div class="list-sort-actions btn-group">
    <input type="radio" name="list-sort" id="popular" value="popular">
    <label class="btn btn-small" for="popular">Popular</label>

    <input type="radio" name="list-sort" id="ascending" value="ascending">
    <label class="btn btn-small" for="ascending">A-Z</label>

    <input type="radio" name="list-sort" id="price" value="price">
    <label class="btn btn-small" for="price">Price</label>

    <input type="radio" name="list-sort" id="delivery_fee" value="delivery_fee">
    <label class="btn btn-small" for="delivery_fee">Delivery Fee</label>

    <input type="radio" name="list-sort" id="order_min" value="order_min">
    <label class="btn btn-small" for="order_min">Order Minimum</label>
  </div>
</div>
