<div id="results-pagination" class="paginator btn-group">
  {{#each pages}}
    <input type="radio" name="list-pager" id="page-{{this.index}}" value="{{this.index}}">
    <label class="btn btn-small{{#if this.active}} active{{/if}}" for="page-{{this.index}}">{{this.index}}</label>
  {{/each}}
</div>
