<span class="results">{{restaurants.length}} result{{#dneq restaurants.length 1}}s{{/dneq}}: </span>

{{#each searchTags}}
<a class="search-tag" href="{{baseUrl}}/restaurants{{qs}}" data-toggle="tooltip" data-title="Remove filter">{{formatDietTag text}} <span class="gb-icon-x-mark"></span></a>
{{/each}}

{{#notEmpty reqQuery}}
<a class="back-to-results" href="/restaurants">Clear search</a>
{{/notEmpty}}
