<div class="container">
  <span class="search-lead">Find catering for:</span>
  <div class="form-inline">
    <div class="form-group"><input type="text" placeholder="Zip"></div>
    <div class="form-group"><input type="text" placeholder="Delivery date"></div>
    <div class="form-group"><input type="text" placeholder="Delivery time"></div>
    <div class="form-group"><input type="text" placeholder="Guests"></div>
    <div class="form-group"><button class="btn btn-primary">Search</button></div>
  </div>
</div>
