<div id="filters" class="search-advanced-content">
  <div class="search-advanced-wrapper">
    <section>
      <div class="container">
        <div>
          <div class="search-advanced-search">
            <span>Find restaurant by name:</span>
              <div class="search-advanced-search-wrapper panel">
                <input class="form-control-borderless" type="text" />
                <button
                class="btn btn-inline-icon"
                type="submit">
                <i class="gb-icon-magnifier"></i>
              </div>
          </button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="search-advanced-filter-col filter-cuisines">
          <h1>Cuisine</h1>
          {{#each filterCuisines}}
          <label><input type="checkbox" value="{{this}}" {{#contains ../orderParams.cuisines this}}checked="checked"{{/contains}}/> {{this}}</label>
          {{/each}}
        </div>
        <div class="search-advanced-filter-col filter-diets">
          <h1>Special Diets</h1>
          <label><input type="checkbox" value="glutenFree" {{#contains orderParams.diets "glutenFree"}}checked="checked"{{/contains}}> Gluten-Free</label>
          <label><input type="checkbox" value="dairyFree" {{#contains orderParams.diets "dairyFree"}}checked="checked"{{/contains}}/> Dairy-free</label>
          <label><input type="checkbox" value="vegetarian" {{#contains orderParams.diets "vegetarian"}}checked="checked"{{/contains}}/> Vegetarian</label>
          <label><input type="checkbox" value="vegan" {{#contains orderParams.diets "vegan"}}checked="checked"{{/contains}}/> Vegan</label>
          <label><input type="checkbox" value="halal" {{#contains orderParams.diets "halal"}}checked="checked"{{/contains}}/> Halal</label>
          <label><input type="checkbox" value="kosher" {{#contains orderParams.diets "kosher"}}checked="checked"{{/contains}}/> Kosher</label>
        </div>
        <div class="search-advanced-filter-col filter-meal-types">
          <h1>Meal Type</h1>
          {{#each filterMealTypes}}
          <label><input type="checkbox" value="{{name}}" {{#contains ../orderParams.mealTypes name}}checked="checked"{{/contains}}> {{name}}</label>
          {{/each}}
        </div>
      </div>
    </section>
  </div>
</div>
<section>
  <a href="#" class="search-advanced-link" data-role="collapsible" data-target="search-advanced-content">
    <div class="container">
      Show all search tools <span class="search-advanced-link-icon gb-icon-chevron-down"></span>
    </div>
  </a>
</section>


{{#extend "scripts"}}
<script>
require(['jquery-loaded'], function($){
  $('[data-role="collapsible"]').gb_collapsible();
});

define('data/views/filters-view', ['app/views/restaurant-filters-view'], function(FiltersView) {
  var filtersView = new FiltersView({ el: '#filters' });
  filtersView.addFacet('cuisines', '.filter-cuisines input[type="checkbox"]:checked');
  filtersView.addFacet('diets', '.filter-diets input[type="checkbox"]:checked');
  filtersView.addFacet('mealTypes', '.filter-meal-types input[type="checkbox"]:checked');
  return filtersView;
});
</script>
{{/extend}}
