<div class="search-advanced-search">
  <span>Find by name, tags, or menu items:</span>
    <div id="search" class="search-advanced-search-wrapper">
      <form class="search-form">
        <div class="search-form-input-cell">
          <input class="search-input input-borderless" type="text" value="{{reqQuery.search}}" placeholder="Enter search"/>
        </div>
        <div class="search-form-action-cell">
          <button class="btn btn-borderless" type="submit" data-icon="gb-icon-magnifier"></button>
        </div>
      </form>
    </div>
</div>
