<section>
  <div class="container">
    <div class="row">
      <div class="col-7">
        {{> restaurant_search_name }}
        {{> restaurant_list_sort }}
        </div>
      <div class="col-8">
        {{> restaurant_filter_cuisines }}
      </div>
    </div>
  </div>
</section>
