<section id="filters" class="search-advanced-content">
  <div class="search-advanced-wrapper">
    <div class="container">
      <div class="search-advanced-filter-col filter-special-diets">
        <h1>Cuisine</h1>
        {{#each filterCuisines}}
        <label><input type="checkbox" value="{{this}}" {{#contains ../orderParams.cuisines this}}checked="checked"{{/contains}}/> {{this}}</label>
        {{/each}}
      </div>
      <div class="search-advanced-filter-col">
        <h1>Special Diets</h1>
        <label><input type="checkbox"/> Gluten-free</label>
        <label><input type="checkbox"/> Dairy-free</label>
        <label><input type="checkbox"/> Vegetarian</label>
        <label><input type="checkbox"/> Vegan</label>
        <label><input type="checkbox"/> Halal</label>
        <label><input type="checkbox"/> Kosher</label>
      </div>
      <div class="search-advanced-filter-col">
        <h1>Meal Type</h1>
        <label><input type="checkbox"/> Appetizers</label>
        <label><input type="checkbox"/> Breakfast</label>
        <label><input type="checkbox"/> Lunch</label>
        <label><input type="checkbox"/> Dinner</label>
        <label><input type="checkbox"/> Dessert</label>
      </div>
    </div>
  </div>
</section>
<a href="#" class="search-advanced-link" data-role="collapsible" data-target="search-advanced-content">
  <div class="container">
    Show all <span class="search-advanced-link-icon gb-icon-chevron-down"></span>
  </div>
</a>


{{#extend "scripts"}}
<script>
require(['jquery-loaded'], function($){
  $('[data-role="collapsible"]').gb_collapsible();
});
</script>
{{/extend}}
