<section class="search-advanced-content">
  <div class="search-advanced-wrapper">
    <div class="container">
      <div>Block 1</div>
      <div>Block 2</div>
      <div>Block 3</div>
      <div>Block 4</div>
    </div>
  </div>
</section>
<a href="#" class="search-advanced-link" data-role="collapsible" data-target="search-advanced-content">
  <div class="container">
    Show all <span class="search-advanced-link-icon gb-icon-chevron-down"></span>
  </div>
</a>


{{#extend "scripts"}}
<script>
require(['jquery-loaded'], function($){
  $('[data-role="collapsible"]').gb_collapsible();
});
</script>
{{/extend}}
