<div class="list-sort">
  <div class="list-sort-lead">Show:</div>
  <div class="list-sort-actions btn-group">
    <button class="btn btn-small btn-toggle-list" data-class="hide">Tile</button>
    <button class="btn btn-small btn-toggle-list" data-class="hide">List</button>
  </div>
</div>