{{#extend "css"}}
{{!-- <link rel="stylesheet" href="/css/user-orders.css"> --}}
{{/extend}}

<div class="container">
  <div class="row">
    <h1 class="col-lg-12 page-title">Restaurant Availability Calendar</h1>
  </div>
</div>

{{#extend "scripts"}}
<script>

</script>
{{/extend}}