{{#extend "body"}}
  <h2>Edit Menu</h2>
  <div>
    <a href="/restaurants/{{restaurant.id}}/sort">click here to sort this menu</a>
  </div>
  <div class="ap-menu">
    <div class="categories">
      {{#each restaurant.categories}}
      <div id="category-{{this.id}}" class="panel">
        {{> edit_category}}
      </div>
      {{/each}}

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add new category</button>
      </div>
    </div>
  </div>
{{/extend}}

{{#extend "scripts"}}
<script>
  // Bootstrap data
  define('data', ['app/models/restaurant'], function(Restaurant) {
    var data = {
      models: {
        restaurant: new Restaurant({{{json restaurant}}})
      },
      views: {

      }
    };
    return data;
  });
</script>

<script>
  require( ['app/pages/restaurant/edit-menu'], function( page ){
    page.init();
  });
</script>
{{/extend}}