{{#extend "body"}}
  <h2>Delivery Hours</h2>

  <form class="ap-form ap-lead-times form-delivery-settings" action="/restaurants/{{restaurant.id}}/edit" method="POST">
    <input type="hidden" name="_method" value="PUT">

    {{#each restaurant.delivery_times}}
      <div class="col-day">{{weekday @key}}</div>
      <div id="hours-{{@key}}" class="hours-day col-times">
        {{> hours_day }}
      </div>
    {{/each}}

    <button class="btn btn-primary" type="submit">Update</button>

    <h2>Lead Times</h2>

  </form>
{{/extend}}

{{#extend "scripts"}}

<script>
  // Bootstrap data
  define('data', ['app/models/restaurant'], function(Restaurant) {
    var data = {
      models: {
        restaurant: new Restaurant({{{json restaurant}}})
      },
      views: {

      }
    };
    return data;
  });
</script>

<script>
  require( ['app/pages/restaurant/edit-lead-times'], function( page ){
    page.init();
  });
</script>
{{/extend}}