{{#extend "body"}}

<div class="restaurant-edit">
  <div class="container">
  <h1>Editing {{restaurant.name}}</h1>
    {{> restaurant_edit_nav }}

    <!--<Edit Body>-->
    <div class="restaurant-edit-body">
      <h2>Notification Settings</h2>
      <p>Lorem ipsum dolomite</p>
    </div>
    <!--</Edit Body>-->
  </div>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/restaurant-edit'], function( page ){
    page.init();
  });
</script>
{{/extend}}