{{#extend "body"}}

<div class="restaurant-edit">

  <!--<Navbar>-->
  <header class="navbar collapsed">
    <div class="container">
      <a href="/">
        <img src="/img/logo.png" alt="Goodybag.com" class="navbar-logo">
      </a>

      <button class="navbar-toggle btn btn-default" data-icon="gb-icon-hamburger"></button>
      <ul class="nav">
        <li><a href="/join">Sign Up</a></li>
      </ul>
    </div>
  </header>
  <!--</Navbar>-->


  <div class="container">
  <h1>Editing {{restaurant.name}}</h1>
    <!--<Edit Nav>-->
    <ul class="restaurant-edit-menu">
      <li><a href="basic-info" data-toggle="tab">Basic info</a></li>
      <li><a href="contact" data-toggle="tab">Contact</a></li>
      <li><a href="delivery-settings" data-toggle="tab">Delivery Settings</a></li>
      <li><a href="notifications">Notifications</a></li>
      <li><a href="lead-times" data-toggle="tab">Lead Times</a></li>
      <li><a href="address" data-toggle="tab">Address</a></li>
      <li><a href="menu" data-toggle="tab">Menu</a></li>
    </ul>
    <!--</Edit Nav>-->

    <!--<Edit Body>-->
    <div class="restaurant-edit-body">
      <h2>Basic Info</h2>

      <form class="form-basic-info">
        <div class="form-group">
          <label for="input-name">Name</label>
          <input type="text" name="name" id="input-name" value="{{restaurant.name}}">
        </div>
        <div class="form-group">
          <label for="input-description">Description</label>
          <input type="text" name="description" id="input-description" value="{{restaurant.description}}">
        </div>

        <div class="form-group">
          <label for="input-websites">Websites <small>(separated by commas)</small></label>
          <input type="text" name="websites" id="input-websites" value="{{restaurant.websites}}">
        </div>

        <div class="actions">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
    </div>
    <!--</Edit Body>-->
  </div>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/restaurant-edit'], function( page ){
    page.init();
  });
</script>
{{/extend}}