{{#extend "body"}}

<div class="restaurant-edit">
  <div class="container">
  <h1>Editing {{restaurant.name}}</h1>
    <!--<Edit Nav>-->
    <ul class="restaurant-edit-menu">
      <li><a href="basic-info">Basic info</a></li>
      <li><a href="notifications">Notifications</a></li>
      <li><a href="delivery-settings">Delivery Settings</a></li>
      <li class="active"><a href="tags">Tags</a></li>
      <li><a href="address">Address</a></li>
      <li><a href="menu">Menu</a></li>
    </ul>
    <!--</Edit Nav>-->

    <!--<Edit Body>-->
    <div class="restaurant-edit-body">
      <h2>Tagging Options</h2>
      <p>Lorem ipsum dolomite</p>
    </div>
    <!--</Edit Body>-->
  </div>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/restaurant-edit'], function( page ){
    page.init();
  });
</script>
{{/extend}}