{{#extend "page"}}page-restaurant-list{{/extend}}

{{#extend "body"}}
<div class="restaurant-list-search">
  <div class="search-params">
    {{> restaurant_search_form }}
  </div>
  <a href="#" class="search-advanced-link section{{#if expandSearchTools}} expand{{/if}}" data-role="collapsible" data-target="search-advanced-content">
    <div class="container">
      <span class="expand-hidden">Hide all search tools <span class="search-advanced-link-icon gb-icon-chevron-down"></span></span>
      <span class="expand-show">Show all search tools <span class="search-advanced-link-icon gb-icon-chevron-down"></span></span>
    </div>
  </a>
  <div class="search-advanced">
    {{> restaurant_search_advanced }}
  </div>
</div>

<div class="list-options">
  <div class="container">
    {{> restaurant_list_tags }}
  </div>
  <div class="container">
    {{> restaurant_toggle_list }}
    {{> restaurant_list_sort }}
  </div>
</div>
<div class="restaurant-list">
  <div class="container">
    <div class="restaurant-toggle-list {{#if (eq cookies.gb_display 'list') }} hide {{/if}}" data-state="tile">
      {{> restaurant_tiles }}
    </div>
    <div class="restaurant-toggle-list {{#if (dneq cookies.gb_display 'list') }} hide {{/if}}" data-state="list">
      {{> restaurant_list}}
    </div>
  </div>
</div>

{{#gt pages.length 1}}
<div class="container list-paginator">
  {{> restaurant_list_pagination }}
</div>
{{/gt}}
{{/extend}}

{{#extend "scripts"}}
<script>
require( ['app/pages/restaurant-list'], function( page ){
  page.init({
    restaurants: {{{json restaurants}}}
  });

  // hack to make the alerts dissmissiable
  $('.alert .close').click( function( e ){
    e.preventDefault();
    $(this).closest('.alert').remove();
  });
});
</script>
{{/extend}}
