{{#extend "page"}}page-restaurant-list{{/extend}}

{{#extend "body"}}
<div class="search-restaurants">
  {{> restaurant_search_form }}
</div>

<div class="search-restaurants search-advanced">
  {{> restaurant_search_advanced }}
</div>

<div class="list-options">
  <div class="container">
    {{> restaurant_list_tags }}
    {{> restaurant_list_sort }}
  </div>
</div>

  <div class="restaurant-list">
    <div class="container">
    {{#each restaurants }}
      {{> restaurant_tile }}
    {{/each}}
    </div>
    {{!-- foreach restaurant --}}
      {{!-- restaurant tile --}}
  </div>
{{/extend}}

{{#extend "scripts"}}
<script>
require( [
  'app/views/restaurant-sort-view'
, 'app/views/order-params-view'
, 'app/views/restaurants-list-view'
, 'app/models/order-params'
],
function( SortView, OrderParamsView, ListView, OrderParams ){

  // Move all of this stuff into their respective partial extend script block
  // :)
  var sortView = new SortView({ el: '#sort', inputSelector: '[name="list-sort"]:checked' });

  var listView = new ListView({
    el: '#main'
  , searchUrl: '/restaurants'
  });

  var orderParamsView = new OrderParamsView({
    model: new OrderParams()
  , el: '.restaurant-params'
  });

  listView.addFilter(orderParamsView);
  listView.addFilter(sortView);
});
</script>
{{/extend}}
