{{#extend "page"}}page-restaurant-list{{/extend}}

{{#extend "body"}}
<div class="restaurant-list-search">
  <div class="search-params">
    {{> restaurant_search_form }}
  </div>
  <div class="search-advanced">
    {{> restaurant_search_advanced }}
  </div>
</div>

<div class="list-options">
  <div class="container">
    {{> restaurant_list_tags }}
    {{> restaurant_toggle_list }}
  </div>
</div>
<div class="restaurant-list">
  <div class="container">
    <div class="restaurant-toggle-list {{#if (eq cookies.gb_display 'list') }} hide {{/if}}" data-state="tile">
      {{> restaurant_tiles }}
    </div>
    <div class="restaurant-toggle-list {{#if (dneq cookies.gb_display 'list') }} hide {{/if}}" data-state="list">
      {{> restaurant_list}}
    </div>
    {{#lte restaurants.length config.resultsTooFewContactUsThreshold}}
      <div class="results-too-few">
        <h4 class="results-too-few-heading">Need more options?<br>We will help get your order placed today!</h4>
        <p>Give us a call: {{phoneNumber (or user.region.support_phone config.phone.support)}}</p>
      </div>
    {{/lte}}
  </div>
</div>

{{#gt pages.length 1}}
<div class="container list-paginator">
  {{> restaurant_list_pagination }}
</div>
{{/gt}}

{{#unless config.isDev}}
  {{#if isNewSignup}}
  {{> facebook_pixel config.facebook.pixel.restaurantList }}
  {{> google_adwords_user_conversion }}
  {{/if}}
{{/unless}}
{{/extend}}

{{#extend "scripts"}}
<script>
require( ['jquery-loaded', 'app/pages/restaurant-list'], function( $, page ){
  page.init({
  });

  // hack to make the alerts dissmissiable
  $('.alert .close').click( function( e ){
    e.preventDefault();
    $(this).closest('.alert').remove();
  });

  $('[data-role="popover"]').gb_popover();
});
</script>
{{/extend}}
