{{#extend "page"}}page-home{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <h1>restaurant list</h1>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
// require( ['app/pages/admin-home'], function( page ){
//   page.init({

//   });
// });
</script>
{{/extend}}
