<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="background-color: #faf7e7;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      @media screen and (max-width: 630px) {
        .main-width-constraint {
          width: 100% !important;
        }

        .main-width-gutter {
          width: 10px !important;
        }

        .main-width-gutters-padding {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }

      .controls {
        position: absolute;
        top: 12px;
        right: 20px;
      }
    </style>

    {{{block "css"}}}
  </head>
  <body style="margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; padding-bottom: 20px; background-color: #faf7e7; font-family: Helvetica, arial, sans-serif; color: #695A42; font-size: 14px; text-align: center; border: solid #CCCCC0 1px;">

  {{#if showControls}}
    <div class="controls">
      <form method="POST">
        <button>Send</button>
      </form>
    </div>
  {{/if}}

    <!--<Header>-->
    <table cellpadding="0" cellspacing="0" style="width: 100%; background: #ffffff; border-bottom: solid #CCCCC0 1px">
      <tr>
        <td class="main-width-gutter" width="50%"></td>
        <td class="main-width-constraint" width="630" style="padding-top: 12px; padding-bottom: 5px; text-align: center">
          <img border="0" src="https://www.goodybag.com/img/logo.png" alt="Goodybag">
        </td>
        <td class="main-width-gutter" width="50%"></td>
      </tr>
    </table>
    <!--</Header>-->

    <!--<MainContainer>-->
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <td class="main-width-gutter" width="50%"></td>
        <td class="main-width-constraint" width="630">
          <table class="main-width-constraint" cellpadding="0" cellspacing="0" style="width: 630px">
            <!--<Gutter>-->
            <tr>
              <td style="width: 100%; padding-top: 32px"></td>
            </tr>
            <!--</Gutter>-->

            <tr>
              <td style="width: 100%">

                <!--<Spacer>-->
                <div style="width: 100%; padding-top: 20px"></div>
                <!--</Spacer>-->

                <!--<Header1>-->
                <h1 style="line-height: 22px; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 26px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Hello Goodybaggers</h1>
                <!--</Header1>-->

                <!--<IntroMessage>-->
                <h2 style="line-height: 22px; margin-top: 16px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 300; font-size: 18px; font-family: Helvetica, arial, sans-serif; text-align: center; color: #695a42">Thank you so much for the support &amp; feedback you’ve provided to us!<br />
                Please check out the <strong>new restaurants</strong> and <strong>new features</strong> we’ve added below:</h2>
                <!--</IntroMessage>-->

                <!--<Spacer>-->
                <div style="width: 100%; padding-top: 50px"></div>
                <!--</Spacer>-->


                <!--<Recent Restaurants>-->
                <h3 style="line-height: 22px; margin-top: 16px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 700; font-size: 20px; font-family: Helvetica, arial, sans-serif; text-align: left; color: #695a42">Recently Added Restaurants:</h3>

                <!--<Spacer>-->
                <div style="width: 100%; padding-top: 30px"></div>
                <!--</Spacer>-->

                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/91?"><img src="https://cdn.filepicker.io/api/file/OIaOgrRMThaMs1bYHe2V/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/91">Nuha's Sinful Desserts</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/97"><img src="https://cdn.filepicker.io/api/file/SRMTUIjEQyCO7jB2zxM9/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/97">How Do You Roll?</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/93"><img src="https://cdn.filepicker.io/api/file/buMhCzXKToORslv4BN5T/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/93">Kawa Asian Kitchen</a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/96"><img src="https://cdn.filepicker.io/api/file/QzDygeuRji3NVBrtx1UA/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/96">Eat Ban Mi</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/95"><img src="https://cdn.filepicker.io/api/file/y0feOLndQ2KiC4hdr4d5/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/95">Thistle Cafe</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/98"><img src="https://cdn.filepicker.io/api/file/YT6tuHkfSpiRD9MLAZXw/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/98">French Quarter Grille</a>
                  </td>
                </tr>
                <tr>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/102"><img src="https://cdn.filepicker.io/api/file/pJbZHMvVRSWAwrowxppW/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/102">Sauce N' Spice</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                    <a href="https://www.goodybag.com/restaurants/101"><img src="https://cdn.filepicker.io/api/file/NiQm1n0TWeUrO659MG90/convert?cache=true&fit=crop&w=138&h=138" style="border-radius: 4px; border: solid #CCCCC0 1px" alt="Nuha's Sinful Desserts"></a>
                    <!--<Spacer>-->
                    <div style="width: 100%; padding-top: 12px"></div>
                    <!--</Spacer>-->
                    <a href="https://www.goodybag.com/restaurants/101">Rio's Brazilian Cafe</a>
                  </td>
                  <td style="width: 33.33333%; text-align: center; padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; font-family: Helvetica, arial, sans-serif;">
                  </td>
                </tr>
                </table>
                <!--<Recent Restaurants>-->

                <!--<Spacer>-->
                <div style="width: 100%; padding-top: 60px"></div>
                <!--</Spacer>-->


                <!--<New Features>-->
                <h3 style="line-height: 22px; margin-top: 16px; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-weight: 700; font-size: 20px; font-family: Helvetica, arial, sans-serif; text-align: left; color: #695a42">New Site Features &amp; Updates:</h3>
                <ul style="">
                  <li style="text-align: left; font-size: 16px; font-family: Helvetica, arial, sans-serif;">Calendar Tool</li>
                  <li style="text-align: left; font-size: 16px; font-family: Helvetica, arial, sans-serif; padding-top: 12px">Post Delivery Tips</li>
                  <li style="text-align: left; font-size: 16px; font-family: Helvetica, arial, sans-serif; padding-top: 12px">Sorting Features- Sort by lowest order minimums, lowest delivery charge and more!</li>
                  <li style="text-align: left; font-size: 16px; font-family: Helvetica, arial, sans-serif; padding-top: 12px">Tons of bug fixes :)</li>
                </ul>
                <!--</New Features>-->

                <!--<Spacer>-->
                <div style="width: 100%; height: 60px"></div>
                <!--</Spacer>-->

                <a href="http://goodybag.com">Goodybag.com</a>

              </td>
            </tr>

            <!--<WaterMark>-->
            <tr>
              <td style="padding-top: 32px; padding-bottom: 24px; text-align: center;">
                <img border="0" src="http://www.goodybag.com/img/GB_watermark.png" alt="Goodybag">
              </td>
            </tr>
            <!--</WaterMark>-->
          </table>
        </td>
        <td class="main-width-gutter" width="50%"></td>
      </tr>
    </table>
    <!--</MainContainer>-->
  </body>
</html>