<div id=":l8" class="a3s" style="overflow: hidden;">
  <div>
    <div class="adM">
    </div>
    <p dir="ltr" style="line-height:1.15;margin-top:0pt;margin-bottom:0pt"><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap">Hey!</span>
    </p>
    <br><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap;background-color:transparent"></span>
    <p dir="ltr" style="line-height:1.15;margin-top:0pt;margin-bottom:0pt"><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap">I just saw that you signed up with us :D. I’m really curious about how you discovered us--mind sharing that with me? </span>
    </p>
    <br><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap;background-color:transparent"></span>
    <p dir="ltr" style="line-height:1.15;margin-top:0pt;margin-bottom:0pt"><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap">Also, please let me know if there’s anything I can help with.</span>
    </p>
    <br><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap;background-color:transparent"></span>
    <p dir="ltr" style="line-height:1.15;margin-top:0pt;margin-bottom:0pt"><span style="background-color:transparent;vertical-align:baseline;white-space:pre-wrap">Thanks!</span>
    </p><span class="HOEnZb adL"><font color="#888888">
</font></span>
  </div><span class="HOEnZb adL"><font color="#888888">
<div><div><br></div><div style="color:rgb(34,34,34)"><div>Christy Medlock</div>Business Development Manager&nbsp;|&nbsp;Goodybag<br><i>tel:&nbsp;<a href="tel:512.270.6555" value="+15122706555" style="color:rgb(17,85,204)" target="_blank">512.270.6555</a>&nbsp;|&nbsp;mobile:&nbsp;<a href="tel:210.577.9226" value="+12105779226" style="color:rgb(17,85,204)" target="_blank">21<wbr>0.577.<u></u>9226</a><br><a href="mailto:christymedlock@goodybag.com" style="color:rgb(17,85,204)" target="_blank">christymedlock<font color="#1155cc">@goodybag.com</font></a>&nbsp;|&nbsp;<a href="http://goodybag.com/" style="color:rgb(17,85,204)" target="_blank"><u></u><wbr>goodybag.com</a></i></div><div><br></div><div><br></div></div>
</font></span>
</div>
