<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      @media screen and (max-width: 630px) {
        .main-width-constraint {
          width: 100% !important;
        }

        .main-width-gutter {
          width: 10px !important;
        }

        .main-width-gutters-padding {
          padding-left: 10px !important;
          padding-right: 10px !important;
        }
      }

      .controls {
        position: absolute;
        top: 12px;
        right: 20px;
      }
    </style>
  </head>
  <body>

  {{#if showControls}}
    <div class="controls">
      <form method="POST">
        <button>Send</button>
      </form>
    </div>
  {{/if}}

<div><div dir="ltr"><div><div style="margin:0px 0px 8px;font-family:Verdana,Arial,Helvetica,sans-serif"><div style="color:rgb(136,136,136);font-family:arial,sans-serif;margin:0px 0px 8px"><p style="font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px">
<span style="color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">Hi!</span><br style="margin:0px;padding:0px;word-wrap:break-word;color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">
<br style="margin:0px;padding:0px;word-wrap:break-word;color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px"><span style="color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">Welcome to Goodybag and thanks so much for signing up&nbsp;</span><span style="color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">&nbsp;.&nbsp;</span><span style="color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">My name is Jacob and I'm here to answer any questions you may have about the site. I'm also available for an over the phone or in person demo. If you have any upcoming orders I can assist you with please don't hesitate to let me know.&nbsp;</span><br style="margin:0px;padding:0px;word-wrap:break-word;color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">
<br style="margin:0px;padding:0px;word-wrap:break-word;color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px"><span style="color:rgb(0,0,0);font-family:'Lucida Grande',arial,sans-serif;font-size:12px;line-height:19px">I hope you enjoy using our service!</span><br>
</p></div><p></p></div></div><div><div style="margin:0px 0px 8px"><p style="color:rgb(136,136,136);font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px"><span style="font-family:helvetica">Jacob Parker</span></p><p style="color:rgb(136,136,136);font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px">
<span style="font-family:helvetica"><br></span></p><p style="font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px"><em style="font-size:small;font-family:helvetica"><font color="#ff0000">VP Corporate Accounts</font><font color="#888888">&nbsp;</font></em><font face="helvetica" style="color:rgb(136,136,136)">|</font><em style="color:rgb(136,136,136);font-size:small;font-family:helvetica">&nbsp;</em><em style="font-size:small;font-family:helvetica"><font color="#ff0000">Goodybag</font></em></p>
<p style="font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px"><em style="font-size:small;font-family:helvetica"><font color="#888888">mobile:&nbsp;</font><a value="+15038877141"><font color="#ff0000">512.814.9957</font></a><font color="#888888">&nbsp;</font></em><span style="color:rgb(136,136,136);font-size:small;font-family:helvetica">| office</span><span style="font-size:small;font-family:helvetica"><em><font color="#888888">:&nbsp;</font><a value="+15126774224"><font color="#ff0000">512.677.4224</font></a></em></span></p>
<p style="font-family:Verdana,Arial,Helvetica,sans-serif;margin:0px"><span style=""><span style="font-size:small;font-family:helvetica"><em><a href="mailto:jacobparker@goodybag.com" target="_blank"><font color="#ff0000">jacobparker@goodybag.com</font></a><font color="#888888">&nbsp;</font></em><font color="#888888">|</font><em style="color:rgb(136,136,136)">&nbsp;</em></span><em style="font-size:small;font-family:helvetica"><a href="http://goodybag.com/" target="_blank"><font color="#ff0000">goo<wbr>dybag.com</font></a></em></span></p>
<p style="color:rgb(136,136,136)"><img src="https://ci3.googleusercontent.com/proxy/ZguALF8_8geVFLmJV8b_ykZ3ATpo6MNT1w1nd4nbD0qUvc4JCBHGhvCdw78VcmpJm7CE-h9JP3zamsBdUdlB0ZFN2L5Wc75Q2sCLfTRkFqtS94X54ItZx_9iCg0i4Z2GTivwai1FPCJyn-DcVwK-wm3vrH2hHwAJGhBUsR6-ZvX94mwtfQo3qyCJTA=s0-d-e1-ft#https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c34.34.432.432/s160x160/554895_635383319807910_1625738681_n.png" alt="Goodybag - Austin, TX" width="96" height="96"><br></p><div class="yj6qo"></div><div class="adL">
</div></div></div></div></div>
  </body>
</html>