<div id=":2e3" class="a3s" style="overflow: hidden;">
    <div>
        <div>Hey!</div>
        <div>
            <br>
        </div>
        <div>I just saw that you signed up with us :D. I’m really curious about how you discovered us--mind sharing that with me?&nbsp;</div>
        <div>
            <br>
        </div>
        <div>Also, please let me know if there’s anything I can help with.</div>
        <div>
            <br>
        </div>
        <div>Thanks!</div>
    </div>
    <div class="yj6qo ajU">
        <div id=":2eg" class="ajR" role="button" tabindex="0" aria-label="Hide expanded content" data-tooltip="Hide expanded content">
            <img class="ajT" src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif">
        </div>
    </div><span class="HOEnZb adL"><font color="#888888">
    <div><div><br></div>
<p class="MsoNormal"></p><div style="font-family:sans-serif;background-color:rgb(255,255,255);margin:0px;padding:0px"><b>Christy Medlock</b></div><div style="font-size:16px;font-family:sans-serif;background-color:rgb(255,255,255);margin:0px;padding:0px"><span style="font-size:12px">Concierge Specialist |&nbsp;Goodybag</span>
</div>
<div style="font-size:16px;font-family:sans-serif;background-color:rgb(255,255,255);margin:0px;padding:0px"><span style="font-size:12px"><i>tel: <a href="tel:512.270.6555" value="+15122706555" target="_blank">512.270.6555</a>&nbsp;</i></span>
</div>
<div style="font-size:16px;font-family:sans-serif;background-color:rgb(255,255,255);margin:0px;padding:0px"><span style="font-size:12px"><i><a href="mailto:christymedlock@goodybag.com" target="_blank">christymedlock@goodybag.com </a>|&nbsp;</i><i style="color:rgb(0,106,227)"><a rel="nofollow" shape="rect" href="http://goodybag.com/" style="color:rgb(0,106,227)" target="_blank"></a><a href="http://goodybag.com" target="_blank">goodybag.com</a></i></span>
</div>
<div style="font-size:10pt"><span style="font-size:12px"><br></span>
</div>
<p></p>
<p class="MsoNormal" style="font-size:10pt">
    <br>
</p>

</div>
</font>
</span>
</div>