<div class="form-group{{#eq error.property 'email'}} has-error{{/eq}}">
  <label
    class="control-label"
    for="register-email"
  >Email</label>
  <input
    class="form-control"
    type="email"
    name="email"
    id="register-email">
</div>

<div class="form-group">
  <label for="register-region">I'm ordering food in:</label>
  <select name="region_id" id="register-region">
    {{#each regions}}
      <option
        value="{{this.id}}"
        {{#eq ../user.region_id this.id}}
        selected
        {{else}}
        {{#eq ../../reqQuery.region this.id}}selected{{/eq}}
        {{/eq}}
      >{{this.name}}</option>
    {{/each}}
  </select>
</div>

<div class="form-group{{#eq error.property 'password'}} has-error{{/eq}}">
  <label
    class="control-label"
    for="register-password"
  >Password</label>
  <input
    class="form-control"
    type="password"
    name="password"
    id="register-password">
</div>

<div class="form-group{{#eq error.property 'password'}} has-error{{/eq}}">
  <label
    class="control-label"
    for="register-confirm-password"
  >Confirm password</label>
  <input
    class="form-control"
    type="password"
    name="password2"
    id="register-confirm-password">
</div>

<div class="form-group form-group-submit">
  <button class="btn btn-primary btn-submit btn-large">Start using Goodybag</button>
</div>