<div id="restaurant-info">
  <h3>Restaurant Info</h3>
  <div class="form-group">
    <label>Yelp URL</label>
    <input type="text" name="yelp_url">
  </div>
  <div class="form-group">
    <label>Cuisine</label>
    <input type="text" name="cuisine">
  </div>
  <div class="form-group">
    <label>Price</label>
    <ol class="inline-list">
      <li>
        <input type="checkbox" name="price">
        $$$$
      </li>
      <li>
        <input type="checkbox" name="price">
        $$$$
      </li>
      <li>
        <input type="checkbox" name="price">
        $$$$
      </li>
      <li>
        <input type="checkbox" name="price">
        $$$$
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label>Restaurant Address</label>
    <input type="text" name="address">
  </div>
  <div class="form-group">
    <label>Restaurant Phone</label>
    <input type="text" name="phone">
  </div>
  <div class="form-group">
    <label>Restaurant Email</label>
    <input type="email" name="email">
  </div>
  <div class="form-group">
    <label>Meal Types Offered</label>
    <ol class="inline-list">
      <li>
        <input type="checkbox" name="meal_type">
        Breakfast
      </li>
      <li>
        <input type="checkbox" name="meal_type">
        Lunch
      </li>
      <li>
        <input type="checkbox" name="meal_type">
        Dinner
      </li>
      <li>
        <input type="checkbox" name="meal_type">
        Appetizer
      </li>
      <li>
        <input type="checkbox" name="meal_type">
        Dessert
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label for="diet">Dietary Restrictions</label>
    <ol class="inline-list">
      <li>
        <label>
          <input type="checkbox">
          Vegetarian
        </label>
      </li>
      <li>
        <input type="checkbox">
        Vegan
      </li>
      <li>
        <input type="checkbox">
        Gluten free
      </li>
      <li>
        <input type="checkbox">
        Dairy free
      </li>
      <li>
        <input type="checkbox">
        Halai
      </li>
      <li>
        <input type="checkbox">
        Kosher
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label>Which can you include?</label>
    <ol class="inline-list">
      <li>
        <input type="checkbox">
        Napkins
      </li>
      <li>
        <input type="checkbox">
        Utensils
      </li>
      <li>
        <input type="checkbox">
        Plates
      </li>
      <li>
        <input type="checkbox">
        None of these
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label for="menu">Your Menu</label>
    <span>Enter a link</span>
    <input type="text" name="menu"> Or
    <span>upload a file</span>
    <input type="file">
  </div>
  <div class="form-group">
    <label for="logo">Your Logo</label>
    <span>Enter a link</span>
    <input type="text" name="menu"> Or
    <span>upload a file</span>
    <input type="file">
  </div>
  <div class="form-group">
    <label for="minimum">Order minimum</label> 
    $<input type="text" name="order_minimum">
  </div>
</div>