<div>
  <h2>Pickup Info</h2>
  <div class="form-group">
    <h4>Pickup Lead Times</h4>
    <p>
      The time you need to prepare an order that is being picked up by an 
      outside party. Below are the lead times we recommend for our restaurants.
      The smaller the lead time, the more orders you can receive. 
      <strong>Cancel Time</strong> is the amount of notice needed if someone
      wants to cancel their order with you.
    </p>
    <h4>Default Lead Times</h4>
    {{> landing_default_lead_time_table}}
    <div class="form-group">
      <ol class="inline-list">
        <li>
          <label for="pickup_lead_times">
            <input type="radio" name="pickup_lead_times">
            Use default lead times
          </label>
        </li> 
        <li>
          <label for="pickup_lead_times">
            <input type="radio" name="pickup_lead_times">
            Cutomize my lead times
          </label>
        </li>
      </ol>
    </div>
  </div>
</div>
