<div class="form-group">
  <label for="name">Your Name</label>
  <input type="text" name="name" id="name">
</div>
<div class="form-group">
  <label for="number">Your Number</label>
  <input type="text" name="number" id="number">
</div>
<div class="form-group">
  <label for="email">Your Email</label>
  <input type="text" name="email" id="email">
</div>
<div class="form-group">
  <label for="restaurant_name">Restaurant Name</label>
  <input type="text" name="restaurant_name" id="restaurant-name">
</div>
<div class="form-group">
  <label for="website">Restaurant Website</label>
  <input type="text" name="website" id="website">
</div>
<div class="form-group">
  <label for="delivery_type">Which can you provide?</label>
  <ul class="inline-list">
    <li>
      <label>Delivery</label>
      <input type="checkbox">
    </li>
    <li>
      <label>Pickup</label>
      <input type="checkbox">
    </li>
    <li>
      <label>Both</label>
      <input type="checkbox">
    </li>
  </ul>
</div>
