<p>
  When your restaurant receives a new order through Goodybag, 
  you will be automatically notified via text, email, and phone
  call. If the order isn't accepted within an hour, we will try
  contacting you directly. Please note that the more contacts you
  enter, the better chances we have of getting in touch.
</p>
<div class="contact-group">
  <h3>MAIN CONTACT</h3>
  <hr>
  <div class="form-group">
    <label for="contact_name">Contact Name</label>
    <input type="text" name="contact_name">
    <span>When you receive an order, this person will be notified</span>
  </div>
  <div class="form-group">
    <label for="contact_number">Contact Number</label>
    <input type="text" name="contact_number">
    <span>When you receive an order, this number will be called and
      texted (if it's a cellular number).</span>
  </div>
  <div class="form-group">
    <label for="contact_email">Contact Email</label>
    <input type="text" name="contact_email">
    <span>When you receive an order, we will send an email here.</span>
  </div>
</div>
<div>
  <button class="btn-add-contact">+ Add Contact</button>
  <p>You can add more contacts at any point in the future</p>
</div>
