<div id="basic-info">
  <div>
    <h2>Start feeding offices</h2>
    <p>Get exposure to hundreds of offices and new customers.</p>
  </div>
</div>
<div class="container">
  <div class="form-group">
    <label class="label-left">Your Name</label>
    <input type="text" class="form-control" name="name" id="name">
  </div>
  <div class="form-group">
    <label class="label-left">Your Number</label>
    <input type="text" class="form-control" name="number" id="number">
  </div>
  <div class="form-group">
    <label class="label-left">Your Email</label>
    <input type="text" class="form-control" name="email" id="email">
  </div>
  <div class="form-group">
    <label class="label-left">Restaurant Name</label>
    <input type="text" class="form-control" name="restaurant_name" id="restaurant-name">
  </div>
  <div class="form-group">
    <label class="label-left">Restaurant Website</label>
    <input type="text" class="form-control" name="website" id="website">
  </div>
  <label class="label-left">Which can you provide?</label>
  <ul class="inline-list">
    <li>
      <input type="checkbox">
      <label>Delivery and Pickup</label>
    </li>
    <li>
      <input type="checkbox">
      <label>Delivery only</label>
      <p class="panel-info">Your restaurant delivers the food</p>
    </li>
    <li>
      <input type="checkbox">
      <label>Pickup only</label>
      <p class="panel-info">A courier will come get the food</p>
    </li>
  </ul>
</div>
