<div>
  <h2>Delivery Info</h2>
  <div class="form-group">
    <label for="delivery_fee">Delivery Fee</label>
    $<input type="text" name="delivery_fee">
  </div>
  <div class="form-group">
    <h4>Delivery Lead Times</h4>
    <p>
      The time you need to prepare and deliver an order for a given number
      of guests. Below are the lead times we recommend for our restaurants.
      The smaller the lead time, the more orders you can receive.
      <strong>Cancel Time</strong> is the ammount of notice needed if someone
      wants to cancel their order with you.
    </p>
    <h4>Default Lead Times</h4>
    {{> landing_default_lead_time_table}}
    <div class="form-group">
      <ol class="inline-list">
        <li>
          <label for="delivery_lead_times">
            <input type="radio" name="delivery_lead_times">
            Use default lead times
          </label>
        </li>
        <li>
          <label for="delivery_lead_times">
            <input type="radio" name="delivery_lead_times">
            Customize my lead times
          </label>
        </li>
      </ol>
    </div>
  </div>
</div>