<div>
  <h2>Hours of Operation</h2>
  <div class="form-group">
    <label for="delivery_hours">Delivery Hours</label>
    <select name="day_of_week" id="day-of-week">
      <option value="">Choose day</option>
      <options value="monday">Monday</options>
      <options value="tuesday">Tuesday</options>
      <options value="wednesday">Wednesday</options>
      <options value="thursday">Thursday</options>
      <options value="friday">Friday</options>
      <options value="saturday">Saturday</options>
      <options value="sunday">Sunday</options>
    </select>
    <input type="text" name="hours_start"> - 
    <input type="text" name="hours_end">
  </div>
  <button class="btn btn-default">+ add hours</button>
  <div class="form-group">
    <label for="pickup_hours">Pickup Hours</label>
    <ol class="inline-list">
      <li>
        <label for="pickup_hours">
          <input type="text">
          Use same hours as delivery
        </label>
      </li>
      <li>
        <label for="pickup_hours">
          <input type="text">
          Use different hours
        </label>
      </li>
    </ol>
  </div>
  <div class="form-group">
    <label for="closed_dates">Closed Dates (optional)</label>
    <ol class="inline-list">
      <li>
        <label for="closed_dates">
          <input type="checkbox" name="closed_dates">
          New Year's Day (Jan 1)
        </label>
      </li>
      <li>
        <label for="closed_dates">
          <input type="checkobx" name="closed_dates">
          Thanksgiving Day
        </label>
      </li>
      <li>
        <label for="closed_dates">
          <input type="checkbox" name="closed_dates">
          Christmas Day (Dec 25)
        </label>
      </li>
    </ol>
    <span>Other</span> 
    <input type="text" name="closed_dates">
    <p>Any dates you know you won't be available to accept orders. Holidays, events, etcs.</p>
  </div>
</div>