<div>
  <h2>Direct Deposit Info</h2>
  <p>
    The information below allows Goodybag to initiate credit entries to my (our) checking and/or savings accounts indicated below and to credit the same to such account. I (we) acknowledge that the origination of the ACH transactions to my (our) account must comply with provisions of U.S. Law.
  </p>
  <div class="form-group">
    <label for="bank_name">Bank Name</label>
    <input type="text" name="bank_name">
  </div>
  <div class="form-group">
    <label for="account_type">Account Name</label>
    <input type="text" name="account_name">
  </div>
  <div class="form-group">
    <label for="routing_number">ABA Routing Number</label>
    <input type="text" name="routing_number">
  </div>
  <div class="form-group">
    <label for="account_number">Account Number</label>
    <input type="text" name="account_number">
  </div>
  <div class="form-group">
    <label for="mail_me">
      <input type="checkbox">
      Please mail me my checks instead
    </label>
  </div>
</div>
