{{#extend "page"}}page-forgot-password-consume{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <div class="tiny-container">
    <h2 class="page-title">Reset Password</h2>
    <div class="errors">{{#if error}}{{{dump error}}}{{/if}}</div>
    <form id="new-password-form" class="login-form form-vertical" action="/forgot-password/{{token}}" method="POST">
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" name="password" id="new-password">
      </div>

      <div class="form-group">
        <label for="new-password2">New Password</label>
        <input type="password" name="password2" id="new-password2">
      </div>

      <div class="form-group form-group-actions">
        <button class="btn btn-default">Reset my password</button>
      </div>
    </form>
  </div>
</div>

{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar', 'field-matcher'], function( $ ){
    $(function(){
      $('.navbar').navbar({ toggleText: false, toggleLogin: false });
      $('#new-password-form').fieldMatcher({
        fields: ['password', 'password2']
      , onError: function(){
          $('.errors').html([
            '<div class="error">'
          , '  Passwords must match'
          , '</div>'
          ].join(''));
        }
      });
      analytics.page('Forgot Password Consume');
    });
  });
</script>
{{/extend}}
