{{#extend "page"}}page-forgot-password{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <div class="tiny-container">
    <form id="forgot-password-form" class="login-form form-vertical{{#if error}} error{{/if}}" action="/forgot-password" method="POST">
      {{#if error}}
      {{#eq error.name "INVALID_EMAIL"}}
        <h2 class="page-title">We couldn't find that email</h2>
        <p>Please double check the email address you provided. If you haven't yet registered, <a href="/join">click here</a> to get started.</p>
      {{else}}
        <h2 class="page-title">Something went horribly wrong!</h2>
        <p>It's us, not you. I promise. Best thing to do is refresh the page and try again. If that doesn't help, please send us a message on chat or call {{phone (or user.region.support_phone config.phone.support)}}</p>
      {{/eq}}
      {{else}}
        <h2 class="page-title">Forgot your password?</h2>
        <p>Enter your email address below and we'll send you an email with further instructions.</p>
      {{/if}}

      <div class="form-group">
        <label for="login-email">Email</label>
        <input type="email" value="{{email}}" name="email" id="login-email">
      </div>

      <div class="form-group form-group-actions">
        <button class="btn btn-default">Reset my password</button>
      </div>
    </form>
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery'], function( $ ){
    analytics.page('Forgot Password');
  });
</script>
{{/extend}}
