{{#extend "page"}}page-forgot-password{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <div class="container">
    <h1>Password has been set!</h1>
    <p class="lead">Please proceed to the <a href="/login">login page.</a></p>
    <div class="cupcake happy"></div>
  </div>
</div>

{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery'], function( $ ){
    $(function(){
      analytics.page('Forgot Password Consume Success');
    });
  });
</script>
{{/extend}}
