{{#extend "page"}}page-forgot-password{{/extend}}

{{#extend "body"}}
<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="/img/logo.png" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default">+</button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
<!--</Navbar>-->

<div class="page-section-standalone">
  <form id="forgot-password-form" class="login-form form-vertical{{#if error}} error{{/if}}" action="/forgot-password" method="POST">
    {{#if error}}
    {{#eq error.name "INVALID_EMAIL"}}
      <h2>We couldn't find that email</h2>
      <p>Please double check the email address you provided. If you haven't yet registered, <a href="/join">click here</a> to get started.</p>
    {{else}}
      <h2>Something went horribly wrong!</h2>
      <p>It's us, not you. I promise. Best thing to do is refresh the page and try again. If that doesn't help, please send us a message on chat or call {{phone config.phone.support}}</p>
    {{/eq}}
    {{else}}
      <h2>Forgot your password?</h2>
      <p>Enter your email address below and we'll send you an email with further instructions.</p>
    {{/if}}

    <div class="form-group">
      <label for="login-email">Email</label>
      <input type="email" value="{{email}}" name="email" id="login-email">
    </div>

    <div class="form-group form-group-actions">
      <button class="btn btn-default">Reset my password</button>
    </div>
  </form>
</div>

<!--<Footer>-->
<footer class="footer">
  <ul class="nav footer-nav">
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/contact-us">Request to be a caterer</a></li>
    <li><a href="/legal">Terms of service</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
  </ul>
</footer>
<!--</Footer>-->
{{/extend}}

{{#extend "scripts"}}
<script>
  // require( ['app/pages/landing'], function( page ){
  //   page.init();
  // });
</script>
{{/extend}}