{{#extend "page"}}page-forgot-password{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <div class="container">
    <h1>Success!</h1>
    <p class="lead">Check your email for a link from Goodybag!</p>
    <div class="cupcake happy"></div>
  </div>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar'], function( $ ){
    $(function(){
      $('.navbar').navbar({ toggleText: false, toggleLogin: false });
      analytics.page('Forgot Password Success');
    });
  });
</script>
{{/extend}}
