{{#extend "page"}}page-forgot-password{{/extend}}

{{#extend "body"}}
<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</header>
<!--</Navbar>-->

<div class="page-section-standalone">
  <div class="container">
    <h1>Success!</h1>
    <p class="lead">Check your email for a link from Goodybag!</p>
    <div class="cupcake happy"></div>
  </div>
</div>

{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery'], function( $ ){
    $(function(){
      $('.navbar').navbar({ toggleText: false, toggleLogin: false });
      analytics.page('Forgot Password Success');
    });
  });
</script>
{{/extend}}