<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Keep this up here! -->
    <!--[if lt IE 9]>
    <script src="/components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/dist/landing.css">

    {{{block "css"}}}
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/dist/landing-ielt9.css">
    <![endif]-->
  </head>
  <body>

    {{{block "body"}}}

    {{#if config.isProduction}}
    <script src="/dist/landing.js"></script>
    {{else}}
    <script src="/components/requirejs/require.js"></script>
    <script src="/js/require-config.js"></script>
    {{/if}}

    {{{block "scripts"}}}
  </body>
</html>