<!DOCTYPE html>
<html>
  <head>
    <title>Goodybag.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/landing.css">
    {{{block "css"}}}
  </head>
  <body>

    {{{block "body"}}}

    <script src="/dist/landing.js"></script>
    {{{block "scripts"}}}
  </body>
</html>