{{#extend "page"}}page-login{{/extend}}

{{#extend "body"}}
<div class="page-section-standalone">
  <form id="login-form" class="login-form form-vertical{{#if error}} error{{/if}}" action="/login{{queryParams query}}" method="POST">
    {{#if error}}
    <h2 class="page-title">Invalid Email/Password</h2>
    <div class="cupcake sad"></div>
    {{else}}
    <h2 class="page-title">Login</h2>
    {{/if}}

    <div class="form-group">
      <label for="login-email">Email</label>
      <input type="email" name="email" id="login-email">
    </div>

    <div class="form-group">
      <label for="login-password">Password</label>
      <input type="password" name="password" id="login-password">
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" name="remember" value="1">
        Remember me?
      </label>
    </div>

    <div class="form-group form-group-actions">
      <a href="/forgot-password" class="btn btn-default">Forgot Password</a>
      <button class="btn btn-primary" type="submit">Sign In</button>
    </div>
  </form>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery'], function( $ ){
    analytics.page('Login');
  });
</script>
{{/extend}}
