{{#extend "body"}}
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="/img/logo.png" alt="Goodybag.com" class="navbar-logo">
    </a>
  </div>
</header>
{{/extend}}