{{#extend "page"}}page-register{{/extend}}

{{#extend "css"}}
<style>
  .form-restaurant-signup {
    margin: 0 auto;
    max-width: 500px;
  }
</style>
{{/extend}}

{{#extend "body"}}
<div id="restaurant-join">
  <!-- TODO: add styles -->
  <nav>
    <ol class="inline-list">
      <li class="active">Basic Info</li>
      <li class="">Restaurant Info</li>
      <li class="">Delivery + Pickup</li>
      <li class="">Payments</li>
    </ol>
  </nav>

  <form class="form-vertical form-restaurant-signup">
    <div class="form-step" data-step="1">
      <div id="basic-info">
        <div>
          <h1>Start feeding offices</h1>
          <p>Get exposure to hundreds of offices and new customers.</p>
        </div>
      </div>
      {{> landing_restaurant_basic_info}}
    </div>
    <div class="form-step hide" data-step="2">
      <h3>step 2</h3>
    </div>
    <div class="form-step hide" data-step="3">
      <h3>step 3</h3>
    </div>
    <div class="form-step hide" data-step="4">
      <h3>step 4</h3>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default btn-continue">Continue ></button>
    </div>
  </form>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/views/restaurant/join'
, 'app/models/restaurant'
], 
function ( JoinView, Restaurant ){

  var joinView = new JoinView({
    el: '#restaurant-join'
  , model: new Restaurant()
  , steps: 4
  });
});
</script>
{{/extend}}
