{{#extend "page"}}page-register{{/extend}}

{{#extend "css"}}
<style>
  .form-restaurant-signup {
    margin: 0 auto;
    max-width: 500px;
  }
  .restaurant-join nav {
    margin: 0 auto;
    width: 50%;
  }
  .restaurant-join .tabs li {
    background-color: #fafafa;
    margin: -3px;
    padding: 0;
    border: 1px solid #ddd;
    height: 60px;
    width: 150px;
    border-radius: 3px;
  }
  .restaurant-join .tabs .active {
    background-color: #eee;
  }
</style>
{{/extend}}

{{#extend "body"}}
<div id="restaurant-join" class="restaurant-join">
  <nav>
    <ol class="inline-list tabs">
      <li class="active">Basic Info</li>
      <li>Restaurant Info</li>
      <li>Delivery + Pickup</li>
      <li>Payments</li>
    </ol>
  </nav>

  <form class="form-vertical form-restaurant-signup">
    <div class="form-step hide" data-step="1">
      {{> landing_restaurant_basic_info}}
    </div>
    <div class="form-step hide" data-step="2">
        {{> landing_restaurant_info}}
        {{> landing_restaurant_order_contact_info}}
    </div>
    <div class="form-step hide" data-step="3">
        {{> landing_restaurant_delivery_info}}
        {{> landing_restaurant_pickup_info}}
        {{> landing_restaurant_hours_of_operation}}

    </div>
    <div class="form-step" data-step="4">
        {{> landing_restaurant_billing_address}}
        {{> landing_restaurant_direct_deposit_info}}
        {{> landing_restaurant_fee_schedule}}
        {{> landing_restaurant_terms_of_service}}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default btn-continue">Continue ></button>
    </div>
  </form>

</div>
{{/extend}}

{{#extend "scripts"}}
<script>
require([
  'app/views/restaurant/join'
, 'app/models/restaurant'
], 
function ( JoinView, Restaurant ){

  var joinView = new JoinView({
    el: '#restaurant-join'
  , model: new Restaurant()
  , steps: 4
  });
});
</script>
{{/extend}}
