{{#extend "page"}}page-rewards{{/extend}}

{{#extend "body"}}
<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="/img/logo.png" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default">Sign In</button>
    <form class="login-form form-small" method="POST" action="/login{{queryParams query}}">
      <div class="form-group">
        <label for="login-email">Email</label>
        <label for="remember-me" class="remember-me">
          <input type="checkbox" name="remember" value="1" id="remember-me" tabindex="3">
          Remember me
        </label>
        <input type="email" name="email" id="login-email" placeholder="Email" tabindex="1">
      </div>

      <div class="form-group">
        <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        <label for="login-password">Password</label>
        <input type="password" name="password" id="login-password" placeholder="Password" tabindex="2">
      </div>

      <div class="form-group form-group-submit">
        <button class="btn btn-default" tabindex="4">Sign In</button>
      </div>
    </form>
  </div>
</header>
<!--</Navbar>-->

<!--<HeroUnit>-->
<div class="hero-unit hero-unit-rewards" id="intro">
  <div class="container">
    <h1>Rewards are here</h1>
    <p>Earn points on every order!</p>
    <img class="rewards-logo" src="/img/logo-rewards-color.png" alt="Goodybag Rewards">
  </div>
</div>
<!--</HeroUnit>-->

<!--<How it Works>-->
<section class="page-section" id="section-how-it-works">
  <div class="container">
    <h1 class="section-header">How it works</h1>

    <div class="marketing-points">
      <div class="point">
        <img src="/img/landing-hiw-1.png" alt="">
        <p>
          Order food through Goodybag
        </p>
      </div>
      <div class="point">
        <img src="/img/landing-hiw-2.png" alt="">
        <p>
          Every dollar spent earns 1 Reward Point
        </p>
      </div>
      <div class="point">
        <img src="/img/landing-hiw-3.png" alt="">
        <p>
          Redeem Points for Rewards through our online shop!
        </p>
      </div>
    </div>
  </div>
</section>
<!--</How it Works>-->

<!--<Rewards Screen>-->
<section class="page-section" id="section-rewards-screen">
  <div class="container">
    <h1 class="section-header">View your points, browse and redeem rewards!</h1>

    <!--<WindowPane>-->
    <div class="screenshot-window window-pane">
      <div class="window-header">
        <i class="window-btn"></i>
        <i class="window-btn"></i>
        <i class="window-btn"></i>
      </div>
      <img src="/img/product-screen-1.jpg" alt="Goodybag restaurants list">
    </div>
    <!--</WindowPane>-->
  </div>
</section>
<!--</Rewards Screen>-->

<!--<FAQsSection>-->
<section class="page-section" id="section-faqs">
  <div class="container">
    <h1 class="section-header">FAQs</h1>

    <!--<FAQs>-->
    <div class="faqs">
      <article class="faq">
        <h1>What are Pending Points vs Actual Points?</h1>
        <p>Pending Points are not really there, Actual Points really are!</p>
      </article>

      <article class="faq">
        <h1>How will I receive my card?</h1>
        <p>We will personally deliver them to you asap.</p>
      </article>

      <article class="faq">
        <h1>What are Pending Points vs Actual Points?</h1>
        <p>Pending Points are not really there, Actual Points really are!</p>
      </article>

      <article class="faq">
        <h1>How will I receive my card?</h1>
        <p>We will personally deliver them to you asap.</p>
      </article>
    </div>
    <!--</FAQs>-->
  </div>
</section>
<!--</FAQsSection>-->

<footer class="footer">
  <ul class="nav footer-nav">
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/contact-us">Request to be a caterer</a></li>
    <li><a href="/legal">Terms of service</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
  </ul>
</footer>
{{/extend}}

{{#extend "scripts"}}
<script>

</script>
{{/extend}}