{{#extend "title"}} - Testimonials{{/extend}}
{{#extend "page"}}page-testimonials{{/extend}}

{{#extend "body"}}
{{> landing_navbar}}

<!--<PhotoStripe>-->
<div class="photo-stripe photo-stripe-sushi">
  <img src="/img/photo-stripe-sushi.png" alt="">
</div>
<!--</PhotoStripe>-->

{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar'], function( $ ){
    $('.navbar').navbar({ toggleText: false });
  });

  analytics.page('Rewards');
</script>
{{/extend}}