{{#extend "title"}} - Testimonials{{/extend}}
{{#extend "page"}}page-testimonials{{/extend}}

{{#extend "body"}}
{{> landing_navbar}}

<!--<PhotoStripe>-->
<div class="photo-stripe photo-stripe-sushi">
  <img src="/img/photo-stripe-sushi.png" alt="">
</div>
<!--</PhotoStripe>-->

<!--<IntroQuote>-->
<section class="page-section" id="section-intro-quote">
  <div class="container">
    <h1 class="section-header">We Make Offices Happy</h1>

    <div class="quote-rotator">
      <div class="quote quote-lg">
        <blockquote>I started using Goodybag this past week and already I am questioning what I EVER did without you guys! You have taken so much stress out of my day by being available to chat, e-email, and do all the leg work I normally have to do myself. Not only does it make my job easier, but it also helps me discovering catering options that I was never aware of. Now we do not have to eat the same boxed lunches everyday!!! THANK YOU GOODYBAG! Your staff deserves a HUGE pat on the back!</blockquote>
        <div class="signature">
          <span class="author">Kristen Reilly</span>
          <img src="{{cdn "/img/client-logos/q2.png" }}" alt="Grow Beyond" class="author-logo">
        </div>
      </div>
    </div>
  </div>
</section>
<!--</IntroQuote>-->

<!--<TestimonialsList>-->
<section class="page-section" id="section-testimonials-list">
  <div class="container">
    <div class="speech-boxes">
    {{#each testimonials}}
      <div class="box box-2">
        <blockquote>"{{{this.message}}}"</blockquote>
        <div class="signature">
          <div class="wrapper">
            <span class="author">Stephanie Donohoe</span>
            <div class="logo-wrapper">
              <a href="{{this.organizationUrl}}" class="logo-link">
                <img src="{{cdn this.organizationLogo}}" alt="nFusion" class="author-logo">
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
<!--</TestimonialsList>-->
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar'], function( $ ){
    $('.navbar').navbar({ toggleText: false });
  });

  analytics.page('Rewards');
</script>
{{/extend}}