<div style="width:100%; padding-bottom:2px; padding-left:10px; padding-right:10px; line-height:22px; font-weight:300; font-family:Helvetica,arial,sans-serif; color:#695a42; font-size:13px; text-align:left">
  <strong>Details:</strong>
  <div>Type: {{reward.location}}</div>
  <div>Amount: ${{dollars reward.amount}}</div>
  <div>Points Used: {{reward.cost}}</div>
</div>
