{{#extend "html-title"}}{{delivery_service.name}}{{/extend}}
{{#extend "page"}}page-delivery-service{{/extend}}

{{#extend "page-head"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin/delivery-services">Delivery Services</a>
    </li>
    <li>{{delivery_service.name}}</li>
  </ul>

  <h1 class="page-title">Edit Delivery Service - {{delivery_service.name}}</h1>
</div>
{{/extend}}

{{#extend "nav-col"}}
{{> admin_delivery_service_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<h2>Heyo</h2>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/admin-regions'], function( page ){
    page.init({

    });
  });
</script>
{{/extend}}
