{{#extend "html-title"}}{{delivery_service.name}}{{/extend}}
{{#extend "page"}}page-delivery-service{{/extend}}

{{#extend "page-head"}}
{{> admin_delivery_service_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_delivery_service_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<section class="panel-component" id="component-delivery-zips">
  <h2 class="component-title">Delivery Zips</h2>
  <ul class="nav nav-horizontal nav-tabs component-nav">
    <li><a href="#">$15</a></li>
    <li><a href="#">$25</a></li>
  </ul>

</section>
{{/extend}}

{{#extend "scripts"}}
<script>
  define(
    'page'
  , [ 'jquery-loaded', 'utils', 'app/views/admin/matrix-editor' ]
  , function( $, utils, MatrixEdtor ){
      var page = {
        init: function(){
          page.delivery_service = {{{json delivery_service}}};
          $(function(){
            var set = utils.chain( page.delivery_service.zips ).pluck('from').concat(
              utils.pluck( page.delivery_service.zips, 'to' )
            ).unique().value();

            // Initialize at 0
            var values = {}, i, ii, l;
            for ( i = 0, l = set.length; i < l; ++i ){
              values[ set[i] ] = {};
              for ( ii = 0; ii < l; ++ii ){
                values[ set[i] ][ set[ii] ] = 0;
              }
            }

            page.delivery_service.zips.forEach( function( zip ){
              values[ zip.from ][ zip.to ] = zip.price;
            });

            page.editor = new MatrixEdtor({
              set:    set
            , values: values
            });

            page.editor.render();

            $('#component-delivery-zips').append( page.editor.el );
          });
        }
      }

      return page;
    }
  );

  require(['page'], function( page ){ return page.init(); });
</script>
{{/extend}}
