{{#extend "html-title"}}{{delivery_service.name}}{{/extend}}
{{#extend "page"}}page-delivery-service{{/extend}}

{{#extend "page-head"}}
{{> admin_delivery_service_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_delivery_service_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<h2>Delivery Zips</h2>

<form id="edit-item-form"
  action="{{sidebarNav.baseUrl}}/basic-info"
  method="POST"
  class="form ap-form form-vertical">
  {{> admin_delivery_service_basic_info_form}}
</form>
{{/extend}}

{{#extend "scripts"}}
<script>

</script>
{{/extend}}
