{{#extend "html-title"}}{{delivery_service.name}}{{/extend}}
{{#extend "page"}}page-delivery-service{{/extend}}

{{#extend "page-head"}}
{{> admin_delivery_service_page_head}}
{{/extend}}

{{#extend "nav-col"}}
{{> admin_delivery_service_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<section class="panel-component" id="component-delivery-zips">
  <h2 class="component-title">Delivery Zips</h2>
  <div class="component-actions">
    <button class="btn btn-save">Save</button>
  </div>
  <div class="component-content">
    <div class="matrix-editor"></div>
  </div>
</section>
{{/extend}}

{{#extend "scripts"}}
<script>
  require(['app/pages/admin/delivery-service-zips'], function( page ){
    return page.init({
      delivery_service: {{{json delivery_service}}}
    });
  });
</script>
{{/extend}}
