{{#extend "html-title"}}{{delivery_service.name}}{{/extend}}
{{#extend "page"}}page-delivery-service{{/extend}}

{{#extend "page-head"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin/delivery-services">Delivery Services</a>
    </li>
    <li>New</li>
  </ul>

  <h1 class="page-title">Create Delivery Service</h1>
</div>
{{/extend}}

{{#extend "nav-col"}}
{{> admin_delivery_service_sidebar_nav}}
{{/extend}}

{{#extend "body"}}
<h2>Basic Info</h2>

<form
  id="create-item-form"
  action="{{sidebarNav.baseUrl}}"
  method="POST"
  class="form ap-form form-vertical">
  {{> admin_delivery_service_basic_info_form}}
</form>
{{/extend}}

{{#extend "scripts"}}
{{> admin_item_form}}
<script>
  // require( ['app/pages/admin-regions'], function( page ){
  //   page.init({

  //   });
  // });
</script>
{{/extend}}
