<section class="page-section" id="section-blockquote">
  <div class="container">
    <h2 class="component-title">Blockquote</h2>
    <p>Demo</p>
    <blockquote class="blockquote blockquote-info">
      <h2 class="title">Title</h2>
      Body text goes here.
    </blockquote>
    <p>Markup</p>

<code class="language-markup">{{#raw}}<blockquote class="blockquote blockquote-info">
  <h2 class="title">Title</h2>
  Body text goes here.
</blockquote>{{/raw}}</code>

</section>