<section class="page-section" id="section-button-groups">
  <div class="container">
    <h2 class="component-title">Button Groups</h2>
    <p>Use a <pre>.btn-group</pre> to style multiple radio options as buttons.</p>
    <p>Demo</p>
    <div class="btn-group">
      <input type="radio" name="opts" id="popular">
      <label class="btn" for="popular">Popular</label>

      <input type="radio" name="opts" id="ascending">
      <label class="btn" for="ascending">A-Z</label>

      <input type="radio" name="opts" id="price">
      <label class="btn" for="price">Price</label>

      <input type="radio" name="opts" id="delivery_fee">
      <label class="btn" for="delivery_fee">Delivery Fee</label>

      <input type="radio" name="opts" id="order_min">
      <label class="btn" for="order_min">Order Minimum</label>
    </div>
    <p>Markup</p>
<code class="language-markup">{{#raw}}<div class="btn-group">
  <input type="radio" name="opts" id="popular">
  <label class="btn" for="popular">Popular</label>

  <input type="radio" name="opts" id="ascending">
  <label class="btn" for="ascending">A-Z</label>

  <input type="radio" name="opts" id="price">
  <label class="btn" for="price">Price</label>

  <input type="radio" name="opts" id="delivery_fee">
  <label class="btn" for="delivery_fee">Delivery Fee</label>

  <input type="radio" name="opts" id="order_min">
  <label class="btn" for="order_min">Order Minimum</label>
</div>{{/raw}}</code>
  </div>
</section>
