<section class="page-section" id="section-dollar-meter">
  <div class="container">
    <h2 class="component-title">Dollar Meter</h2>
    <p>Demo</p>
    <span class="dollar-meter">{{{dollarMeter 3}}}</span>
    <p>Markup</p>
    <code class="language-markup">{{#raw}}<span class="dollar-meter">\{{dollarMeter 3}}</span>{{/raw}}</code>
  </div>
</section>