<section class="page-section" id="section-icons">
  <div class="container">
    <h2 class="component-title">Icons</h2>
    <ul class="gb-icon-list clearfix">
      <li>
        <span class="gb-icon-question"></span>
        <div class="gb-icon-class">gb-icon-question</span>
        </li>
      <li>
        <span class="gb-icon-caret-down"></span>
        <div class="gb-icon-class">gb-icon-caret-down</span>
      </li>
      <li>
        <span class="gb-icon-x-mark"></span>
        <div class="gb-icon-class">gb-icon-x-mark</span>
      </li>
      <li>
        <span class="gb-icon-checkmark"></span>
        <div class="gb-icon-class">gb-icon-checkmark</span>
      </li>
      <li>
        <span class="gb-icon-magnifier"></span>
        <div class="gb-icon-class">gb-icon-magnifier</span>
        </li>
        <li>
          <span class="gb-icon-location"></span>
          <div class="gb-icon-class">gb-icon-location</span>
        </li>
        <li>
          <span class="gb-icon-time"></span>
          <div class="gb-icon-class">gb-icon-time</span>
        </li>
        <li>
          <span class="gb-icon-calendar"></span>
          <div class="gb-icon-class">gb-icon-calendar</span>
        </li>
        <li>
          <span class="gb-icon-email"></span>
          <div class="gb-icon-class">gb-icon-email</span>
        </li>
        <li>
          <span class="gb-icon-phone"></span>
          <div class="gb-icon-class">gb-icon-phone</span>
        </li>
        <li>
          <span class="gb-icon-warning"></span>
          <div class="gb-icon-class">gb-icon-warning</span>
        </li>
        <li>
          <span class="gb-icon-user"></span>
          <div class="gb-icon-class">gb-icon-user</span>
        </li>
        <li>
          <span class="gb-icon-heart"></span>
          <div class="gb-icon-class">gb-icon-heart</span>
        </li>
        <li>
          <span class="gb-icon-eye"></span>
          <div class="gb-icon-class">gb-icon-eye</span>
        </li>
        <li>
          <span class="gb-icon-eye-slash"></span>
          <div class="gb-icon-class">gb-icon-eye-slash</span>
        </li>
        <li>
          <span class="gb-icon-hamburger"></span>
          <div class="gb-icon-class">gb-icon-hamburger</span>
        </li>
        <li>
          <span class="gb-icon-star"></span>
          <div class="gb-icon-class">gb-icon-star</span>
        </li>
        <li>
          <span class="gb-icon-star-half-empty"></span>
          <div class="gb-icon-class">gb-icon-star-half-empty</span>
        </li>
        <li>
          <span class="gb-icon-star-empty"></span>
          <div class="gb-icon-class">gb-icon-star-empty</span>
        </li>
        <li>
          <span class="gb-icon-chevron-down"></span>
          <div class="gb-icon-class">gb-icon-chevron-down</span>
        </li>
        <li>
          <span class="gb-icon-flame"></span>
          <div class="gb-icon-class">gb-icon-flame</span>
        </li>
        <li>
          <span class="gb-icon-menu"></span>
          <div class="gb-icon-class">gb-icon-menu</span>
        </li>
        <li>
          <span class="gb-icon-pencil"></span>
          <div class="gb-icon-class">gb-icon-pencil</span>
        </li>
    </ul>

    <p>Example</p>
    <blockquote class="blockquote blockquote-info">Note that either class or data-icon attributes may be used to specify the icon.</blockquote>
    <p>
    <code class="language-markup">{{#raw}}<span class="gb-icon-heart"></span>{{/raw}}</code>
    <br>
    <code class="language-markup">{{#raw}}<span data-icon="gb-icon-heart"></span>{{/raw}}</code>
    </p>
  </div>
</section>
