<section class="page-section" id="section-inputs">
  <div class="container">
    <h2 class="component-title">Inputs</h2>
    <h3>They come in all sizes!</h3>
    <ul class="inline-list">
      <li>
        <div class="form-group">
          <label>Regular Input</label>
          <input type="text" class="form-control" placeholder="Hello World">
        </div>
      </li>
      <li>
        <div class="form-group">
          <label>Select</label>
          <select name="test" class="form-control">
            <option>Value 1</option>
            <option>Value 2</option>
            <option>Value 3</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <div class="input-group input-group">
            <div class="input-addon">$</div>
            <input type="number" placeholder="10.50" class="form-control">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>