<section class="page-section" id="section-inline-list">
  <div class="container">
    <h2 class="component-title">Lists</h2>
    <h3>Inline List</h3>
    <ul class="inline-list">
      <li>Abc</li>
      <li>Bird</li>
      <li>Dog</li>
      <li>Cat</li>
    </ul>
    <p>
      <code class="language-markup">
{{~#raw~}}
<ul class="inline-list">
  <li>Abc</li>
  <li>Bird</li>
  <li>Dog</li>
  <li>Cat</li>
</ul>
{{~/raw~}}
      </code>
    </p>

    <h3>Bullet List</h3>
    <ul class="inline-list inline-list-bulleted">
      <li>Abc</li>
      <li>Bird</li>
      <li>Dog</li>
      <li>Cat</li>
    </ul>
    <p>
      <code class="language-markup">{{~#raw~}}
<ul class="inline-list inline-list-bulleted">
  <li>Abc</li>
  <li>Bird</li>
  <li>Dog</li>
  <li>Cat</li>
</ul>
{{~/raw~}}</code>
    </p>

    <h3>Definition Row List</h3>
    <blockquote class="blockquote blockquote-info">
      <h2 class="title">Protip!</h2>
      <p>You can add/remove the striped class to toggle row highlighting.</p>
    </blockquote>
    <dl class="definition-row-list striped">
      <div class="row">
        <dt>Key A</dt>
        <dd>Value 1</dd>
      </div>
      <div class="row">
        <dt>Key B</dt>
        <dd>Value 2</dd>
      </div>
      <div class="row">
        <dt>Key C</dt>
        <dd>Value 3</dd>
      </div>
      <div class="row">
        <dt>Key D</dt>
        <dd>Value 4</dd>
      </div>
      <div class="row">
        <dt>Key E</dt>
        <dd>Value 5</dd>
      </div>
    </dl>

<code class="language-markup">{{~#raw~}}
<dl class="definition-row-list striped">
  <div class="row">
    <dt>Key A</dt>
    <dd>Value 1</dd>
  </div>
  <div class="row">
    <dt>Key B</dt>
    <dd>Value 2</dd>
  </div>
  <div class="row">
    <dt>Key C</dt>
    <dd>Value 3</dd>
  </div>
  <div class="row">
    <dt>Key D</dt>
    <dd>Value 4</dd>
  </div>
  <div class="row">
    <dt>Key E</dt>
    <dd>Value 5</dd>
  </div>
</dl>
{{~/raw~}}</code>
  </div>
</section>