<section class="page-section" id="section-menu-tabs">
  <div class="container">
    <h2 class="component-title">Menu Tabs</h2>
    <ul class="menu-tabs">
      <li class="menu-tab menu-tab-catering"><a href="#section-catering" data-toggle="tab">Catering Menu</a></li>
      <li class="menu-tab menu-tab-individual"><a href="#section-individual" data-toggle="tab">Individual Menu</a></li>
    </ul>
    <div class="menu-tabs-content">
      <section id="section-catering">
        <h1>Catering Menu</h1>
      </section>
      <section id="section-individual">
        <h1>Individual Menu</h1>
      </section>
    </div>
  </div>
</section>

{{!-- Requires bootstrap tab plugin --}}
