<section class="page-section" id="section-orders-table-list">
  <div class="container">
    <h2 class="component-title">Orders Table List</h2>
    <p>This component builds on table list</p>

    <div class="table-list2">
      <div class="list-header">
        <label class="component item-selector">
          <input type="checkbox">
        </label>

        <div class="component list-info">
          <div class="num-results">133 Orders</div>
          <div class="sort-info">Sorted by Submitted Date Desc</div>
        </div>

        <ul class="component list-nav nav">
          <li class="popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Restaurant
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              Test
            </div>
          </li>
          <li class="popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Region
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              Test
            </div>
          </li>
          <li class="popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Type
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              Test
            </div>
          </li>
          <li class="popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Status
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              Test
            </div>
          </li>
          <li class="popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Sort
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              Test
            </div>
          </li>
        </ul>
      </div>

      <div class="list-items">
        <div class="list-item" data-type="courier" data-status="pending">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Pending</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="courier" data-status="accepted">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Accepted</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="delivery" data-status="submitted">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Submitted</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="delivery" data-status="pending">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Pending</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="pickup" data-status="pending">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Pending</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="courier" data-status="canceled">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Canceled</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
        <div class="list-item" data-type="delivery" data-status="denied">
          <label class="component item-selector">
            <input type="checkbox">
          </label>
          <div class="component order-type">
            <div class="type-icon"></div>
          </div>
          <div class="component main">
            <a class="item-title" href="#">#3562 - Bamboo Bistro</a>
            <div class="user-details">
              <a href="#">Tony Tornado</a> - Awesome, Inc.
            </div>
            <dl class="item-details dl-horizontal-auto">
              <div>
                <dt>Submitted:</dt>
                <dd>02/04/15 - 1:47 pm</dd>
              </div>
              <div>
                <dt>Total:</dt>
                <dd>$576.28</dd>
              </div>
            </dl>
            <div class="more-actions-and-info small top">
              <div class="info order-type">Delivery</div>
              <div class="info order-status">Denied</div>
            </div>
            <div class="more-actions-and-info bottom">
              <button class="action btn-default" data-action="cancel">Cancel</button>
              <button class="action btn-default" data-action="copy">Order Again?</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#extend "scripts"}}
<script>
  require(['jquery', 'table-list'], function( $ ){
    $(function(){
      $('#section-orders-table-list .table-list2').gb_tablelist();
    });
  });
</script>
{{/extend}}