<section class="page-section" id="section-popovers">
  <div class="container">
    <h2 class="component-title">Popovers</h2>
    <p>Use popovers for contextual alerts or extra info.</p>
    <p>The popover is composed of a "trigger" element such as a
      button or link and a "modal" element that toggles visibility.
    </p>
    <blockquote class="blockquote blockquote-info">
      <h2 class="title">Note</h2>
      <p>The modal element is `position: absolute` so it will be positioned
      relative to it's parent.</p>
      <p>Ensure that the trigger and modal elements are under
      under a `.popover-wrapper` element.</p>
      <code class="language-markup">{{#raw}}<div class="popover-wrapper">
  <a href="#" data-role="popover" data-target="example-popover">Open popover</a>
  <div class="popover-body"> ... </div>
</div>{{/raw}}</code>
    </blockquote>

    <p>Demo</p>
    <span class="popover-wrapper">
      <a href="#" class="btn btn-primary" data-role="popover" data-target="example-popover">Open popover</a>
      <div class="popover-modal example-popover">
        <div class="popover-header">
          Header<a href="#" class="popover-close-btn gb-icon-x-mark pull-right" data-toggle-role="close"></a>
        </div>
        <div class="popover-body">
          <div
            class="popover-filter"
            data-role="filter-list"
            data-input="> input"
            data-target="~ .popover-item"
            data-fields="id,name"
            >
            <input type="text" placeholder="Filter...">
          </div>
          <div class="popover-item" data-id="1" data-name="Foo">#1 - Foo</div>
          <div class="popover-item" data-id="2" data-name="Bar">#2 - Bar</div>
          <div class="popover-item" data-id="3" data-name="Baz">#3 - Baz</div>
          <div class="popover-item" data-id="4" data-name="Bil">#4 - Bil</div>
          <div class="popover-item" data-id="5" data-name="Fil">#5 - Fil</div>
          <div class="popover-item" data-id="6" data-name="Nil">#6 - Nil</div>
          <div class="popover-item" data-id="7" data-name="Foo">#7 - Foo</div>
          <div class="popover-item" data-id="8" data-name="Bar">#8 - Bar</div>
          <div class="popover-item" data-id="9" data-name="Baz">#9 - Baz</div>
          <div class="popover-item" data-id="10" data-name="Bil">#10 - Bil</div>
          <div class="popover-item" data-id="11" data-name="Fil">#11 - Fil</div>
          <div class="popover-item" data-id="12" data-name="Nil">#12 - Nil</div>
        </div>
      </div>
    </span>
    <span class="popover-wrapper right">
      <a href="#" class="btn btn-primary" data-role="popover" data-target="example-popover">Open popover right</a>
      <div class="popover-modal example-popover">
        <div class="popover-header">
          Header<a href="#" class="popover-close-btn gb-icon-x-mark pull-right" data-toggle-role="close"></a>
        </div>
        <div class="popover-body">
          <div
            class="popover-filter"
            data-role="filter-list"
            data-input="> input"
            data-target="~ .popover-item"
            data-fields="id,name"
            >
            <input type="text" placeholder="Filter...">
          </div>
          <div class="popover-item" data-id="1" data-name="Foo">#1 - Foo</div>
          <div class="popover-item" data-id="2" data-name="Bar">#2 - Bar</div>
          <div class="popover-item" data-id="3" data-name="Baz">#3 - Baz</div>
          <div class="popover-item" data-id="4" data-name="Bil">#4 - Bil</div>
          <div class="popover-item" data-id="5" data-name="Fil">#5 - Fil</div>
          <div class="popover-item" data-id="6" data-name="Nil">#6 - Nil</div>
          <div class="popover-item" data-id="7" data-name="Foo">#7 - Foo</div>
          <div class="popover-item" data-id="8" data-name="Bar">#8 - Bar</div>
          <div class="popover-item" data-id="9" data-name="Baz">#9 - Baz</div>
          <div class="popover-item" data-id="10" data-name="Bil">#10 - Bil</div>
          <div class="popover-item" data-id="11" data-name="Fil">#11 - Fil</div>
          <div class="popover-item" data-id="12" data-name="Nil">#12 - Nil</div>
        </div>
      </div>
    </span>
    <p>HTML</p>
<code class="language-markup">{{#raw}}<span class="popover-wrapper">
  <a href="#" data-role="popover" data-target="example-popover">Open popover</a>
  <div class="popover-modal example-popover">
    <div class="popover-header">
      Header<a href="#" class="popover-close-btn gb-icon-x-mark pull-right" data-toggle-role="close"></a>
    </div>
    <div class="popover-body">
      <div class="popover-item">Foo</div>
      <div class="popover-item">Bar</div>
      <div class="popover-item">Baz</div>
    </div>
  </div>
</span>{{/raw}}</code>
    <p>
      <blockquote class="blockquote blockquote-info">Use class="popover-wrapper right" to align the popover to the right edge.</blockquote>
    </p>
    <p>Javascript</p>
    <code class="language-javascript">$('[data-role="popover"]').gb_popover();</code>
  </div>
</section>
