<section class="page-section" id="section-search-tags">
  <div class="container">
    <h2 class="component-title">Search Tags</h2>
    <p>Use these tags to represent active filters on searches.</p>
    <p>Demo</p>
    <div>
      <a class="search-tag" href="#">sort: popular <span class="gb-icon-x-mark"></span></a>
      <a class="search-tag" href="#">cuisine: bbq <span class="gb-icon-x-mark"></span></a>
      <a class="search-tag" href="#">Abcdefghijklmnopqrs <span class="gb-icon-x-mark"></span></a>
    </div>
    <p>HTML</p>
<code class="language-markup">{{#raw}}
<a class="search-tag" href="#">sort: popular <span class="gb-icon-x-mark"></span></a>
<a class="search-tag" href="#">cuisine: bbq <span class="gb-icon-x-mark"></span></a>
<a class="search-tag" href="#">Abcdefghijklmnopqrs <span class="gb-icon-x-mark"></span></a>
{{/raw}}</code>
  </div>
</section>
