<section class="page-section" id="section-table-of-contents">
  <div class="container">
    <h1 class="component-title">Table of Contents</h1>
    <ul>
      <li><a href="#section-typography">Typography</a></li>
      <li><a href="#section-colors">Color Palette</a></li>
      <li><a href="#section-icons">Icons</a></li>
      <li><a href="#section-label-tags">Label Tags</a></li>
      <li><a href="#section-search-tags">Search Tags</a></li>
      <li><a href="#section-popovers">Popovers</a></li>
      <li><a href="#section-buttons">Buttons</a></li>
      <li><a href="#section-inputs">Inputs</a></li>
      <li><a href="#section-form-controls">Forms</a></li>
      <li><a href="#section-blockquote">Blockquote</a></li>
      <li><a href="#section-dollar-meter">Dollar Meter</a></li>
      <li><a href="#section-lists">Lists</a></li>
      <li><a href="#section-dropdowns">Dropdowns</a></li>
      <li><a href="#section-table-list">Table List</a></li>
      <li><a href="#section-collapsible">Collapsible</a></li>
      <li><a href="#section-button-groups">Button Groups</a></li>
      <li><a href="#section-tiles">Tile</a></li>
      <li><a href="#section-navbar">Navbar</a></li>
      <li><a href="#section-table">Table</a></li>
      <li><a href="#section-menu-tabs">Menu Tabs</a></li>
    </ul>
  </div>
</section>
