<div class="list-header">
  <label class="component item-selector">
    <input type="checkbox">
  </label>

  <div class="component list-info">
    <div class="num-results">4 Restaurants</div>
    <div class="sort-info">Sorted by Name Desc</div>
  </div>

  <ul class="component list-nav nav">
    {{> admin_restaurant_filter_region }}
    {{> admin_restaurant_filter_visible }}
    {{> admin_restaurant_filter_sort }}
  </ul>
</div>
<div class="list-items">
  <div class="list-item">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component main">
      <a class="item-title" href="#">Bamboo Bistro</a>
      <div class="item-details">#100 Austin, TX</div>
    </div>
  </div>
  <div class="list-item">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component main">
      <a class="item-title" href="#">All-Star Burger</a>
      <div class="item-details">#100 Austin, TX</div>
    </div>
  </div>
  <div class="list-item">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component main">
      <a class="item-title" href="#">Taco Deli</a>
      <div class="item-details">#100 Austin, TX</div>
    </div>
  </div>
  <div class="list-item">
    <label class="component item-selector">
      <input type="checkbox">
    </label>
    <div class="component main">
      <a class="item-title" href="#">Taj Palace</a>
      <div class="item-details">#100 Austin, TX</div>
    </div>
  </div>
</div>