<section class="page-section" id="section-table-list">
  <div class="container">
    <h2 class="component-title">Table List</h2>
    <p>This list component allows you sort by various filters and supports
      pagination</p>
    <p>LESS Import</p>
    <pre>@import "overrides/components/table-list.less";</pre>
    <p>Default</p>
    <div class="table-list">
      {{> admin_kitchen_sink_table_list_restaurants_contents}}
    </div>

    <p>Add class `striped`</p>
    <div class="table-list striped">
      {{> admin_kitchen_sink_table_list_restaurants_contents}}
    </div>

    <p>Add class `dark`</p>
    <div class="table-list striped dark">
      {{> admin_kitchen_sink_table_list_restaurants_contents}}
    </div>
  </div>
</section>

{{#extend "scripts"}}
<script>
  require(['jquery', 'table-list'], function( $ ){
    $(function(){
      $('#section-table-list .table-list').gb_tablelist();
    });
  });
</script>
{{/extend}}