<section class="page-section" id="section-table">
  <div class="container">
    <h2 class="component-title">Table</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Pokèmon</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>25</td>
          <td>Pikachu</td>
          <td>Electric</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Charmander</td>
          <td>Fire</td>
        </tr>
      </tbody>
    </table>
    <p>
      <code class="language-markup">
      {{~#raw~}}
<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Pokèmon</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>25</td>
      <td>Pikachu</td>
      <td>Electric</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Charmander</td>
      <td>Fire</td>
    </tr>
  </tbody>
</table>
      {{~/raw~}}
      </code>
    </p>
  </div>
</section>
