<section class="page-section" id="section-table-list">
  <div class="container">
    <h2 class="component-title">Table List</h2>
    <p>This list component allows you sort by various filters and supports
      pagination</p>
    <p>LESS Import</p>
    <pre>@import "overrides/components/table-list.less";</pre>
    <p>Demo</p>
    <div class="table-list2 orders-table-list striped">
      <div class="list-header">
        <label class="component item-selector">
          <input type="checkbox">
        </label>

        <div class="component list-info">
          <div class="num-results">100 Restaurants</div>
          <div class="sort-info">Sorted by Name Desc</div>
        </div>

        <ul class="component list-nav nav">
          <li class="not-selected-only popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Region
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              <div class="popover-header">Regions</div>
              <div class="popover-filter"
                data-role="filter-list"
                data-input="> input"
                data-target="+ .popover-body > .popover-item"
                data-fields="name">

                <input type="text" placeholder="Filter...">
              </div>
              <div class="popover-body">
                {{#each regions}}
                <a href="#" class="popover-item" data-name="{{this.name}}">
                  <span class="popover-item-icon">
                    {{!-- <span class="gb-icon-checkmark va-middle"></span> --}}
                  </span>
                  <span class="popover-item-label">{{this.name}}</span>
                </a>
                {{/each}}
              </div>
            </div>
          </li>
          <li class="not-selected-only popover-wrapper gb-dropdown right">
            <a data-role="popover" data-target="dropdown-popover" href="#">
              Sort
              <i class="gb-icon-caret-down"></i>
            </a>
            <div class="popover-modal dropdown-popover">
              <div class="popover-body">
                <a href="#" class="popover-item">
                  <span class="popover-item-icon"></span>
                  <span class="popover-item-label">Alphabetical</span>
                </a>
                <a href="#" class="popover-item">
                  <span class="popover-item-icon"></span>
                  <span class="popover-item-label">Popularity</span>
                </a>
                <a href="#" class="popover-item">
                  <span class="popover-item-icon"></span>
                  <span class="popover-item-label">Delivery Fee</span>
                </a>
                <a href="#" class="popover-item">
                  <span class="popover-item-icon"></span>
                  <span class="popover-item-label">Order Minimum</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-list-header">
        <div class="table-list-header-title">Restaurants</div>
        <div class="table-list-header-actions">
          {{> admin_restaurant_filter_region }}
          {{> admin_restaurant_filter_visible }}
          {{> admin_restaurant_filter_sort }}
        </div>
    </div>
    <ul class="table-list table-list-bordered">
      <li class="table-list-item">All Star Burger</li>
      <li class="table-list-item">Taco Deli</li>
      <li class="table-list-item">Taj Palace</li>
    </ul>
    <p>Markup</p>
<code class="language-markup">{{#raw}}<div class="table-list-header">
  <div class="table-list-header-title">Restaurants</div>
  <div class="table-list-header-actions">
    <!-- filters here -->
  </div>
</div>
<ul class="table-list table-list-bordered">
  <li class="table-list-item">All Star Burger</li>
  <li class="table-list-item">Taco Deli</li>
  <li class="table-list-item">Taj Palace</li>
</ul>
{{/raw}}</code>
  </div>
</section>