<section class="page-section" id="section-typography">
  <div class="container">
    <h2 class="component-title">Typography</h2>
    <div>
      <div style="font-weight:300">Quick zephyrs blow, vexing daft Jim (light)</div>
      <div style="font-weight:300; font-style: italic">Quick zephyrs blow, vexing daft Jim (light italic)</div>
      <div style="font-weight:400">Quick zephyrs blow, vexing daft Jim (normal)</div>
      <div style="font-weight:400; font-style: italic">Quick zephyrs blow, vexing daft Jim (normal italic)</div>
      <div style="font-weight:700">Quick zephyrs blow, vexing daft Jim (bold)</div>
      <div style="font-weight:700; font-style: italic">Quick zephyrs blow, vexing daft Jim (bold italic)</div>
    </div>
  </div>
</section>