/////////////////////
// Manifest Header //
/////////////////////

// Things in here are more or less hardcoded to make it easier to print

#components { #order-manifest { #header {
  .init(

  ){
    .manifest-header {}

    .manifest-header-section {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    .manifest-header-section {
      border-bottom: 2px solid #909090;
    }

    .manifest-header-section:last-child {
      border-bottom: 0;
    }

    .manifest-header-column {
      display: inline-block;
      min-width: 200px;
    }

    .manifest-header-column-right {
      text-align: right;
    }

    .manifest-header-column-text {
      font-weight: 900;
      font-size: 3em;
      line-height: 1em;
      text-transform: uppercase;
    }

    .manifest-header-column-label {
      text-transform: uppercase;
      color: #909090;
      font-weight: 900;
    }

    .manifest-header-column-value {
      font-weight: 900;
      font-size: 2em;
      line-height: 1em;
    }

    .manifest-header-column-value-small {
      font-weight: bold;
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
}}}
