/////////////////////
// Manifest Header //
/////////////////////

// Things in here are more or less hardcoded to make it easier to print

#components { #order-manifest { #header {
  .init(

  ){
    .manifest-header {
      margin-bottom: 20px;
    }

    .manifest-header-section {
      display: -webkit-box;
      -webkit-box-pack: justify;
      border-bottom: 1pt solid #9c9c9c;
      padding: 10px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }

    .manifest-header-column {
      min-width: 120pt;
    }

    .manifest-header-column-right {
      text-align: right;
    }

    .manifest-header-column-text {
      font-family: 'Avenir Black';
      font-size: 24pt;
      line-height: 1em;
      text-transform: uppercase;
    }

    .manifest-header-column-label {
      text-transform: uppercase;
      color: #9c9c9c;
      font-family: 'Avenir Black';
      font-size: 8pt;
    }

    .manifest-header-column-value {
      font-family: 'Avenir Black';
      font-size: 16pt;
      line-height: 1em;
    }

    .manifest-header-column-value-small {
      font-weight: 900;
      font-size: 11pt;
      line-height: 1.25em;
    }
  }
}}}
