//////////////////////////////////////
// Manifest Section Definition List //
//////////////////////////////////////



#components { #order-manifest { #section-dl {
  .init(
    @dt-width:      180px
  , @dt-dd-gutter:  20px
  ){
    .manifest-section-dl {
      display: table;
      width: 100%;
      margin: 20px 0;
      font-size: 16px;
      line-height: 19px;

      dt {
        float: left;
        clear: left;
        width: @dt-width;
        text-transform: uppercase;
        font-weight: 900;
        padding-left: 20px;
      }

      dd {
        float: left;
        width: 100%;
        padding-left: @dt-width + @dt-dd-gutter;
        margin-left: -@dt-width;
        line-height: 1.5em;
      }
    }
  }
}}}
