////////////////////
// Manifest Table //
////////////////////

#components { #order-manifest { #table {
  .init(

  ){
    .manifest-table {
      #box > .flex(1);
      width: 100%;
      border: solid #909090 1px;
      border-top: none;
      border-collapse: seperate;
      font-size: 9pt;

      th {
        background: #909090;
        color: #fff;
        text-transform: uppercase;
        font-size: 8pt;
        padding-top: 4px;
        padding-bottom: 0;
        padding-left: 3px;
        padding-right: 3px;
        line-height: 1.5em;
      }

      td {
        border-left: solid #909090 1px;
        padding: 5px;
      }

      td:first-child {
        border-left: none;
      }

      tbody > tr:nth-child(2n) {
        background: @manifest-gray-light;
      }

      tbody > tr.filler td {
        background: #fff;
      }

      tbody {
      }

      td.checkbox   { width: 40px; }
      td.quantity   { width: 60px; }
      td.item       { width: 40%; }
      td.recipient  { width: 150px; }

      .item {
        text-transform: uppercase;
      }

      .item-name {
        font-family: 'Avenir Black';
      }

      .options {
        text-transform: none;
      }

      .option-group-title {
        margin-top: 4px;
      }

      .option-group {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 20px;
        list-style: none;
      }

      .option-group li {

      }
    }
  }
}}}
