/////////
// Din //
/////////

@font-face {
  font-family: 'Din Condensed';
  src: url('../font/DINEngschriftStd.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Din';
  src: url('../font/DINMittelschriftStd.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}