<select name="{{options.name}}" id="{{options.id}}">
  <option value="pending">Pending</option>
  <option value="submitted">Submitted</option>
  <option value="accepted">Accepted</option>
  <option value="denied">Denied</option>
</select>