<!DOCTYPE html>
<html>
  <head>
    {{> admin_title}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Goodybag Catering CSS Stuff -->
    <link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/css/admin.css' pkg)}}">

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{cdn "/css/ie-lte-9.css"}}">
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1> Menu tab affix example</h1>
      <a href="/admin/kitchen-sink">← Back to Kitchen Sink</a>
      <ul class="menu-tabs">
        <li class="menu-tab"><a href="#section-catering">Catering Menu</a></li>
        <li class="menu-tab"><a href="#section-individual">Individual Menu</a></li>
        <li class="menu-tab"><a href="#section-extras">Extras</a></li>
      </ul>

      <section id="section-popular">
        <h2>Popular Items</h2>
        {{#repeat 3}}
        <p style="background-color: #247ba0; height: 100px"></p>
        {{/repeat}}
      </section>

      <section id="section-catering">
        <h2>Catering Menu</h2>
        {{#repeat 8}}
        <p style="background-color: #70c1b3; height: 100px"></p>
        {{/repeat}}
      </section>

      <section id="section-individual">
        <h2>Individual Menu</h2>
        {{#repeat 8}}
        <p style="background-color: #b2dbbf; height: 100px"></p>
        {{/repeat}}
      </section>

      <section id="section-extras">
        <h2>Extras</h2>
        {{#repeat 8}}
        <p style="background-color: #f3ffbd; height: 100px"></p>
        {{/repeat}}
      </section>
    </div>

    {{#unless config.isDev}}
    <script src="{{cdn (format 'dist/<%= version %>/admin.js' pkg)}}"></script>
    {{else}}
    <script src="/components/requirejs/require.js"></script>
    <script src="/js/require-config.js"></script>
    {{/unless}}

    {{> config}}

    <script>
      require(['jquery-loaded'], function($){
        var $menuTabs = $('.menu-tabs');
        $menuTabs.affix({
          offset: {
            top: function() {
              return (this.top = $menuTabs.offset().top);
            }
          }
        });



        // cache elements
        var lastId;
        var menuTabsHeight = $('.menu-tabs').outerHeight();
        var $tabs = $('.menu-tabs a');
        var $tabTargets = $tabs.map(function() {
          var target = $(this).attr('href');
          var item = $(target);
          if ( item.length ) return item;
        });

        // click tab
        $menuTabs.find('a').click(function(e) {
          e.preventDefault();
          var href = $(this).attr('href');
          var top = $(href).offset().top;

          $('html, body').stop().animate({
            scrollTop: top-menuTabsHeight+1
          }, 300);
        });

        // scrollspy
        $(window).scroll(function checkTab() {
          var fromTop = $(this).scrollTop() + menuTabsHeight;

          var current = $tabTargets.map(function() {
            if ($(this).offset().top < fromTop)
              return this;
          });

          current = current[current.length-1];
          var id = current && current.length ? current[0].id : '';

          if (lastId !== id) {
            lastId = id;

            $('.menu-tabs li')
            .removeClass('active')
            .end()
            .find('a')
            .filter('[href="#' + id + '"]').parent().addClass('active');
          }
        });
      });
    </script>
    <script src="/components/prism/prism.js"></script>
  </body>
</html>
