<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="/css/order-manifest.css">
    {{{block "css"}}}

    <script src="/components/jquery/jquery.js"></script>

    {{!-- Cannot find out why file is forbidden in s3 --}}
    <script src="/js/pdf/utils.js"></script>
    {{{block "scripts"}}}
  </head>
  <body>
    {{{block "body"}}}
  </body>
</html>