{{#extend "page"}}page-restaurant-signup{{/extend}}

{{#extend "body"}}
<div id="restaurant-signup" class="restaurant-join">
  <nav>
    <ol class="inline-list tabs">
      <li class="{{#if (or (not signup.step) (eq signup.step '1'))}}active{{/if}}"><span class="number">1</span> Basic Info</li>
      <li class="{{#eq signup.step '2'}}active{{/eq}}"><span class="number">2</span> Restaurant Info</li>
      <li class="{{#eq signup.step '3'}}active{{/eq}}"><span class="number">3</span> Delivery + Pickup</li>
      <li class="{{#eq signup.step '4'}}active{{/eq}}"><span class="number">4</span> Payments</li>
    </ol>
  </nav>
  <form class="form-vertical form-restaurant-signup">
    <div class="form-step">
    {{! {{#if (or (not signup.step) (eq signup.step '1')) }}
      {{> restaurant_signup_basic_info}}
    {{! {{/if}}

    {{! {{#if (eq signup.step '2') }}
      {{> restaurant_signup_restaurant_info}}
      {{> restaurant_signup_order_contact_info}}
    {{! {{/if}}

    {{! {{#if (eq signup.step '3') }}
      {{> restaurant_signup_delivery_info}}
      {{> restaurant_signup_pickup_info}}
      {{> restaurant_signup_hours_of_operation}}
    {{! {{/if}}

    {{! {{#if (eq signup.step '4') }}
      {{> restaurant_signup_billing_address}}
      {{> restaurant_signup_direct_deposit_info}}
      {{> restaurant_signup_fee_schedule}}
      {{> restaurant_signup_terms_of_service}}
    {{! {{/if}}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-gray btn-continue">Save and Continue &gt;</button>
    </div>
  </form>

</div>
{{/extend}}

{{#extend "scripts"}}
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">filepicker.setKey('{{config.filepicker.key}}');</script>
<script>
require([
  'app/pages/restaurant-signup'
, 'app/models/restaurant'
],
function ( page, Restaurant ){
  page.init({
    step: {{or signup.step '1'}}
  , model: new Restaurant({{{json restaurant}}})
  });
});
</script>
{{/extend}}