{{#extend "page"}}page-analytics page-upcoming{{/extend}}

{{#extend "html-title"}}Upcoming{{/extend}}

{{#extend "body"}}

<div class="container" id="main-container">
  <div class="page-header">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        Upcoming Orders
      </li>
    </ul>
  </div>
</div>

<div class="container upcoming-orders">
  <div class="form-group">
    <label>Start Date</label>
    <input class="datepicker" name="startDate">
  </div>
  <div class="form-group">
    <label>End Date</label>
    <input class="datepicker" name="endDate">
  </div>
  <div class="form-group">
    <a href="{{config.baseUrl}}/admin/upcoming">clear</a>
  </div>

  <table class="table table-upcoming">
    <thead>
      <tr>
        <th><a href="#" class="btn-sort-by" data-sort="id">ID</a></th>
        <th><a href="#" class="btn-sort-by" data-sort="type">Type</a></th>
        <th class="delivery-expected"><a href="#" class="btn-sort-by active" data-sort="datetime">Delivery (Expected)</a></th>
        <th class="delivery-actual"><a href="#" class="btn-sort-by" data-sort="datetime">Delivery (Actual)</a></th>
        <th>User</th>
        <th class="order-phone">Phone</th>
        <th><a href="#" class="btn-sort-by" data-sort="restaurant">Restaurant</a></th>
        <th><a href="#" class="btn-sort-by" data-sort="location">Location</a></th>
        <th><a href="#" class="btn-sort-by" data-sort="region">Region</a></th>
        <th>Total</th>
        <th><a href="#" class="btn-sort-by" data-sort="plan_id">Contracted</a></th>
        <th>Courier Tracking</th>
      </tr>
    </thead>
    <tbody>
      {{> upcoming_rows }}
    </tbody>
  </table>
</div>
{{/extend}}


{{#extend "scripts"}}
<script>
require([
  'app/views/admin/upcoming-orders'
, 'app/collections/orders'
],
function(UpcomingOrdersView, Orders){
  var view = new UpcomingOrdersView({
    el: '.upcoming-orders'
  , endpoint: '/api/upcoming'
  , orders: new Orders({{{json orders}}}, { comparator: 'datetime', ignoreOrderTypeInit: true })
  });
});
</script>
{{/extend}}
