{{#extend "css"}}
<link rel="stylesheet" href="/css/shared-link.css">
{{/extend}}

<div class="container">
  <div class="shared-link-page">
    <h1>Order link has expired!</h1>
    <img class="img-responsive img-rounded" src="/img/chill-sloth.jpg">
    This order is long overdue! Please contact your office administrator for assistance with this order.
  </div>
</div>