{{#extend "css"}}
<link rel="stylesheet" href="/css/shared-link.css">
{{/extend}}

<div class="container">
  <div class="container">
    <div class="shared-link-page">
      <h1>Order already submitted</h1>
      <img class="img-responsive img-rounded" src="/img/alpaca.jpg">
      Looks like this ship has already sailed.. don't worry, if you need to make last minute order changes, contact your office administrator.
    </div>
  </div>
</div>