{{#extend "page"}}lunchroom-bv{{/extend}}

{{#extend "body"}}
<section class="spotlight-items">
  <div class="spotlight-item">
    <h2 class='item-title'>Taco Box</h2>
    <p class="item-description">This package includes your choice of two of any of our tasty Wood Fired Tacos, a side of Charro Beans, Chips and our delicious Warm Salsa.</p>
    <div class="item-restaurant">From <a href="#">Dos Batos</a></div>
    <img class="item-img" src="/img/taco-box.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
  <div class="spotlight-item">
    <h2 class='item-title'>Full Woodfired Salad</h2>
    <p class="item-description">Delicious greens with woodfired fillings. Choose two additional items to add to your salad at no extra charge.</p>
    <div class="item-restaurant">From <a href="#">Dos Batos</a></div>
    <img class="item-img" src="/img/batos-salad.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
  <div class="spotlight-item">
    <h2 class='item-title'>Dessert Cupcake</h2>
    <p class="item-description">Hey Cupcake original full-sized cupcakes. With hits including Streetberry, Double Dose, Michael Jackson, and Vanilla Dream.</p>
    <div class="item-restaurant">From <a href="#">Hey Cupcake</a></div>
    <img class="item-img" src="/img/cupcake.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
</section>
<section class="spotlight-items">
  <div class="spotlight-item">
    <h2 class='item-title'>Taco Box</h2>
    <p class="item-description">This package includes your choice of two of any of our tasty Wood Fired Tacos, a side of Charro Beans, Chips and our delicious Warm Salsa.</p>
    <div class="item-restaurant">From <a href="#">Dos Batos</a></div>
    <img class="item-img" src="/img/taco-box.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
  <div class="spotlight-item">
    <h2 class='item-title'>Full Woodfired Salad</h2>
    <p class="item-description">Delicious greens with woodfired fillings. Choose two additional items to add to your salad at no extra charge.</p>
    <div class="item-restaurant">From <a href="#">Dos Batos</a></div>
    <img class="item-img" src="/img/batos-salad.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
  <div class="spotlight-item">
    <h2 class='item-title'>Dessert Cupcake</h2>
    <p class="item-description">Hey Cupcake original full-sized cupcakes. With hits including Streetberry, Double Dose, Michael Jackson, and Vanilla Dream.</p>
    <div class="item-restaurant">From <a href="#">Hey Cupcake</a></div>
    <img class="item-img" src="/img/cupcake.png" alt="">
    <div class="item-actions">
      <button class="btn btn-default">See Full Menu</button>
      <button class="btn btn-primary">Add to Lunch</button>
    </div>
  </div>
</section>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['jquery', 'navbar'], function( $ ){
    $('.navbar').navbar({ toggleText: false });
  });
</script>
{{/extend}}