<div class="medium-container restaurant-already-selected">
  <div class="col-6">
    <h1 class="page-title">You've already started your order</h1>
    <p>Once you've added items to your order, you cannot change restaurants. You can <a href="/orders/create">create a new order</a>, though. <br><br>Alternatively, you can <a href="/orders/{{order.id}}/add-items">Keep editing this order</a>.</p>
  </div>
  <div class="col-3">
    <div class="cupcake-alert"></div>
  </div>
</div>
