{{#extend "page"}}page-analytics{{/extend}}

{{#extend "html-title"}}Analytics{{/extend}}

{{#extend "body"}}

<div class="container" id="main-container">
  <div class="page-header">
    <ul class="breadcrumbs main-breadcrumbs">
      <li>
        <a href="/admin">Admin Panel</a>
      </li>
      <li>
        Analytics
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Monthly order volume</h2>
      <canvas id="chart-volume" style=""></canvas>
    </div>
    <div class="col-6">
      <h2>Monthly guests fed</h2>
      <canvas id="chart-guests" style=""></canvas>
    </div>
  </div>
  <ul>
    <li>
      <a href="/admin/analytics/demand">Demand Metrics (All regions)</a>
    </li>
    <ul>
      {{#each regions}}
      <li><a href="/admin/analytics/demand?q=region:{{lowercase name}}">{{name}}</a></li>
      {{/each}}
    </ul>
    <li><a href="/admin/analytics/retention">Organization Retention</a></li>
    <li><a href="/admin/analytics/monthly-new">Monthly New</a></li>
  </ul>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>

require(['jquery-loaded', '/components/Chart.js/Chart.js', 'handlebars', 'moment', 'lodash'], function($, Chart, Hbs, moment, _){
  $('[data-role="popover"]').gb_popover();

  // Format data
  var stats = {{{json stats}}};

  var volumes = stats.map(function(stat) {
    return Hbs.helpers.dollars(stat.volume);
  });

  var labels = stats.map(function(stat) {
    return moment(stat.month + '-' + stat.year, 'MM-YYYY').format('MMM YY');
  });

  var guests = stats.map(function(stat) {
    return stat.guests;
  });

  var volumeCtx = document.getElementById('chart-volume');
  var guestsCtx = document.getElementById('chart-guests');

  new Chart.Line(volumeCtx, {
    data: {
      labels: labels,
      datasets: [{
        label: 'Order Volume',
        data: volumes
      }]
    },

    options: {
      responsive: true,
      hoverMode: 'single'
    }
  });

  new Chart.Line(guestsCtx, {
    data: {
      labels: labels,
      datasets: [{
        label: 'Guests fed',
        data: guests
      }]
    },

    options: {
      responsive: true,
      hoverMode: 'single'
    }
  });
});
</script>
{{/extend}}
