<div class="alert alert-danger alert-bad-zip row{{#unless order.restaurant.is_bad_zip}} hide{{/unless}}" data-error="is_bad_zip">
  <div class="col-sm-8 alert-left">
    <h3 class="alert-header">Invalid Delivery Zip :(</h3>
    <p>This order can only be delivered to the zip codes listed</p>
  </div>
  <div class="col-sm-4 alert-right">
    <ul class="list-delivery-zips">
    {{#each order.restaurant.delivery_zip_groups}}
      {{#each this.zips}}
        <li class="delivery-zip">{{this}}</li>
      {{/each}}
    {{/each}}
    </ul>
  </div>
</div>
