<div class="col-sm-8 alert-left">
  <h3 class="alert-header">Restaurant Unable to Deliver at Your Delivery Time :(</h3>
  <p>Please choose a different delivery time.</p>
</div>
<div class="col-sm-4 alert-right">
  {{> delivery_times order.restaurant }}
</div>
