<div class="col-sm-8 alert-left">
  <h3 class="alert-header">Invalid Delivery Time :(</h3>
  <p>This order cannot be delivered for that date and time. Please ensure that your delivery time is within the restaurants schedule.</p>
</div>
<div class="col-sm-4 alert-right">
  {{> delivery_times order.restaurant }}
</div>
