<div>
  <table class="table" id="amenities-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Scale By</th>
      <th>Enabled</th>
      <th>Actions</th>
    </tr>
  </table>
  <p class="actions">
    <button class="btn btn-primary btn-add-amenity">Add new amenity</button>
  </p>
</div>
