<div class="panel">
  {{> order_summary hideEdit=true}}

  <div class="panel-footer with-items{{#unless order.orderItems.length}} hide{{/unless}}">
    <div class="totals">
    {{> totals}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-default btn-edit-order pull-right" href="/orders/{{order.id}}/add-items">Edit Order</a>
      </div>
    </div>
  </div>
</div>
