<div id="copy-order-error-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Copy Failed</h4>
      </div>
      <div class="modal-body">
        <p>We're sorry, something went wrong copying this order, please try again.</p>
        <p>If the copy still fails, please contact support so we can get this fixed.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-success btn-retry">Retry</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
