<div class="dropdown-popover datetime-popover">
  <ol class="inline-list datetime-days-list">
    <li data-day="0">Sun</li>
    <li data-day="1">Mon</li>
    <li data-day="2">Tues</li>
    <li data-day="3">Wed</li>
    <li data-day="4">Thu</li>
    <li data-day="5">Fri</li>
    <li data-day="6">Sat</li>
  </ol>
  <span>Select all that apply</span>
  <label>
    <div class="form-group">
      <input type="checkbox">
      Apply to all days
    </div>
  </label>
  <button class="btn btn-gray add-days">Add</button>
</div>
