<div class="row delivery-hours">
  <div class="col">
    <div class="form-group">
      <span class="popover-wrapper gb-dropdown">
        <button class="btn btn-white btn-dropdown" data-role="popover" data-target="datetime-popover">
          <span class="dropdown-text">Choose a day</span>
          <i class="gb-icon-caret-down"></i>
        </button>
        {{> datetime_popover}}
      </span>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control delivery-hours-start" name="time" value="" />
    </div>
  </div>
  <div class="col">
    <span class="spacer"> - </span>
  </div>
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control delivery-hours-end" name="time" value="" />
    </div>
  </div>
</div>
