<div class="form-group col-lg-5">
  <input type="text" class="form-control" value="{{this.[0]}}">
</div>
<div class="col-lg-2 separator">&mdash;</div>
<div class="form-group col-lg-5">
  <input type="text" class="form-control" value="{{this.[1]}}">
</div>
