{{#each enums.meal_types}}
<div class="checkbox">
  <label>
    <input type="checkbox" value="{{name}}" {{#contains ../restaurant.meal_types name}}checked="checked"{{/contains}}> {{name}}
  </label>
</div>
{{/each}}
