{{! Current context should be string array }}
<div class="checkbox">
  <label>
    <input type="checkbox" value="vegetarian" {{#contains this "vegetarian"}}checked="checked"{{/contains}}> Vegetarian
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="vegan" {{#contains this "vegan"}}checked="checked"{{/contains}}> Vegan
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="glutenFree" {{#contains this "glutenFree"}}checked="checked"{{/contains}}> Gluten Free
  </label>
</div>
