<div class="col-lg-4">
  <div class="option-group option-group-new" data-id="{{this.id}}">
    <input
      class="options-set-name option-group-heading"
      value="{{this.name}}"
      placeholder="Enter Option Set Name">

    <div class="option-group-body">
      <table class="table table-bordered item-options-table">
        <thead>
          <tr>
            <td colspan="2" class="add-wrapper">
              <button class="btn btn-default btn-new-option btn-block">
                <i class="icon-plus"></i>
                Add New Option
              </button>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody class="options-set-options">
        {{#each this.options}}
          {{>edit_options_set_option}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>