<li class="list-group-item">
  <a class="edit-restaurants-link" href="/admin/restaurants/{{id}}">{{name}}</a>
  <a class="edit-restaurants-btn" href="/admin/restaurants/{{id}}/sort">Sort Menu</a>
  <a class="edit-restaurants-btn" href="/admin/restaurants/{{id}}/copy">Copy</a>
</li>
