<div class="edit-item-options-wrapper indent">
  <h3 class="edit-item-options-title">Edit Options</h3>
  <div class="actions">
    <button class="btn btn-default btn-cancel">Cancel</button>
    <button class="btn btn-primary btn-new-group">New Option Group</button>
    <button class="btn btn-save">Save</button>
  </div>
  <div class="option-groups row">
    {{#each model.options_sets}}
      {{>edit_options_set}}
    {{/each}}
  </div>
</div>
