<div class="col-time">
  <input type="text" class="time open-time"
    {{#if this}} value="{{this.[0]}}"{{/if}}>
</div>
<div class="col-separator">-</div>
<div class="col-time">
  <input type="text" class="time close-time"
    {{#if this}} value="{{this.[1]}}"{{/if}}>
</div>
<div class="col-checkbox">
  <input type="checkbox" class="hours-checkbox"
    {{#ifAllDay this}} checked="checked"{{/ifAllDay}}> 24 Hours
</div>
<div class="col-checkbox">
  <input type="checkbox" class="time hours-checkbox"
    {{#unless this}} checked="checked"{{/unless}}> Closed
</div>
