<div class="row removable">
  <div class="form-group col-lg-4">
    <label class="control-label">Email Address</label>
    <input type="text" class="form-control restaurant-emails" placeholder="name@example.com" value="{{#if this}}{{this}}{{/if}}">
  </div>
  <div class="form-group col-lg-3">
    <div class="btn-actions">
      <a href="#">
        <i class="remove-input icon-remove-circle icon-2x" data-title="Remove email address" ></i>
      </a>
    </div>
  </div>
</div>
