<div class="row removable">
  <div class="form-group col-lg-4">
    <label class="control-label">Phone Number</label>
    <input type="text" class="form-control restaurant-voice-phones" placeholder="(512) 555-1234" value="{{#if this}}{{phoneNumber this}}{{/if}}">
  </div>
  <div class="form-group col-lg-3">
    <div class="btn-actions">
      <a href="#">
        <i class="remove-input icon-remove-circle icon-2x" data-title="Remove phone number" ></i>
      </a>
    </div>
  </div>
</div>
