<td colspan="6" class="edit-item-options-wrapper">
  <h2>Edit Options</h2>
  <button class="btn btn-default new-option-group">New Option Group</button>
  <div class="option-groups row">
    {{#each model.options_sets}}
      <div class="col-lg-6">
        {{>edit_item_options_group}}
      </div>
    {{/each}}
  </div>
</td>
