<li class="list-group-item">
  <a class="edit-restaurants-link" href="/admin/restaurants/{{id}}">{{name}}</a>
  <a class="edit-restaurants-sort" href="/admin/restaurants/{{id}}/sort">Sort Menu</a>
</li>
