<tr data-id="{{this.id}}" class="options-set-option">
  <td class="column-default">
    <label>
      <input type="checkbox" class="options-set-option-default"{{#if this.default_state}} checked{{/if}}>
    </label>
  </td>
  <td class="column-name">
    <input type="text" class="options-set-option-name form-control" placeholder="Option Name" value="{{this.name}}">
  </td>
  <td class="column-price">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="options-set-option-price form-control" placeholder="Option Price" value="{{dollars this.price}}">
    </div>
  </td>
  <td class="column-actions">
    <button class="btn-delete-option-set-option btn btn-danger btn-sm">
      <i class="icon-remove"></i>
    </button>
  </td>
</tr>