{{! Current context should be string array }}
<div class="checkbox">
  <label>
    <input type="checkbox" value="vegetarian" {{#contains this "vegetarian"}}checked="checked"{{/contains}}> Vegetarian
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="vegan" {{#contains this "vegan"}}checked="checked"{{/contains}}> Vegan
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="glutenFree" {{#contains this "glutenFree"}}checked="checked"{{/contains}}> Gluten Free
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="kosher" {{#contains this "kosher"}}checked="checked"{{/contains}}> Kosher
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="halal" {{#contains this "halal"}}checked="checked"{{/contains}}> Halal
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="dairyFree" {{#contains this "dairyFree"}}checked="checked"{{/contains}}> Dairy Free
  </label>
</div>
