<tr class="edit-options" data-id="{{model.id}}">
  <td colspan="6" class="edit-item-options-wrapper">
    <h2>Edit Options</h2>
    <div class="option-groups row">
      <div class="col-lg-6">
        <div class="option-group option-group-new">
          <h3 class="option-group-heading">Create a new <em>Option Group</em></h3>
        </div>
      </div>
    </div>
  </td>
</tr>