<div class="list-group-item">
  <div class="row">
    <div class="col-sm-9">
        <a href="/admin/restaurants/{{id}}/edit">
          <h4>{{name}}</h4>
        </a>
    </div>
    <div class="col-sm-3">
      <div class="pull right">
        <a class="btn btn-default" href="/admin/restaurants/{{id}}/edit">Edit Restaurant</a>
        <a class="btn btn-default" href="/admin/restaurants/{{id}}/sort">Sort Menu</a>
      </div>
    </div>
  </div>
</div>