<form class="category-form">
  <h2>Category</h2>
  <div class="row">
    <div class="col-details">
      <div class="row">
        <div class="col-4">
          <div class="row row-category-details">
            <div class="col-1">
              <div class="form-group">
                <label class="control-label">Order</label>
                <input type="number" value="{{order}}" class="form-control category-order">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" value="{{name}}" class="form-control category-name">
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="control-label">Description</label>
            <input type="text" value="{{description}}" class="form-control category-description">
          </div>
        </div>
      </div>
      <div class="row row-actions">
        <button class="btn btn-default category-copy">Copy</button>
        <button class="btn btn-primary category-remove">Remove</button>
        <button type="submit" class="btn btn-save category-save">Save</button>
      </div>

    </div>{{!-- end category left col --}}
    <div class="col-checkboxes">
      <div class="form-group">
        <label class="control-label">Type</label>
        <div class="row">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="categoryMenus" class="category-menus" value="group" {{#contains this.menus "group"}}checked{{/contains}}>
              Group
            </label>
          </div>
        </div>
        <div class="row">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="categoryMenus" class="category-menus" value="individual" {{#contains this.menus "individual"}}checked{{/contains}}>
              Individual
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Items</h2>
  <div class="items-list">
  {{#each items}}
    {{>edit_item_row}}
  {{/each}}
  </div>
  <button type="button" class="btn btn-primary new-item pull-right">New Item</button>
</form>