{{!-- The heart button on the restaurant list page --}}
<button class="btn btn-favorite tag-tooltip {{#if favorite}}active{{/if}}" data-icon="gb-icon-heart" data-title="Add/remove from favorites"></button>
