<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  {{#if message}}{{message}}
  {{else}}<strong>Error!</strong> Check invalid settings
  {{/if}}
</div>
