<div class="hours-listing">
  {{#each this}}
    {{>edit_hours}}
  {{else}}
    {{>edit_hours}}
  {{/each}}
</div>

<div class="row">
  <div class="btn-toolbar">
    <button type="button" class="btn btn-tertiary add-period">Add</button>
  </div>
</div>
