<strong class="col-lg-1 day">{{weekday @key}}</strong>
<div class="col-lg-11">
  <div class="hours-listing">
    {{#withNullable this.[0]}}
    <div class="row">
      {{> edit_hours}}
    </div>
    {{/withNullable}}
    {{#each this}}
    {{#if @index}}
    <div class="row">
      {{> edit_hours}}
    </div>
    {{/if}}
    {{/each}}
  </div>

  <div class="row">
    <div class="btn-toolbar col-lg-1">
      <button type="button" class="btn btn-success">Add</button>
    </div>
  </div>

</div>
