<div class="row lead-time">
  <div class="form-group col-lg-3">
    <label class="control-label">Max Guests</label>
    <input type="number" class="form-control lead-times lead-max-guests" value="{{max_guests}}">
  </div>
  <div class="form-group col-lg-3">
    <label class="control-label">Hours</label>
    <input type="number" class="form-control lead-times lead-hours" value="{{lead_time}}">
  </div>
  <div class="form-group col-lg-3">
    <div class="lead-time-actions">
      <a href="#">
        <i class="remove-lead-time icon-remove-circle icon-2x" data-title="Remove lead time restriction" ></i>
      </a>
    </div>
  </div>
</div>