<div class="row lead-time">
  <div class="col-guests">
    <div class="form-group">
      <label class="control-label">Max Guests</label>
      <input type="number" class="form-control lead-times lead-max-guests" value="{{max_guests}}">
    </div>
  </div>
  <div class="col-time">
    <div class="form-group">
      <label class="control-label">Time (hrs)</label>
      <input type="number" step="1" class="form-control lead-times lead-hours" value="{{intDivide lead_time 60}}">
    </div>
  </div>
  <div class="col-time">
    <div class="form-group">
      <label class="control-label">Minutes</label>
      <input type="number" step="15" class="form-control lead-times lead-minutes" value="{{mod lead_time 60}}">
    </div>
  </div>
  <div class="col-time">
    <div class="form-group">
      <label class="control-label">Cancel Time</label>
      <input type="number" class="form-control lead-times lead-cancel-time" value="{{intDivide cancel_time 60}}">
    </div>
  </div>
  <div class="col-remove">
    <div class="form-group">
      <div class="lead-time-actions">
        <a href="#">
          <i class="remove-lead-time icon-remove-circle icon-2x" data-title="Remove lead time restriction" ></i>
          <button class="btn btn-default remove-lead-time" data-icon="gb-icon-x-mark"></button>
        </a>
      </div>
    </div>
  </div>
</div>
