{{#extend "css"}}
<link rel="stylesheet" href="/css/login-modal.css">
{{/extend}}

<div class="modal login-modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-login">
          <h2 class="modal-title">Login</h2>
          <div>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <form class="form-sign-up">
        <h2 class="modal-title">Sign up</h2>
        <div>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->