<div class="panel menu-share-link">
  <div class="panel-body">
    <div class="panel-title">Share link</div>
    <p>Send to others so they can add items too!</p>
    <div class="form-group">
      <input class="form-control share-link" type="text" value="{{config.baseUrl}}/restaurants/{{restaurant.id}}?edit_token={{order.edit_token}}">
    </div>
    <a class="highlight-link" href="#">Highlight link</a>
    <a class="learn-more" data-title="Let 'em pick their meal!" href="#">Learn more</a>
  </div>
</div>
