{{!--
The "Share Link" panel can be in one of these states:
  * Hidden if there's no order
  * Display Share Order button if token is missing
  * Share link URL view if token is present
--}}
<div class="menu-share-link {{#unless order.id}}hide{{/unless}}">
  <div class="panel-title">Share order:</div>
  <section class="share-link-view {{#unless order.edit_token}}hide{{/unless}}">
    <p class="description">
    Send this link to others so they can add items too!</p>
    <div class="form-group">
      <input class="form-control share-link" type="text" value="{{config.baseUrl}}/restaurants/{{restaurant.id}}?edit_token={{order.edit_token}}#individual">
    </div>
    <a class="learn-more" data-toggle="popover" href="#">Learn more</a>
  </section>
</div>
