<div class="panel menu-share-link">
  <div class="panel-heading">
    <div class="panel-title">Share link</div>
  </div>
  <div class="panel-body">
    <p>Send to others so they can add items too!</p>
    <div class="form-group">
      <input type="text" class="form-control" value="{{config.baseUrl}}/restaurants/{{restaurant.id}}?edit_token={{order.edit_token}}">
    </div>
    <a href="#">Copy to clipboard</a>
  </div>
</div>
