<div class="panel menu-category-picker">
  <div class="panel-heading">
    Menu Categories
  </div>
  <div class="panel-body">
    {{#range2 1 5 }}
    <div class="menu-category-picker-col">
      <a href="#">[Group] Salads</a>
    </div>
    {{/range2}}
  </div>
</div>