<div class="panel menu-order-params">
  {{! TODO }}
  <div class="panel-body">
    <div class="panel-title">Your order is for:</div>
    <dl>
      <dt>Date:</dt>
      <dd>Tuesday 11/26/13</dd>
      <dt>Time:</dt>
      <dd>12:30 PM</dd>
      <dt>Guests:</dt>
      <dd>25</dd>
      <dt>Zip:</dt>
      <dd>78753<a class="pull-right" href="#">Change</a></dd>
    </dl>
  </div>
</div>
