<div class="tab-content">
  <div class="tab-pane active" id="menu">
    <div class="menu">
      {{> menu_picker }}
      {{> restaurant_categories }} 
    </div>
  </div>

  <div class="tab-pane" id="info">
    {{> menu_tab_info}}
  </div>

  <div class="tab-pane" id="reviews">
    {{> menu_tab_reviews}}
  </div>
</div>