<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="/img/logo.png" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default" data-icon="gb-icon-hamburger"></button>
    <ul class="nav">
      <li><a href="/join">Sign Up</a></li>
    </ul>
  </div>
</header>
