<thead>
  <tr>
    <th>Recipients</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  {{#each items}}
  <tr>
    <td>{{{list this.email.to}}}</td>
    <td>{{this.name}}</td>
    <td class="actions">
      <a href="{{this.email.url}}" target="_blank" class="btn btn-small btn-default">Preview</a>
      <button class="btn btn-small btn-primary">Send</button>
    </td>
  </tr>
  {{/each}}
</tbody>