{{#gt order.orderItems.length 0}}
<div class="list-group-item list-group-item-order-table">
  <div class="list-group-item hide">
    <p class="list-item-text no-items">Click a menu item on the left to add it to your order.</p>
  </div>

  <table class="table order-table">
    <tbody>
      {{#each order.orderItems}}
        <tr id="order-item-{{this.id}}">{{> order_item_summary}}</tr>
      {{/each}}

      <tfoot>
        <tr>
          <td colspan="2" class="item-name">Subtotal:</td>
          <td class="item-price">{{dollars order.sub_total}}</td>
        </tr>
      </tfoot>
    </tbody>
  </table>
</div>
<div class="list-group-item list-group-item-checkout">
  <a href="/orders/{{order.id}}" class="btn btn-primary btn-checkout">Checkout</a>
</div>
{{else}}
<div class="list-group-item">
  <p class="list-item-text no-items">Click a menu item on the left to add it to your order.</p>
</div>
{{/gt}}