<div class="order-params-bar panel">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" name="zip" placeholder="delivery zip" maxlength="5" value="{{orderParams.zip}}"/>
      <i class="gb-input-icon icon-map-marker"></i>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="date" placeholder="delivery date" maxlength="10" value="{{orderParams.date}}"/>
      <i class="gb-input-icon icon-calendar"></i>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="time" placeholder="delivery time" maxlength="8" value="{{timepart orderParams.time}}"/>
      <i class="gb-input-icon icon-time"></i>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="guests" placeholder="guests" maxlength="4" value="{{orderParams.guests}}"/>
      <i class="gb-input-icon icon-user"></i>
    </div>

    <button type="submit" class="btn btn-primary save">
      Search <i class="icon-search"></i>
    </button>
  </form>
</div>