<div class="list-group order-list-group">
  <div class="table-list orders-table-list striped">
    <div class="list-header">
      <label class="component item-selector">
        <input type="checkbox">
      </label>

      <div class="component list-info">
        <div class="num-results">133 Orders</div>
        <div class="sort-info">Sorted by Submitted Date Desc</div>
      </div>

      {{> order_list_filters}}
    </div>

    {{#each orders}}
      <div class="list-items">
        {{#include parent=..}}
          {{> order_list_item}}
        {{/include}}
      </div>
    {{/each}}
  </div>
</div>

{{> copy_order_error_modal}}

{{#extend "scripts"}}
<script>
  require([
      'jquery'
    , 'app/models/order'
    , 'app/views/order-list-item-view'
    ]
  , function($, Order, OrderListItemView) {
    {{#each orders}}
      new OrderListItemView({
        el: "#order-{{id}}"
      , model: new Order({{{json this}}})
      , hideUserDetails: {{#if ../hideUserDetails}}true{{else}}false{{/if}}
      });
    {{/each}}
    }
  );
</script>
{{/extend}}
