<div class="list-group-item order-item">
  <button class="x">&times;</button>
  <span class="quantity">{{quantity}}x </span>
  <strong class="list-group-item-heading">{{name}}</strong>
  <span class="edit">edit</span>
  <i class="list-group-item-text pull-right">${{dollars sub_total}}</i>
</div>
