<h4>Filter by:</h4>
<div class="panel-group" id="filters">
  {{! Diet Section }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#panelDiet">
          Special Diets
        </a>
      </h4>
    </div>
    <div id="panelDiet" class="panel-collapse collapse in">
      <div class="panel-body">
        These are special diets hehe
      </div>
    </div>
  </div>

  {{! Cuisine Types }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#panelCuisine">
          Cuisine
        </a>
      </h4>
    </div>
    <div id="panelCuisine" class="panel-collapse collapse">
      <div class="panel-body">
        These are cuisine filters hehe
      </div>
    </div>
  </div>

  {{! Price }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#filters" href="#panelPrice">
          Price
        </a>
      </h4>
    </div>
    <div id="panelPrice" class="panel-collapse collapse">
      <div class="panel-body">
        This is the price filter
      </div>
    </div>
  </div>

</div>