<div class="panel">
  <div class="panel-heading panel-heading-small">
    <h4><i class="icon-filter"></i> Filter Statuses</h4>
  </div>
  <div class="panel-body">
    <div class="orders-calendar-filters">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="pending" checked>
          <span class="filter-swatch label-pending"></span>
          Pending
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="canceled" checked>
          <span class="filter-swatch label-canceled"></span>
          Canceled
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="submitted" checked>
          <span class="filter-swatch label-submitted"></span>
          Submitted
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="accepted" checked>
          <span class="filter-swatch label-accepted"></span>
          Accepted
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="denied" checked>
          <span class="filter-swatch label-denied"></span>
          Denied
        </label>
      </div>
    </div>
  </div>
</div>
