{{#extend "css"}}
<link rel="stylesheet" href="/css/order-filters.css">
{{/extend}}

<h4>Filter by:</h4>
<div class="panel-group panel-group-filters" id="filters">
  {{! Diet Section }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-target="#panelDiet" href="#">
          Special Diets
        </a>
      </h4>
    </div>
    <div id="panelDiet" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="checkbox">
          <label><input type="checkbox" value="vegetarian" {{#contains orderParams.diet "vegetarian"}}checked="checked"{{/contains}}> Vegetarian</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="vegan" {{#contains orderParams.diet "vegan"}}checked="checked"{{/contains}}> Vegan</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="glutenFree" {{#contains orderParams.diet "glutenFree"}}checked="checked"{{/contains}}> Gluten-Free</label>
        </div>
      </div>
    </div>
  </div>

  {{! Cuisine Types }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-target="#panelCuisine" href="#">
          Cuisine
        </a>
      </h4>
    </div>
    <div id="panelCuisine" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="checkbox">
          <label><input type="checkbox" value="american"> American</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="burgers"> Burgers</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="bbq"> BBQ</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="sandwiches"> Sandwiches</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="salads"> Salad</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="chinese"> Chinese</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="japanese"> Japanese</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="thai"> Thai</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="italian"> Italian</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="pizza"> Pizza</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="indian"> Indian</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="texMex"> Tex-Mex</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="mexican"> Mexican</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="mediterranean"> Mediterranean</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="deserts"> Deserts</label>
        </div>
      </div>
    </div>
  </div>

  {{! Price }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a class="accordion-toggle" data-toggle="collapse" data-target="#panelPrice" href="#">
          Price
        </a>
      </h4>
    </div>
    <div id="panelPrice" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="checkbox">
          <label><input type="checkbox" value="1"> $</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="2"> $$</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="3"> $$$</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="4"> $$$$</label>
        </div>
      </div>
    </div>
  </div>

</div>