<div class="row">
  <div class="col-lg-2">
    <div class="panel">
      <div class="panel-heading panel-heading-small">
        <h4><i class="icon-filter"></i> Filter Statuses</h4>
      </div>
      <div class="panel-body">
        {{> orders_calendar_filters }}
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div id="calendar"></div>
  </div>
</div>

<div class="calendar-modal">
  {{> orders_calendar_modal }}
</div>
