<div class="btn-group-vertical status-buttons">
  <a href="?" class="btn btn-default {{#eq status "all"}}active{{/eq}}" data-status="all">
    All
  </a>
  {{#unless isRestaurantManager}}
  <a href="?status=pending" class="btn btn-pending {{#eq status "pending"}}active{{/eq}}">
    Pending
  </a>
  {{/unless}}
  {{#unless isRestaurantManager}}
  <a href="?status=canceled" class="btn btn-canceled {{#eq status "canceled"}}active{{/eq}}">
    Canceled
  </a>
  {{/unless}}
  <a href="?status=submitted" class="btn btn-submitted {{#eq status "submitted"}}active{{/eq}}">
    Submitted
  </a>
  <a href="?status=accepted" class="btn btn-accepted {{#eq status "accepted"}}active{{/eq}}">
    Accepted
  </a>
  <a href="?status=denied" class="btn btn-denied {{#eq status "denied"}}active{{/eq}}">
    Denied
  </a>
  {{#unless isRestaurantManager}}
  <a href="?status=delivered" class="btn btn-delivered {{#eq status "delivered"}}active{{/eq}}">
    Delivered
  </a>
  {{/unless}}
</div>
