<div class="row">
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading panel-heading-small">
        <h4 class="panel-title">Filter</h4>
      </div>
      <div class="panel-body">
        {{> order_calendar_buttons }}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="calendar"></div>
  </div>
</div>
