<legend>2. Pickup Info</legend>
<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label" for="order-pickup-person">Name assciated with order</label>
    <input name="pickup_person_name" id="order-pickup-person" type="text" class="form-control" value="{{order.name}}">
  </div>
</div>

<div class="row">
  <div class="form-group col-sm-6">
    <label class="control-label" for="order-pickup-phone">Phone number</label>
    <input name="pickup_person_phone" id="order-pickup-phone" type="text" class="form-control" value="{{order.name}}">
  </div>
</div>