<div class="order-params-bar panel">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" name="zip" placeholder="delivery zip" maxlength="5" value="{{orderParams.zip}}"/>
      <i class="gb-input-icon gb-icon-location"></i>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="date" placeholder="delivery date" maxlength="10" value="{{orderParams.date}}"/>
      <i class="gb-input-icon gb-icon-calendar"></i>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="time" placeholder="delivery time" maxlength="8" value="{{timepart orderParams.time}}"/>
      <i class="gb-input-icon gb-icon-time"></i>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="guests" placeholder="guests" maxlength="4" value="{{orderParams.guests}}"/>
      <i class="gb-input-icon gb-icon-user"></i>
    </div>

    <button type="submit" class="btn btn-primary btn-search save">
      Search <i class="btn-search-icon gb-icon-magnifier"></i>
    </button>
  </form>
</div>