<div class="order-params-bar panel">
  <form class="form-inline">
    <div class="form-group form-group-title">
      <strong class="form-title">Find Catering</strong>
    </div>
    <div class="form-group" data-icon="gb-icon-location">
      <input type="text" class="form-control form-control-zip" name="zip" placeholder="zip" maxlength="5" value="{{orderParams.zip}}"/>
    </div>
    <div class="form-group" data-icon="gb-icon-calendar">
      <input type="text" class="form-control" name="date" placeholder="delivery date" maxlength="10" value="{{formatDateTime orderParams.date}}"/>
    </div>

    <div class="form-group" data-icon="gb-icon-time">
      <input type="text" class="form-control" name="time" placeholder="delivery time" maxlength="8" value="{{formatTime orderParams.time}}"/>
    </div>

    <div class="form-group" data-icon="gb-icon-user">
      <input type="text" class="form-control form-control-guests" name="guests" placeholder="guests" maxlength="4" value="{{orderParams.guests}}"/>
    </div>

    <button type="submit" class="btn btn-primary btn-search">
      Search <i class="btn-search-icon gb-icon-magnifier"></i>
    </button>
  </form>
</div>