<div class="btn-group-vertical status-buttons" data-toggle="buttons">
  <label class="btn btn-default active" data-status="all">
    <input type="radio"> All
  </label>
  <label class="btn btn-pending" data-toggle="button" data-status="pending">
    <input type="radio"> Pending
  </label>
  <label class="btn btn-canceled" data-toggle="button" data-status="canceled">
    <input type="radio"> Canceled
  </label>
  <label class="btn btn-submitted" data-toggle="button" data-status="submitted">
    <input type="radio"> Submitted
  </label>
  <label class="btn btn-denied" data-toggle="button" data-status="denied">
    <input type="radio"> Denied
  </label>
  <label class="btn btn-accepted" data-toggle="button" data-status="accepted">
    <input type="radio"> Accepted
  </label>
  <label class="btn btn-delivered" data-toggle="button" data-status="delivered">
    <input type="radio"> Delivered
  </label>
</div>
