<div>
  <table class="table" id="promos-table">
    <tr>
      <th>Promo Code</th>
      <th>Recipients</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </table>
  <p class="actions">
    <button class="btn btn-primary btn-add-promo">
      Add new promo
    </button>
  </p>
</div>
