<div class="contact-group">
  <h4 class="panel-subtitle">Contact {{contactCount}}</h4>
  <p class="panel-info">
  You only need to fill out any one of the following fields for this contact. However, the more information you provide, the better chance we have of getting in touch about an order.
  </p>
  <hr>
  <div class="form-group">
    <label class="label-left">Contact Name</label>
    <input type="text" class="form-control" name="contact_name">
  </div>
  <div class="form-group">
    <label class="label-left">Contact Position</label>
    <input type="text" class="form-control" name="contact_position">
  </div>
  <div class="form-group">
    <label class="label-left">Contact Number</label>
    <input type="text" class="form-control" name="contact_number">
  </div>
  <div class="form-group">
    <label class="label-left">Contact Email</label>
    <input type="text" class="form-control" name="contact_email">
  </div>
</div>
