{{!-- <div id="restaurant-search" class="restaurant-search-bar panel"> --}}
<div id="restaurant-search" class="restaurant-search-bar">
  <h4>Search restaurants:</h4>
  <input class="search-input form-control col-md-12" type="text"></input>
</div>