<h4>Search:</h4>
<div class="panel-group panel-group-filters" id="search">
  <form class="search-form">
    <div class="form-group">
      <div class="panel">
        <input
          class="form-control-borderless search-input"
          type="text"
          placeholder="Search restaurants"
          value="{{orderParams.search}}">
        <button
          class="btn-inline-icon"
          type="submit">
          <i class="gb-icon-magnifier"></i>
        </button>
      </div>
    </div>
  </form>
</div>
