<div id="restaurant-search" class="restaurant-search-bar panel">
  <form class="form-inline">
    <div class="form-group form-group-title">
      <strong class="form-title">Search Restaurants</strong>
    </div>

    <div class="form-group">
      <input class="search-input form-control" type="text"></input>
    </div>
  </form>
</div>