<p>Share this link with others so they can view and add 
  items to the order.</p>
<p>Once everyone has added their items, click checkout.</p>
<p>This link will expire in 24 hrs.  After that, you will still be able to edit the order, but anyone you share this link with will not.</p>