<div class="panel menu-category" id="category-{{id}}">
  <div class="panel-heading menu-cateogry-heading">
    <h3 class="panel-title menu-cateogry-title">
      <span>{{order}} - {{name}}</span>
      <span class="pull-right"> <input type="button" class="button btn-primary hide save-items" value="Save Items" /></span>
    </h3>
    <p class="category-description">{{description}}</p>
  </div>
  <div class="list-group list-group-flush category">
    {{#each items}}
      {{>sort_item this}}
    {{/each}}
  </div>
</div>