<div class="table-list-header">
  <div class="pull-left">{{title}}</div>
  <div class="table-list-filters pull-right">
    {{#each filters}}
      <span class="popover-wrapper">
        <a href="#" class="" data-toggle="popover">
          {{title}} <span class="filter-icon">▼</span>
        </a>
        <div class="popover-modal">
          <div class="popover-header">
            {{popover.modal.title}}<button class="btn-unstyled pull-right" data-toggle-role="close">✖</button>
          </div>
          {{#each options}}
          <div class="popover-item">
            <label><span class="icon-pad">✔</span> {{name}}</label>
          </div>
          {{/each}}
        </div>
      </span>
    {{/each}}
  </div>

</div>
