<ul class="table-list table-list-bordered">
  {{#each collection}}
  <li class="table-list-item">
    {{!-- should be singular item views so that you can decouple --}}
    <a href="{{baseUrl}}/admin/restaurants/{{id}}">{{name}}</a>
  </li>
  {{/each}}
</ul>
