{{! this context should be a string array }}
{{#contains this "glutenFree"}}
<span class="diet-tag diet-tag-gluten-free" data-title="Gluten-Free" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "dairyFree"}}
<span class="diet-tag diet-tag-dairy-free" data-title="Dairy-Free" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "vegetarian"}}
<span class="diet-tag diet-tag-vegetarian" data-title="Vegetarian" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "vegan"}}
<span class="diet-tag diet-tag-vegan" data-title="Vegan" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "halal"}}
<span class="diet-tag diet-tag-halal" data-title="Halal" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "kosher"}}
<span class="diet-tag diet-tag-kosher" data-title="Kosher" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "nuts"}}
<span class="diet-tag diet-tag-nuts" data-title="Contains Nuts" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
{{#contains this "spicy"}}
<span class="diet-tag diet-tag-spicy" data-title="Spicy" data-container="body" data-toggle="tooltip"></span>
{{/contains}}
