<span class="tag">
  {{#if vegetarian}}
    <span class="label label-success">Vegetarian</span>
  {{/if}}
  {{#if vegan}}
    <span class="label label-info">Vegan</span>
  {{/if}}
  {{#if glutenFree}}
    <span class="label label-warning">Gluten Free</span>
  {{/if}}
</span>