<div class="list-group-item">
  <div class="row">
    <div class="col-sm-10">
        <a href="/restaurants/{{id}}/orders">
          <h4>{{name}}</h4>
        </a>
    </div>
    <div class="col-sm-2">
      <div class="pull right">
        <a class="btn btn-default" href="/restaurants/{{id}}/orders">View Orders</a>
      </div>
    </div>
  </div>
</div>