<!--<BigOlButton>-->
<table cellpadding="0" cellspacing="0" style="width: 100%;">
  <tr>
    <td width="50%"></td>
    <td style="padding-top: 30px; font-size: 24px; font-weight: 300;">
      <a href="{{url}}" style="text-decoration: none; color: #ffffff; font-family: Helvetica, arial, sans-serif;">
        <table cellpadding="0" cellspacing="0" style="">
          <tr>
            <td style="padding-top: 10px; padding-right: 28px; padding-bottom: 10px; padding-left: 28px; white-space: nowrap; background: #FF002D; border-radius: 4px; font-family: Helvetica, arial, sans-serif; color: #ffffff">
              <a href="{{url}}" style="color: #ffffff; font-size: 20px; text-decoration: none; font-family: Helvetica, arial, sans-serif;">{{text}}</a>
            </td>
          </tr>
        </table>
      </a>
    </td>
    <td width="50%"></td>
  </tr>
</table>
<!--</BigOlButton>-->