{{#if order.courierReasons.length}}
<table cellpadding="0" cellspacing="0" style="width: 100%; margin-top: 12px; border-radius: 4px; border: solid #ccc 1px; background: #f0f0f0; text-align: left;">
  <tr>
    <td style="padding: 20px">
      <h5 style="font-size: 16px; margin-top: 0; margin-bottom: 0">This order was flagged for courier pickup because of the following:</h5>
      <ol style="margin-bottom: 0">
      {{#each order.courierReasons}}
        <li>{{> courier_reasoning}}</li>
      {{/each}}
      </ol>
    </td>
  </tr>
</table>
{{/if}}