<table cellpadding="0" cellspacing="0" style="width: 100%; padding-bottom: 20px; margin-bottom: 20px; border-bottom: solid #ccc 1px">
  <tr>
    <td style="text-align: center; padding: 0 14px 0 0">
      <h4 style="font-size: 17px; font-weight: 500;">More Money</h4>
      <img src="{{cdn "/img/icon-hex-money.png"}}" alt="">
      <p style="font-size: 13px; line-height: 22px">You'd earn an extra <em>*${{dollars (add order.delivery_fee order.tip)}}</em> in tip and delivery fee</p>
    </td>
    <td style="text-align: center; padding: 0 14px">
      <h4 style="font-size: 17px; font-weight: 500;">Better Reliability</h4>
      <img src="{{cdn "/img/icon-hex-thumbsup.png"}}" alt="">
      <p style="font-size: 13px; line-height: 22px">Have full control and accountability on deliveries</p>
    </td>
    <td style="text-align: center; padding: 0 0 0 14px">
      <h4 style="font-size: 17px; font-weight: 500;">Higher Quality</h4>
      <img src="{{cdn "/img/icon-hex-silverware.png"}}" alt="">
      <p style="font-size: 13px; line-height: 22px">Ensure that the delivery is representing your brand</p>
    </td>
  </tr>
</table>