{{#extend "page"}}page-ol-greg{{/extend}}
{{#extend "css"}}
<link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/ol-greg.css' pkg)}}">
{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>Ol' Greg</li>
  </ul>

  <h1>Welcome to Ol' Greg</h1>
  <p>Ol' Greg is a <a href="https://www.youtube.com/watch?v=XxaP19pY1FI">scaly man-fish</a>. <em>This</em> is a tool to generate bulk Restaurant Payment Summaries</p>

  <section class="panel-component" id="">
  </section>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  // require( ['app/pages/admin-home'], function( page ){
  //   page.init({

  //   });
  // });
</script>
{{/extend}}
