{{#extend "page"}}page-ol-greg{{/extend}}
{{#extend "css"}}
<link rel="stylesheet" href="{{cdn (format '/dist/<%= version %>/ol-greg.css' pkg)}}">
{{/extend}}

{{#extend "body"}}
<div class="container" id="main-container">
  <ul class="breadcrumbs main-breadcrumbs">
    <li>
      <a href="/admin">Admin Panel</a>
    </li>
    <li>Ol' Greg</li>
  </ul>

  <h1>Welcome to Ol' Greg</h1>
  <p>Ol' Greg is a <a href="https://www.youtube.com/watch?v=XxaP19pY1FI">scaly man-fish</a>. <em>This</em> is a tool to generate bulk Restaurant Payment Summaries</p>

  <section class="panel-component" id="range-processor">
    <form class="form-horizontal og-range-processor">
      <div class="form-group">
        <label>Start</label>
        <input type="date" name="start">
      </div>
      <div class="form-group">
        <label>Stop</label>
        <input type="date" name="stop">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Make an assessment</button>
        <button class="btn btn-default btn-cancel hide">Cancel</button>
      </div>
    </form>
  </section>

  <section class="panel-component" id="range-results">
    <h2 class="component-title">Results</h2>
    <ul class="component-nav nav nav-tabs">
      <li class="active">
        <a href="#results" data-toggle="tab">Results</a>
      </li>
      <li>
        <a href="#logs" data-toggle="tab">Logs</a>
      </li>
    </ul>
    <div class="component-content tab-content">
      <div class="tab-pane active" id="results">
        <p>Generate individually or click "Make an Assessment" to generate all.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="restaurant">restaurant</th>
              <th class="status">status</th>
              <th class="actions">actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each restaurants}}
              <tr data-rid="{{this.id}}">
                <td class="restaurant">
                  {{this.name}}
                </td>
                <td class="status"></td>
                <td class="actions">
                  <button class="btn btn-default btn-small">Generate</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="logs">
        <p>Logs, yo'</p>
        <div class="log-entries">
          <div class="entry">
            <span class="entry-timestamp">2014-10-23 11:30:14.371</span>
            <span class="entry-message"><a href="#">Payment Summary #123</a> for Bamboo Bistro complete!</span>
          </div>
          <div class="entry">
            <span class="entry-timestamp">2014-10-23 11:30:14.371</span>
            <span class="entry-message"><a href="#">Payment Summary #123</a> for Bamboo Bistro complete!</span>
          </div>
          <div class="entry">
            <span class="entry-timestamp">2014-10-23 11:30:14.371</span>
            <span class="entry-message"><a href="#">Payment Summary #123</a> for Bamboo Bistro complete!</span>
          </div>
          <div class="entry">
            <span class="entry-timestamp">2014-10-23 11:30:14.371</span>
            <span class="entry-message">Payment summary for Dos Batos failed!</span>
          </div>
          <div class="entry">
            <span class="entry-timestamp">2014-10-23 11:30:14.371</span>
            <span class="entry-message"><a href="#">Payment Summary #123</a> for Bamboo Bistro complete!</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{/extend}}

{{#extend "scripts"}}
<script>
  require( ['app/pages/admin/ol-greg'], function( page ){
    page.init({
      restaurants: {{{json restaurants}}}
    });
  });
</script>
{{/extend}}
