<!--<Navbar>-->
<header class="navbar collapsed">
  <div class="container">
    <a href="/">
      <img src="{{cdn "/img/logo.png"}}" alt="Goodybag.com" class="navbar-logo">
    </a>

    <button class="navbar-toggle btn btn-default" data-icon="gb-icon-hamburger"></button>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/admin">Home</a>
      </li>
      <li class="{{#eq mainNav.active 'restaurants'}}active{{/eq}}">
        <a href="/admin/restaurants">Restaurants</a>
      </li>
      <li class="{{#eq mainNav.active 'regions'}}active{{/eq}}">
        <a href="/admin/regions">Regions</a>
      </li>
      <li class="{{#eq mainNav.active 'delivery-services'}}active{{/eq}}">
        <a href="/admin/delivery-services">Delivery Services</a>
      </li>
      {{{block "navbar-links"}}}
    </ul>
  </div>
</header>
<!--</Navbar>-->