<div class="form-group">
  <label class="control-label" for="input-name">
    Name
    <span class="help-block">Required</span>
  </label>
  <input type="text" class="form-control" name="name" id="input-name" value="{{delivery_service.name}}">
</div>
<div class="form-group">
  <label class="control-label" for="input-rate">
    Rate
    <span class="help-block">Required</span>
  </label>
  <input type="text" class="form-control" name="rate" id="input-rate" value="{{#if delivery_service.rate}}{{factorToPercent delivery_service.rate}}{{/if}}">
</div>
<div class="form-group">
  <label for="region_id_selector" class="control-label">Region</label>
  <select name="region_id" id="region_id_selector">
    {{#each regions}}
      <option value="{{this.id}}"{{#eq ../delivery_service.region.id this.id}} selected="true"{{/eq}}>{{this.name}}</option>
    {{/each}}
  </select>
</div>
<div class="form-group actions">
  <button class="btn btn-primary" type="submit">Save</button>
</div>