<nav>
  <ul class="nav nav-vertical ap-nav-vertical">
    <li{{#eq sidebarNav.active "basic-info"}} class="active"{{/eq}}>
      <a href="{{sidebarNav.baseUrl}}/basic-info">Basic Info</a>
    </li>
    <li{{#eq sidebarNav.active "another"}} class="active"{{/eq}}>
      <a href="{{sidebarNav.baseUrl}}/another">Another</a>
    </li>
  </ul>
</nav>