#gb { #accept-reject-bar {
  .init(){
    .accept-reject-bar {
      padding: 20px;
      background: #fff;
      text-align: center;
      box-shadow: 0 -4px 15px rgba( 0, 0, 0, 0.4 );

      .btn-accept {
        &:extend(.btn);
        &:extend(.btn-green-3);
      }

      .btn-reject {
        &:extend(.btn);
        &:extend(.btn-default);
      }
    }
  }
}}