/////////////////////
// Panel Component //
/////////////////////

// Most general panel component
// Describes how various components interact

.panel-component {
  font-size: 1rem;
  display: table;
  width: 100%;
}

.panel-component .component-title {
  padding-bottom: 8px;
  font-size: 2em;
  border-bottom: solid 1px @gray;

  @marginbottom: 18px;
  margin-bottom: @marginbottom;

  + .component-nav {
    margin-top: -@marginbottom;
  }
}

.panel-component .component-nav {
  padding-left: 8px;
}

.panel-component .component-content {
  padding-top: 12px;
}