/////////////////////
// Panel Component //
/////////////////////

// Most general panel component
// Describes how various components interact

@component-title-margin-bottom: 18px;

.panel-component {
  font-size: 1rem;
  display: table;
  width: 100%;
}

.panel-component .component-title {
  padding-bottom: 8px;
  font-size: 1.6em;
  border-bottom: solid 1px @gray;

  margin-bottom: @component-title-margin-bottom;

  + .component-nav {
    margin-top: -@component-title-margin-bottom;

    // + .component-actions {
    //   margin-top: -2 * @component-title-margin-bottom
    // }
  }
}

.panel-component .sub-component-title {
  font-size: 1.4em;
}

.panel-component .component-nav {
  padding-left: 8px;
}

.panel-component .component-actions {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -(@component-title-margin-bottom + @btn-base-height + 8px);
  text-align: right;

  & button {
    margin-left: 8px;
  }
}

.panel-component .component-content {
  padding-top: 12px;

  > p:nth-of-type(1) {
    margin-top: 0;
  }
}

.panel-component.panel-island {
  box-shadow: 0 0 14px rgba( 0,0,0, 0.25 ), inset 0 1px 0 #FFF;
  background: linear-gradient(to bottom, #f5f5f5 0%, #E9E9E9 100%);
  border-radius: 5px;
  border-bottom: solid 2px #A6A6A6;
  transition: height 0.3s ease-out;

  input {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  label {
    text-shadow: 0 1px 0 #FFF;;
  }

  .progress-indicator .indicator {
    box-shadow: 0 1px 0 rgba( 255, 255, 255, 0.35 );
  }
}

.panel-island-standard {
  padding: 20px 40px;
}
