//////////////////////
// Admin Panel Form //
//////////////////////

.ap-form {
  margin-bottom: 30px;
  legend {
    font-weight: 200;
    font-size: 16pt;
  }
}

.ap-form .help-block {
  color: grey;
  font-size: .8rem;

  &:before {
    content: "-- ";
  }
}

.has-error .help-block {
  color: @brand-primary;
}