//////////////////////////////////
// Lead times
//////////////////////////////////

@media (min-width: 40rem) {
  .ap-lead-times {
    .col-day {
      float: left;
      width: 15%;
      margin-right: 10px;
      line-height: 36px;
    }

    .col-time {
      float: left;
      width: 15%;
      margin-right: 10px;
    }

    .col-separator {
      display: inline-block;
      float: left;
      width: 40px;
      line-height: 36px;
      margin-left: -10px;
      text-align: center;
    }
    
    .col-checkbox {
      float: left;
      width: 15%;
      margin-left: 10px;
      line-height: 36px;
    }
  }
}

