/////////////////////////////////////////////////
// Menu
/////////////////////////////////////////////////

.ap-menu {
  .col-details {
    float: left;
    width: 80%;
  }

  .col-checkboxes {
    float: left;
    width: 20%;
    padding-left: 10px;
  }

  .row-details .col-order {
    .col-detail(@width: 15%, @margin-left: 0);
  }
  .row-details .col-name {
    .col-detail(199px);
  }
  .row-details .col-price {
    .col-detail(15%);
  }
  .row-details .col-feeds-min {
    .col-detail(15%);
  }
  .row-details .col-feeds-max {
    .col-detail(15%);
  }

  .row-actions {
    margin: 10px 0;
  }
  .row-actions .btn {
    float: right;
    margin-left: 5px;
  }

  .row-actions label {
    display: inline-block;
  }
}


.col-detail(@width: 20%, @margin-left: 5px) {
  float:          left;
  margin-left:    @margin-left;
  width:          @width;
}


/////////
// TODO: simplify these
// Moving some styling 
/////////

.option-group {
  height: 400px;
  margin-bottom: 30px;
  border: solid 1px #CCCCC0;
  border-radius: 2px;
  overflow: scroll;
  background: #fff;
}

.option-group .option-group-heading {
  width: 100%;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  border-bottom: solid 1px #CCCCC0;
  font-size: 18px;
  color: #695A42;
}

.option-group .option-group-type {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.option-group-type .option-type-title {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  font-size: 14px;
}

.checkbox-min-max {
  display: inline-block;
  margin-left: 12px;
}

.checkbox-min-max input {
  width: 100px;
}

.option-group-actions {
  height: 52px;
  border-bottom: solid 10px #C7C1B8;
  margin-top: -42px;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}

.option-group-actions:hover {
  margin-top: 0;
}

.radio-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.option-group-actions .btn-delete-option {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  text-align: center;
  cursor: pointer;
}

.add-wrapper {
  padding: 8px;
}

.option-group .item-options-table {
  position: relative;
  overflow: hidden;
  border-left: none;
  border-right: none;
}

.option-group tr > th:first-child,
.option-group tr > td:first-child {
  border-left: none!important;
}

.option-group tr > th:last-child,
.option-group tr > td:last-child {
  border-right: none!important;
}