/////////////////////
// AP Nav Vertical //
/////////////////////

@ap-nav-vertical-item-height: 34px;
@ap-nav-vertical-padding-top: 8px;
@ap-nav-vertical-padding-left: 20px;

.ap-nav-vertical {
  margin-top: 10px;
}

.nav.ap-nav-vertical > li:first-child ~ li {
  margin-top: 2px;
}

.nav.ap-nav-vertical > li > a {
  display: inline-block;
  padding: (@ap-nav-vertical-item-height / 2) @ap-nav-vertical-padding-left;
  text-decoration: none;
  color: @gray-darker;
}

.ap-nav-vertical > li.active > a,
.ap-nav-vertical > li.active:hover > a {
  border-left: 2px solid @brand-primary;
  padding-left: @ap-nav-vertical-padding-left - 2;
  color: @brand-primary;
}

.ap-nav-vertical > li:hover > a {
  border-left: 1px solid @brand-primary;
  padding-left: @ap-nav-vertical-padding-left - 1;
}