//////////////////
// Check Points //
//////////////////

.check-points {
  list-style-type: none;
  margin-bottom: 0;
}

.check-points > li {
  margin-bottom: 52px;
  font-size: 19px;
  font-weight: @light;
}

.check-points > li:before {
  content: "";
  position: absolute;
  left: -@checkpoints-bullet-offset;
  top: -2px;
  width: 23px;
  height: 25px;
  background: @checkpoints-bullet-img;
}

.check-points .subtext {
  font-size: 14px;
  font-weight: @regular;
  margin-top: 4px;
  margin-left: -@checkpoints-bullet-offset;
}

@media screen and ( max-width: @breakpoint-tablet ){
  .check-points > li {
    margin-bottom: 32px;
    font-size: 18px;
  }
}