/////////////////////
// Collapsible sections
///////////////////////

.collapsible-content(@speed: 0.15s) {
  max-height: 0;
  overflow: hidden;
  transition: max-height @speed ease-out;
  box-sizing: border-box;
  &.in {
    max-height: 1000px; // arbitrary
    transition: max-height @speed ease-in;
  }
}

.collapsible-wrapper {
  padding: 10px;
}
