/////////////////////////
// Definition Row List //
/////////////////////////

.definition-row-list {
  .row {
    border-top: dotted 1px @palette-gray-light;
    padding: 8px 0px;
    #grid > .row();
  }

  &.striped .row:nth-child(2n) {
    background: @palette-gray-lighter;
    box-shadow: inset 0 1px 0 #fff;
  }

  // Title
  .title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
  }

  // Definition List
  dl {
    margin-top: 0;
  }

  dt, dd {
    display: block;
    float: left;
    font-size: 15px;
  }

  dt {
    width: 30%;
    font-weight: 700;
  }

  dd {
    width: 70%;
    margin: 0;
  }

  @media screen and ( max-width: @container-width ){
    .title,
    .row {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
