/**
 * Tag Listing
 */

.tag {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
}

.tag-gluten-free {
  background: url('/img/01_gluten.svg');
  background-size: 20px 20px;
}

.tag-vegan {
  background: url('/img/02_vegan.svg');
  background-size: 20px 20px;
}

.tag-vegetarian {
  background: url('/img/03_vegetarian.svg');
  background-size: 20px 20px;
}

.tag-kosher {
  background: url('/img/04_kosher.svg');
  background-size: 20px 20px;
}

.tag-halal {
  background: url('/img/05_halal.svg');
  background-size: 20px 20px;
}

.tag-dairy-free {
  background: url('/img/06_dairy.svg');
  background-size: 20px 20px;
}

.tag-nuts {
  background: url('/img/07_nuts.svg');
  background-size: 20px 20px;
}
.tag-spicy {
  background: url('/img/08_spicy.svg');
  background-size: 20px 20px;
}
