/**
* Tag Listing
*/

@diet-tag-size: 20px;

.diet-tag {
  display: inline-block;
  vertical-align: bottom;
  width: @diet-tag-size;
  height: @diet-tag-size;
  background-size: @diet-tag-size;
}

.diet-tag-gluten-free { background-image: url('../img/01_gluten.svg'); }
.diet-tag-vegan { background-image: url('../img/02_vegan.svg'); }
.diet-tag-vegetarian { background-image: url('../img/03_vegetarian.svg'); }
.diet-tag-kosher { background-image: url('../img/04_kosher.svg'); }
.diet-tag-halal { background-image: url('../img/05_halal.svg'); }
.diet-tag-dairy-free { background-image: url('../img/06_dairy.svg'); }
.diet-tag-nuts { background-image: url('../img/07_nuts.svg'); }
.diet-tag-spicy { background-image: url('../img/08_spicy.svg'); }
