///////////////////////////////////////////////////////////////////////////////
//      .___     .__  .__                                 __                
//    __| _/____ |  | |  | _____ _______    _____   _____/  |_  ___________ 
//   / __ |/  _ \|  | |  | \__  \\_  __ \  /     \_/ __ \   __\/ __ \_  __ \
//  / /_/ (  <_> )  |_|  |__/ __ \|  | \/ |  Y Y  \  ___/|  | \  ___/|  | \/
//  \____ |\____/|____/____(____  /__|    |__|_|  /\___  >__|  \___  >__|   
//       \/                     \/              \/     \/          \/       
///////////////////////////////////////////////////////////////////////////////

.dollar-meter {
  font-size: 0;
}

.dollar-meter > .dollar-meter-item {
  font-size:    @font-size-base;
  font-weight:  @font-weight-base;
  color:        @dollar-meter-unfilled;
}

.dollar-meter > .dollar-meter-item.dollar-meter-item-filled {
  color: @dollar-meter-filled;
}
