//////////////
// Dollar Meter
//////////////

.dollar-meter {
  font-size: 0;
}

.dollar-meter > .dollar-meter-item {
  font-size: 13px;
  font-weight: 300;
  color: #c5bebb;
}

.dollar-meter > .dollar-meter-item.dollar-meter-item-filled {
  color: #695A42;
}
