///////////////////////////
// Driver Accept/Decline //
///////////////////////////

.accept-decline {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;

  &.panel-island {
    border-radius: 0;
    border-bottom: none;
  }
}