///////////////////////////
// Driver Accept/Decline //
///////////////////////////

.accept-decline {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-top: solid 1px #B7B6AD;
}