////////////
// Footer //
////////////

.footer {
  height: @footer-height;
  padding-top: 10px;
  background-color: @footer-bg-color;
  color: @footer-color;

  @media screen and (max-width: @breakpoint-tablet){
    & {
      height: auto;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.footer .container {
  .standard-padding();
}

.footer .nav {
  float: right;
  margin-top: 20px;

  @media screen and (max-width: @breakpoint-tablet){
    & {
      display: none;
    }
  }
}

.footer .nav a {
  color: @footer-color;
}

.footer .nav .active a {
  color: darken( lighten( @brand-secondary, 74% ), 12% );
}

.footer .copyright {
  position: absolute;
  right: 10px;
  top: 48px;
  font-size: 8px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: darken( @footer-color, 30% );
  color: rgba( 255, 255, 255, 0.7 );

  @media screen and (max-width: @breakpoint-tablet){
    & {
      position: static;
    }
  }
}

@media screen and (max-width: @breakpoint-tablet){
  .footer-logo {
    max-height: @navbar-mobile-height;
  }
}