/////////////////
// GB Dropdown //
/////////////////

.gb-dropdown {
  .gb-dropdown-items {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    width: @gb-dropdown-width;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 0 12px rgba( 0, 0, 0, 0.4 );

    li {
      margin: 0;
      padding: 0;
    }
  }

  &.active .gb-dropdown-items {
    display: block;
    text-align: left;
  }
}