////////////////////
// iframe preview //
////////////////////

.iframe-preview {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba( 0, 0, 0, 0.2 );
  .animation( ease-out, 1s, fade-in );
}