/////////////////
// Inline List //
/////////////////

.inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}

.inline-list.inline-list-bulleted li + li:before {
  content: "\2022";
  font-size: 13px;
  margin-left: 3px;
  margin-right: 5px;
}
