/**
 * matching the style of the olark box
 */
#intercom {
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: #FFFFFF;

  cursor: pointer;

  background-color: #5ba0d0;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 46px;
  width: 250px;
  position: fixed;

  right: 280px;
  bottom: -10px;
  border-radius: 7px;
  text-decoration:none;
}

.intercom-text:hover {
  text-decoration:underline;
}

.up-arrow {
  display: inline-block;
  float: right;
  width: 16px;
  height: 17px;
  background-color: none;
  background-image: url(../img/olark-buttons-light.png);
  background-position: -80px 0%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.up-arrow:hover {
  background-color: #000000;
  text-decoration: none !important;
}
