.list-group {
  list-style-type: none;
  background: @white;
  padding: 0;
}

.list-group-item {
  display: block;
  border:   solid @list-group-border-width @gray;
  border-top: none;
  border-radius: 0;
  padding: @list-group-item-padding;

  &:nth-of-type(1) {
    border-top-left-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
    border-top: solid @list-group-border-width @gray;
  }  

  &:nth-last-of-type(1) {
    border-bottom-left-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
  }
}

a.list-group-item {
  color: @black;
  text-decoration: none;

  &:hover {
    background-color: @list-group-hover-background-color;
    border-left: @list-group-item-hover-border-width solid @brand-primary;
    padding-left: @list-group-item-padding - (@list-group-item-hover-border-width - @list-group-border-width);
  }
}

@list-group-item-padding: 15px;
@list-group-item-hover-border-width: 3px;
@list-group-border-width: 1px;
@list-group-hover-background-color: #FFFCF2;