///////////////
// Logo List //
///////////////

.logo-list {
  #grid > .row();
  .reset-ul();
  table-layout: fixed;
  margin-top: @logo-list-margin-top;
  margin-bottom: @logo-list-margin-bottom;
}

.logo-list > li {
  display: table-cell;
  width: 2%;
  text-align: center;
}