/////////////////////
// Manifest Header //
/////////////////////

// Things in here are more or less hardcoded to make it easier to print

.manifest-header {
  min-height: 82px;
  padding-top: 8px;
  margin-bottom: 40px;
  color: #fff;
  font-family: 'Din Condensed';
  text-transform: uppercase;
  background-color: @manifest-gray;
  border: solid @manifest-gray 1px;
  border-bottom-width: 2px;

  &:before {
    content: "";
    position: absolute;
    left: 12px;
    top: 14px;
    width: 250px;
    height: 41px;
    background-image: url('/img/thankyou.svg');
    background-repeat: no-repeat;
    background-size: 250px;
  }

  .header-text {
    margin-top: 30px;
    margin-right: 12px;
    font-size: 13px;
    text-align: right;
    white-space: pre;
  }

  .signature {
    text-transform: none;
  }

  .subtext {
    padding-top: 3px;
    background: #FFF;
    border-left: solid 1px @manifest-gray;
    border-right: solid 1px @manifest-gray;
    font-family: 'Din';
    color: #808080;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }

  .order-info {
    border-bottom: solid 2px @manifest-gray;
  }

  .order-info > .info-item {
    display: table-cell;
    width: 1%;
    padding: 6px 8px;

    background: #fff;
    border-left: solid 1px @manifest-gray;
    border-right: solid 1px @manifest-gray;
    color: @manifest-gray;
    line-height: 18px;
  }

  .order-info .item-value {
    color: #000;
    font-size: 20px;

  }
}