//////////////////////
// Marketing Points //
//////////////////////

@point-padding: 90px 40px 50px;
@even-bg: rgba( 0, 0, 0, 0.02 );

.marketing-points {
  #grid > .row();
  display: table;
  table-layout: fixed;
  width: 100%;
}

.marketing-points > .point {
  display: table-cell;
  width: 2%;
  padding: @point-padding;
  color: @gray;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      display: block;
      width: 100%;
      .standard-padding();
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
}

.marketing-points > a.point {
  text-decoration: none;
}

.marketing-points > a.point:hover {
  background: rgba( 0, 0, 0, 0.01 );
}

// Stripes
.marketing-points > .point:nth-child(2n) {
  background-color: @even-bg;

  &:hover {
    background: rgba( 0, 0, 0, 0.04 );
  }
}

.marketing-points .point-title {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1.3em;
}

.marketing-points p {
  font-size: @font-size-small;
  letter-spacing: 1.4px;
  line-height: 1.6em;
}

.marketing-points .point-icon {
  font-size: 4em;
}