.menu {
  .row();
}

.col-main {
  #grid>.column(8);
}

.col-side {
  #grid>.column(4);
}

@media (min-width: 40rem) {
  .menu .logo {
    display: inline-block;
    height: @logo-size;
    width: @logo-size;
  }

  .menu .restaurant-name {
    margin: 0 10px;
    vertical-align: top;
    line-height: @logo-size;
    font-family: 'Aleo';
    font-weight: 500;
    font-size: 2rem;
  }

  .menu .restaurant-description {
    color: #111;
    font-size: 1.1rem;
  }

  .menu-picker-tabs {
    border-bottom: 2px solid @brand-primary;
  }
}

@logo-size: 100px;
