/////////
// Nav //
/////////

.nav {
  font-size: 0;
  margin: 0;
}

.nav > li {
  font-size: @font-size-base;
  display: inline-block;
  vertical-align: middle;
}

.nav a {
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
}

.nav > li:first-child a {
  margin-left: 0;
}

.nav > li:last-child a {
  margin-right: 0;
}

.nav.nav-vertical {
  padding-left: 0;
}

.nav.nav-vertical .nav.nav-vertical {
  padding-left: 16px;
}

.nav.nav-vertical li {
  display: block;
}

.nav.nav-vertical li,
.nav.nav-vertical li:first-child {
  margin-left: 0;
}

.nav.nav-vertical a {
  display: inline;
  text-transform: none;
  margin-left: 0;
  font-size: 13px;
  // font-weight: normal;
}