/////////////////////////////
// Ol-greg Range Processor //
/////////////////////////////

.og-range-processor {
  padding: 20px 12px;

  .form-group {
    width: auto;
  }

  .errors {
    margin-bottom: 20px;
  }
}