/////////////////////////////
// Ol-greg Range Processor //
/////////////////////////////

.og-range-processor {
  padding: 20px 12px;
  box-shadow: 0 0 14px rgba( 0,0,0, 0.3 );

  .form-group {
    width: auto;
  }
}