/////////////////////////////
// Ol-greg Range Processor //
/////////////////////////////

.og-range-processor {
  padding: 20px 12px;
  box-shadow: 0 0 14px rgba( 0,0,0, 0.3 ), inset 0 1px 0 #FFF;
  background: linear-gradient(to bottom, #f5f5f5 0%, #E9E9E9 100%);
  border-radius: 5px;

  .form-group {
    width: auto;
  }

  label {
    text-shadow: 0 1px 0 #FFF;;
  }
}