////////////////////
// Ol Greg Status //
////////////////////

// TODO: Make this generalized
// I kinda hacked this, but it's super self-contained so no bigs

.og-status {
  text-align: center;
  text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.5 );

  &[data-status="waiting"] {
    &:after { content: "Waiting" }
    background: rgba( 255, 255, 0, 0.3 )!important;
    box-shadow: inset 0 0 15px rgba(255, 255, 0, 0.1);
    border-color: rgba(255, 255, 0, 0.26);
  }

  &[data-status="working"] {
    &:after { content: "Working" }
    background: rgba( 0, 0, 255, 0.3 )!important;
    box-shadow: inset 0 0 15px rgba(0, 0, 255, 0.1);
    border-color: rgba(0, 0, 255, 0.26);
  }

  &[data-status="error"] {
    &:after { content: "Error" }
    background: rgba( 255, 0, 0, 0.3 )!important;
    box-shadow: inset 0 0 15px rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.26);
  }

  &[data-status="complete"] {
    &:after { content: "Complete" }
    background: rgba( 0, 255, 0, 0.3 )!important;
    box-shadow: inset 0 0 15px rgba(0, 255, 0, 0.1);
    border-color: rgba(0, 255, 0, 0.26);
  }
}