///////////////////////
// Orders Table List //
///////////////////////

.orders-table-list {
  .table-list-item-status('pending');
  .table-list-item-status('submitted');
  .table-list-item-status('accepted');
  .table-list-item-status('denied');
  .table-list-item-status('canceled');
  .table-list-item-status('delivered');

  .table-list-item-type-icon('courier');
  .table-list-item-type-icon('delivery');
  .table-list-item-type-icon('pickup');

  & .list-item {
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    transition: border-left-width linear 0.1s;

    &:hover {
      border-left-width: 4px;
    }
  }
}

.table-list-item-status( @status ){
  @color: ~"@{status-@{status}}";

  & [data-status="@{status}"].list-item {
    border-left-color: @color;
  }

  & [data-status="@{status}"] .order-status {
    background: @color;
    color: @palette-white;
    border-left-color: rgba( 0, 0, 0, 0.25 );
    text-shadow: 0 -1px 0 rgba( 0, 0, 0, 0.25 );
  }
}

.table-list-item-type-icon( @type ){
  @type-courier: "C";
  @type-delivery: "D";
  @type-pickup: "P";

  @content: ~"@{type-@{type}}";

  & [data-type="@{type}"] .type-icon:before {
    content: "@{content}";
  }
}

.table-list-item-type-icon( @type ) when (@type = 'delivery'){
  & [data-type="@{type}"] .type-icon:before {
    margin-left: 1px;
  }
}

.table-list-item-type-icon( @type ) when (@type = 'pickup'){
  & [data-type="@{type}"] .type-icon:before {
    margin-left: 1px;
  }
}