.order-params-bar {
  position: relative;
  display: table;
  width: 100%;
  margin: 10px auto;
  padding: 15px 18px;
}

.order-params-bar .form-inline {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
