//////////////////
// Page Section //
//////////////////


// TODO:
// Fix this .page-section font-size 1em issue.
// I think we should bump the base-font size and
// adjust everything accordingly

.page-section {
  padding-top: @page-section-padding;
  padding-bottom: @page-section-padding;
  text-align: center;
  font-size: 1em;
  background: @white;

  @media screen and (max-width: @breakpoint-tablet){
    & {

    }
  }
}

.page-section .section-header {
  margin-bottom: 18px;
  font-size: 3.0em;
  line-height: 1.2em;
  letter-spacing: 1.2px;
  font-weight: 300;
  color: @off-gray;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      font-size: 1.6em;
    }
  }
}

.page-section p {
  font-size: 1.2em;
  @media screen and (max-width: @breakpoint-tablet) {
    & {
      font-size: 1em;
    }
  }

}

.page-section p.lead {
  font-size: 1.6em;

  @media screen and (max-width: @breakpoint-tablet) {
    & {
      font-size: 1.2em;
    }
  }
}

.page-section > .container {
  .standard-padding();
}

.page-section.section-gray {
  background: @gray-light;
}

.page-section.section-gray {
  h1, h2, h3, h4, h5 {
    color: @brand-quaternary;
  }
}

.page-section.section-darker {
  #sections > .darker();
}

.page-section.section-primary {
  #sections > .brand-primary();
}

.page-section.section-secondary {
  #sections > .brand-secondary();
}