///////////
// Panel //
///////////

.panel {
  border-radius: @border-radius-base;
  border: solid 1px @gray;
  .standard-padding();
  padding-bottom: 20px;
  padding-top: 20px;
  background: @white;
}

.panel .panel-header {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 1.5em;
  line-height: 1.8em;
  text-align: center;
}

.panel .panel-body {
  .clearfix();
}

.panel.panel-no-padding {
  padding: 0;
}