///////////
// Panel //
///////////

.panel {
  display: inline-block;
  border-radius: @border-radius-base;
  border: solid 1px @gray;
  background: @white;
}

.panel .panel-header {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 1.5em;
  line-height: 1.8em;
  text-align: center;
}
