/////////////////
// PDF Preview //
/////////////////

.pdf-preview {
  .pdf-preview-title {
    margin-bottom: 0;
    padding-bottom: 6px;
    border-bottom: solid 1px @gray;
  }

  .nav-tabs {
    position: absolute;
    z-index: 2;

  }

  .nav-tabs a {
    background: #fff;
    opacity: 0.8;
  }

  iframe {
    width: 100%;
    min-height: 385px;
    border: none;
  }
}