/////////////////////
// Restaurant Plan //
/////////////////////

.restaurant-plan {
  font-size: 15px;

  .plan-title {
    text-align: center;
    font-size: 2em;
  }
}

.tiers {
  > .tier .amount-text {
    .under { display: inline; }
    .over { display: none; }
  }
  > .tier:last-child .amount-text {
    .under { display: none; }
    .over { display: inline; }
  }
}