//////////////////////////////
// Restaurant Search Fields //
//////////////////////////////

.restaurant-search {

  &.with-labels {
    ::-webkit-input-placeholder {
      opacity: 0;
    }
    
    :-moz-placeholder {
      opacity: 0;
    }
    
    ::-moz-placeholder {
      opacity: 0;
    }
    
    :-ms-input-placeholder {
      // Setting opacity: 0 makes the borders disappear
      // Use font-size instead
      font-size: 0;
    }

    label {
      display: block;
    }
  }

  label {
    display: none;
  }

  [name="time-range"] {
    position: absolute;
  }
}