/**
 * Search tags
 */
@search-tag-background: @palette-white;
@search-border-radius: 3px;
@search-tag-color: @palette-gray-dark;
@search-tag-font-size: @font-size-small;
@search-tag-font-weight: @bold;

.search-tag {
  display: inline-block;
  padding: 10px;
  border: 1px solid @palette-gray;
  border-radius: @search-border-radius;
  background: @search-tag-background;
  line-height: 0;
  font-size: @search-tag-font-size;
  font-weight: @search-tag-font-weight;
  color: @search-tag-color;
  text-transform: capitalize;
}

.search-tag ~ .search-tag { margin-left: 4px; }

.search-tag:hover {
  text-decoration: none;
  background-color: @palette-gray-lighter;
}

.search-tag > .gb-icon-x-mark {
  position: relative;
  top: 1px;
}
