/**
 * Search tags
 */

.search-tag {
  display: inline-block;
  border: 1px solid @palette-dark-gray;
  background: @palette-gray;
  padding: 0 5px;
  color: @palette-black;
  &:hover { text-decoration: none; }
  & > .gb-icon-x-mark { vertical-align: middle; }
}
