/**
 * Search tags
 */
@search-tag-background: @palette-white;
@search-border-radius: 3px;
@search-tag-color: @palette-gray-dark;
.search-tag {
  display: inline-block;
  position: inherit;
  border: 1px solid @palette-gray;
  border-radius: @search-border-radius;
  background: @search-tag-background;
  padding: 2px 5px;
  color: @search-tag-color;
  & > .gb-icon-x-mark {
    // need a better solution to center vertically
    position: relative;
    right: 0;
    display: inline-block;
    top: 2px;
  }
}

.search-tag:hover {
  text-decoration: none;
  background-color: @palette-gray-lighter;
}
