//////////////////
// Speech Boxes //
//////////////////

@triangle-height: 48px;

.speech-boxes {
  padding-bottom: @triangle-height;
}

.speech-boxes > .box {
  text-align: left;
  border-radius: @border-radius-base;
  border: solid 1px @gray;
  padding: @speechbox-padding;

  &:after {
    content: "";
    position: absolute;
    left: 46px;
    bottom: -@triangle-height;
    width: 66px;
    height: @triangle-height;
    background: url('/img/speech-box-triangle-left.png');
  }

  @media screen and ( max-width: @breakpoint-mobile ){
    margin-top: 62px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.speech-boxes > .box-reverse {
  &:after {
    left: 64px;
    background: url('/img/speech-box-triangle-right.png');
  }
}

.speech-boxes blockquote {
  margin: 0;
  margin-bottom: 24px;
}

.speech-boxes .signature {
  text-align: right;
  font-size: 0;
}

.speech-boxes .signature > .wrapper {
  display: inline-block;
  min-width: 108px;
  font-size: @font-size-base;
  text-align: left;
}

.speech-boxes .author {
  font-weight: @semibold;
}

.speech-boxes a.author-company {
  text-decoration: none;
  &:hover {
    text-decoration: underline
  }
}

.speech-boxes > .box-2 {
  padding-bottom: @speechbox-padding-vert - 8;

  &, .signature .author {
    font-size: 15px;
    font-weight: 100;
    line-height: 22px;
  }

  .signature {
    text-align: left;
  }

  .signature .author {
    font-style: italic;
  }

  .logo-wrapper {
    margin-top: 8px;
    text-align: center;
  }

  @media screen and ( max-width: @breakpoint-mobile ){
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.speech-boxes > .box-3 {
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.18 );

  &:after {
    display: none;
  }

  @logo-size: 90px;
  .author-logo {
    @border-width: 1px;
    @border-padding: 2px;
    @border-color: #aaa;

    width: @logo-size;
    height: @logo-size;
    position: absolute;
    left: -8px;
    bottom: -42px;
    z-index: 2;
    border-radius: 50%;
    box-shadow:
      0 0 0 @border-width @border-color
    , 0 0 0 @border-width+@border-padding #FFF
    , 0 0 0 @border-width+@border-padding+@border-width @border-color
    , 0 0 2px @border-width+@border-padding+@border-width rgba(0, 0, 0, 0.15);
  }

  .signature > .wrapper {
    display: block;
    min-width: auto;
    padding-left: @logo-size + 12px;
  }

  .signature {
    position: absolute;
    bottom: 22px;
  }
}

.speech-boxes > .box-no-border {
  border: none;
  padding-left: @speechbox-padding-hori + 1;
  padding-right: @speechbox-padding-hori + 1;

  &:after {
    display: none;
  }
}

.speech-boxes > .box-with-border {
  border: solid 1px @gray;
  padding-left: @speechbox-padding-hori;
  padding-right: @speechbox-padding-hori;

  &:after {
    display: block;
  }

  @media screen and ( max-width: @breakpoint-mobile ){
    margin-bottom: @triangle-height + 20px;
  }
}