/////////////////////
// Spotlight Items //
/////////////////////

.spotlight-items .item-restaurant {
  opacity: 0.6;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.spotlight-items .item-title {
  margin-top: 6px;
}

.spotlight-items .item-img {
  border-radius: 4px;
}

.spotlight-items .item-actions {
  margin-top: 8px;
  padding-top: 8px;
  border-top: dotted #CCC 2px;
}