//////////////
// Tab Pane //
//////////////

.tab-pane {
  display: none;
  &.active {
    display: block;
    float: left;
    width: 100%;
  }
}

.tab-pane .tab-actions {
  margin-top: 12px;
  text-align: center;
}