///////////
// Table //
///////////

// Unlike bootstrap tables, keep selectors to a minimal
// to make overriding easier

.table {
  width: 100%;
}

.table .actions {
  text-align: right;
}

.table td {
  padding: 4px 8px;
  border-top: solid #CCC 1px;
  border-left: solid #CCC 1px;
}

.table tr > td:first-child {
  border-left: none;
}

.table.table-unbordered {
  td {
    border: none;
  }
}