///////////
// Table //
///////////

// Unlike bootstrap tables, keep selectors to a minimal
// to make overriding easier

.table {
  width: 100%;
}

.table .actions {
  text-align: right;
  padding: 4px;

  & > * {
    margin: 4px;
  }
}

.table td {
  padding: 4px 8px;
  border-top: solid #CCC 1px;
  border-left: solid #CCC 1px;
}

.table.table-lg td {
  padding: 8px;
}

.table tr > td:first-child {
  border-left: none;
}

.table th {
  padding: 0px 8px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 12px;
  font-weight: @regular;
  color: #111;
  text-align: left;
}

.table th.active,
.table th .active {
  font-weight: @bold;
}

.table-striped tr:nth-child(2n) td {
  background: @palette-gray-lighter;
}

.table tr.table-row-highlight {
  background-color: @palette-tan;
}

.table {
  .table-row-highlight('courier');
  .table-row-highlight('pickup');
  .table-row-highlight('delivery');
}

.table-row-highlight( @type ){
  @color: ~"@{type-@{type}}";
  & tr.table-row[data-order-type="@{type}"] {
    background-color: @color;
  }
}
